# Flask
Flask==2.3.*
blinker==1.6.*
click==8.1.*
itsdangerous==2.1.*
Jinja2==3.1.*
Werkzeug==2.3.*
MarkupSafe==2.1.*

# Socket
Flask-SocketIO==5.3.*
python-socketio==5.8.*
python-engineio==4.4.*
websocket-client==0.57.*
six==1.14.*

# Database
Flask-SQLAlchemy==3.0.*
SQLAlchemy==2.0.*

# gevent
gevent==22.10.*
gevent-websocket==0.10.*
greenlet==2.0.*
cffi==1.14.*

# Other
monotonic==1.5.*
pyserial==3.4.*
requests==2.30.*

# Pi IO
smbus2==0.4.*
RPi.GPIO==0.7.*
pi-ina219==1.4.*
RPi.bme280==0.2.*
