Flask==1.1.*
Flask_SocketIO==4.2.*
itsdangerous==1.1.*
Jinja2==2.11.*
MarkupSafe==1.1.*
python-engineio==3.11.*
python-socketio==4.4.*
six==1.14.*
Werkzeug==1.0.*
gevent==1.4.*
gevent-websocket==0.10.*
flask_sqlalchemy==2.4.*
monotonic==1.5.*
pyserial==3.4.*
