
<!doctype html>
<html>

<head>
    <title>Line Chart</title>
    <script src="./static/chartjs/Chart.bundle.js"></script>
    <script type="text/javascript" src="./static/jquery/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="./static/socket.io/1.3.5/socket.io.min.js"></script>
    <script>
        $(document).ready(function() {
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

            function append_to_log(text) {
                $('#log').append('<br>' + $('<div/>').text(text).html());
            }

            socket.on('heartbeat', function(msg) {
                append_to_log(msg.current_rssi.join(', '));
            });
        });
    </script>
    <style>
    canvas{
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>
</head>

<body>
</body>
    <div id="log"></div>
</html>
