{% extends "layout.html" %} {% block title %}{{ __('VRx Status') }}{% endblock %} {% block head %}
<script type="text/javascript" charset="utf-8">
	var data_dependencies = [
		'all_languages',
		'language',
		'vrx_list',
	];

	$(document).ready(function () {
		socket.on('language', function (msg) {
			if (msg.language) {
				rotorhazard.interface_language = msg.language;
			}
		});

		socket.on('vrx_list', function (msg) {
			$('#vrx-items').empty();

			for (var i in msg.vrx) {
				var item = $('<li>');
				var properties = $('<dl>');

				item.append('<dt>id</dt>');
				item.append('<dd>' + i + '</dd>');

				$.each(msg.vrx[i], function(key, val){
					item.append('<dt>' + key + '</dt>');
					item.append('<dd>' + val + '</dd>');
				})
				$('#vrx-items').append(item);
			}
		});
	});
</script>
<style>
#vrx-items {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

#vrx-items>li {
	margin: 0.5em;
	padding: 1em;
	border: solid 1px #eee;
}

dt {
	font-size: 0.75em;
	font-weight: bold;
	color: #999;
}

dd {
	padding: 0;
	margin: 0;
}

dd+dt {
	margin-top: 1em;
}

</style>
{% endblock %} {% block content %}
<main class="page-database">
<h1>{{ __('VRx Status') }}</h1>
<ul id="vrx-items"></ul>

</main>
{% endblock %}