body {
	background-color: #EEEEEE;
	margin: 0;
}

.delta5-header {
	/*background-color: #263238;*/
}

div.delta5-navigation {
	padding: 0 16px 0 16px;
}
a.delta5-navigation {
	padding: 0 8px !important;
}
button.delta5-navigation {
	height: 48px;
	padding: 0 8px;
}

h5 {
    margin: 16px 0px 4px 16px;
}

table.delta5-table {width: 140px;}
.delta5-table thead tr{height: 36px;}
.delta5-table th{height: 36px;padding: 3px 6px 3px 6px !important;font-size: 15px;}
.delta5-table tbody tr{height: 30px;}
.delta5-table td{height: 30px;padding: 3px 6px 3px 6px !important;}

.delta5-footer {
	background-color: #EEEEEE;
	position: relative;
}

