<div class="row">
	{% for heat in heats.query.with_entities(heats.heat_id).distinct().order_by(heats.heat_id) %}
	<div class='col-xs-6 col-md-3'>
		<div class='panel panel-default'>
			<div class="panel-heading">
				<h4 class="panel-title">{{ heat.heat_id }}</h4>
			</div>
			<table class="table">
				{% for node in range(num_nodes) %}
				<tr>
					<td>
						{{ channels[node] }} {{ frequencies[node] }}
					</td>
					<td>
						{{ pilots.query.filter_by(pilot_id= heats.query.filter_by(heat_id=heat.heat_id,node_index=node).first().pilot_id ).first().callsign }}
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	{% endfor %}
</div>