<style>
	.timing-clock {
		font-size: 14px;
	}
</style>

<!-- <audio id="countdown_tenseconds" src="./static/audio/countdown_tenseconds.mp3" type="audio/mp3"></audio>
<audio id="callout_thirtyseconds" src="./static/audio/callout_thirtyseconds.mp3" type="audio/mp3"></audio>
<audio id="callout_oneminute" src="./static/audio/callout_oneminute.mp3" type="audio/mp3"></audio>
<audio id="callout_twominutes" src="./static/audio/callout_twominutes.mp3" type="audio/mp3"></audio> -->

<script>
	function _timer(callback) {
		var time = 0; // The default time in seconds
		var mode = 1; // Count down is 0, count up is 1
		var status = 0; // Stopped is 0, running is 1
		var timer_id; // Used by setInterval function

		var buzzer = $('buzzer')[0]; // Buzzer audio tag is loaded on race page already

//		Not needed with new voice options
//		var countdown_tenseconds = $('countdown_tenseconds')[0];
//		var callout_thirtyseconds = $('callout_thirtyseconds')[0];
//		var callout_oneminute = $('callout_oneminute')[0];
//		var callout_twominutes = $('callout_twominutes')[0];

		// Start the timer
		this.start = function () {
			status = 1; // Set status to running
			timer_id = setInterval(function () {
				switch (mode) {
					default: // Default mode 0 for a countdown timer
						time--;
						break;
					case 1: // Mode 1 for a count up timer
						time++;
						break;
				}
				generateTime(); // Updates html timer text
				if (typeof (callback) === 'function') callback(time);
			}, 1000); // 1000 ms update rate
		}

		// Stop timer and clear update interval
		this.stop = function () {
			status = 0;
			clearInterval(timer_id);
		}

		// Stop the timer, set the time equal to the passed value, update html clock
		this.reset = function (reset_time) {
			this.stop(); // On a reset also stop the clock
			reset_time = (typeof (reset_time) !== 'undefined') ? reset_time : 0;
			time = reset_time;
			generateTime(time);
		}

		// Change the mode
		this.mode = function (new_mode) {
			mode = new_mode;
		}

		// Return the current time in seconds
		this.getTime = function () {
			return time;
		}

		// Return the current mode
		this.getMode = function () {
			return mode;
		}

		// Return the current status
		this.getStatus = function () {
			return status;
		}

		// This methode will render the time variable to minute:second format
		function generateTime() {
			var second = time % 60;
			var minute = Math.floor(time / 60);

			second = (second < 10) ? '0' + second : second; // Pad zero if under 10
			minute = (minute < 10) ? '0' + minute : minute;

			$('.timer_sec').html(second);
			$('.timer_min').html(minute);
		}
	}

	// Create the timer object
	var timer;
	timer = new _timer(
		function (time) {
			if (timer.getMode() == 0) { // Count down clock
				if (time == 0) { buzzer.play(); timer.stop(); } // End up race buzzer

				if (time == 10) {
					speak('<div class="timer">10 seconds</div>');
				}

				if (time == 5) {
					speak('<div class="timer">5 seconds</div>');
				}

				if (time == {{fix_race_time}}) { buzzer.play(); } // Start buzzer
			}

			if (timer.getMode() == 1) { // Count up clock
				if (time == 0) { buzzer.play(); } // Start buzzer
				if (time == 120) {
					speak('<div class="timer">2 minutes</div>');
				} //2 min call out
			}
			if (time == 30) { 
					ratenormal();
					speak('<div class="timer">30 seconds</div>');				
			} // 30 second call out
			if (time == 60) {
					ratenormal();
					speak('<div class="timer">1 minute</div>');				
			} // 1 min call out
		}
	);

	timer.reset({{fix_race_time}});
	timer.mode(0); // Set initial mode

</script>

<!--Timer html-->
<button class="btn btn-default timing-clock" onclick="this.blur();">
	<span class="timer_min">00</span>:<span class="timer_sec">00</span>
</button>
