<div class="row">
	<div class='col-xs-12 col-md-8'>
		<div class='panel panel-default'>
			<table class="table">
				<tbody>
					<tr>
						<td><b>Calibration Offset (Default 5)</b><br>Trigger is Peak Rssi minus Calibration Offset</td>
						<td>
							<input type="text" class="form-control set_calibration_offset">
						</td>
					</tr>
					<tr>
						<td><b>Calibration Threshold (Default 60)</b><br>Trigger minus Calibration Threshold ends calibration pass</td>
						<td>
							<input type="text" class="form-control set_calibration_threshold">
						</td>
					</tr>
					<tr>
						<td><b>Trigger Threshold (Default 30)</b><br>Trigger minus Trigger Threshold ends normal pass</td>
						<td>
							<input type="text" class="form-control set_trigger_threshold">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>