<div class="row">
	<div class='col-xs-12 col-md-4'>
		<div class='panel panel-default'>
			<table class="table">
				<thead>
					<tr>
						<th>Pilot ID</th>
						<th>Call Sign</th>
						<th>Name</th>
					</tr>
				</thead>
				<tbody>
					{% for pilot in pilots.query.all() %} {% if pilot.pilot_id != 0 %}
					<tr>
						<td>{{ pilot.pilot_id }}</td>
						<td>{{ pilot.callsign }}</td>
						<td>{{ pilot.name }}</td>
					</tr>
					{% endif %} {% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>