{% extends "layout.html" %} {% block title %}Hardware Log{% endblock %} {% block head %}
<script type="text/javascript" charset="utf-8">
	$(document).ready(function () {
		function append_to_log(text) {
			$('#log').prepend('<br>' + $('<div/>').text(text).html());
		}

		socket.on('hardware_log', function (msg) {
			append_to_log(msg);
		});
	});

</script>
{% endblock %} {% block content %}
<main class="page-status">
<!--Status messages from the timing system-->
<h2>{{ __('Hardware Log') }}</h2>
<div id="log"></div>
</main>
{% endblock %}