{% extends "layout.html" %} {% block title %}Heats{% endblock %} {% block head %} {% endblock %} {% block content %}
<script type="text/javascript" charset="utf-8">
	$(document).ready(function () {
		var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

		socket.emit('load_data', {'load_types': [
			'frequency_data',
			'heat_data',
			'pilot_data'
		]});

		socket.on('frequency_data', function (msg) {
			for (var i in msg.frequency) {
				if (typeof(d5rt.nodes[i]) === 'undefined') {
					d5rt.nodes[i] = new nodeModel();
				}
				d5rt.nodes[i].frequency = msg.frequency[i];
				freq.updateBlocks();
			}
		});

		socket.on('pilot_data', function (msg) {
			$(".pilots").empty();
			for (var i in msg.pilot_id) {
				if (msg.pilot_id[i] != 1) {
					var el = $('<li data-id="' + msg.pilot_id[i] + '">');
					el.append('<div class="name">'+ msg.name[i] + '</div>');
					el.append('<div class="callsign">' + msg.callsign[i] + '</div>');
					el.appendTo($('.pilots'));
				}
			}
		});

		socket.on('heat_data', function (msg) {
			$(".heats").empty();
			for (var i in msg.heats) {
				var heats = msg.heats[i];
				var el = $('<li>');
				if (heats.note) {
					el.append('<h3>' + heats.note + '</h3>');
				} else {
					el.append('<h3>Heat ' + heats.heat_id + '</h3>');
				}

				var nodelist = $('<ol>');
				var callsign;
				for (j in heats.pilots) {
					var heatpilot = heats.pilots[j];
					var slot = $('<li>');
					slot.append('<div class="channel-block" data-node="' + j + '"><span class="ch"></span> <span class="fr"></span></div>');

					callsign = '-None-';
					for (var k in msg.pilot_data.pilot_id) {
						if (msg.pilot_data.pilot_id[k] == heatpilot) {
							callsign = msg.pilot_data.callsign[k];
							break;
						}
					}

					slot.append('<div class="pilot-name">' + callsign + '</div');
					nodelist.append(slot);
				}

				el.append(nodelist);
				el.appendTo($('.heats'));
			}
			freq.updateBlocks();
		});

	});
</script>

<main class="page-heats">

<!--Display the heats-->

<h2>Heats</h2>
<ol class="heats">
	<li class="heat">Loading...</li>
</ol>

<!--Display the pilots-->
<h2>Pilots</h2>
<ul class="pilots">
	<li>Loading...</li>
</ul>

<div class="admin">
	<p><a href="/settings">Admin</a></p>
</div>

</main>
{% endblock %}