{% extends "layout.html" %} {% block title %}Heats{% endblock %} {% block head %} {% endblock %} {% block content %}
<script type="text/javascript" charset="utf-8">
	$(document).ready(function () {
		$('.channel-block').each(function(){
			var frequency = parseInt($(this).children('.fr').html());
			$(this).children('.ch').html(freqTable.findByFreq(frequency));
			if (frequency == 0) {
				$(this).children('.fr').html('');
			}
		});
	});
</script>

<main class="page-heats">

<!--Display the heats-->

<h2>Heats</h2>
<ol class="heats">
	{% for heat in heats.query.filter_by(node_index=0).order_by(heats.heat_id).all() %}
	<li class="heat">
		<h3>{% if heat.note %}
				{{ heat.note }}
			{% else %}
				Heat {{ heat.heat_id }}
			{% endif %}</h3>
		<ol>
			{% for node in range(num_nodes) %}
			<li>
				<div class="channel-block" data-node="{{ node }}"><span class="ch"></span> <span class="fr">{{ frequencies[node] }}</span></div>

				<div class="pilot-name">{{ pilots.query.filter_by(id= heats.query.filter_by(heat_id=heat.heat_id,node_index=node).first().pilot_id ).first().callsign
					}}</div>
			</li>
			{% endfor %}
		</ol>
	</li>
	{% endfor %}
</ol>

<!--Display the pilots-->
<h2>Pilots</h2>
<ul class="pilots">
	{% for pilot in pilots.query.order_by(pilots.callsign).all() %} {% if pilot.id != 1 %}
	<li>
		<div class="callsign">{{ pilot.callsign }}</div>
		<div class="name">{{ pilot.name }}</div>
	</li>
	{% endif %} {% endfor %}
</ul>

<div class="admin">
	<p><a href="/settings">Admin</a></p>
</div>

</main>
{% endblock %}