{% extends "layout.html" %} {% block title %}IMDTabler{% endblock %} {% block head %} {% endblock %} {% block content %}
<script type="text/javascript" charset="utf-8">
	$(document).ready(function () {
		var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

		socket.emit('load_data', {'load_types': [
			'imdtabler_data'
		]});

		socket.on('imdtabler_data', function (msg) {
			if (msg.table_data) {
				$('.table_data').html('<br><br><p>(' +
						__('Hover the mouse cursor over table cells for information') +
						')</p>' + msg.table_data);
			}
			else {
				$('.table_data').empty();
			}

		});
	});
</script>
<main class="page-imdtabler">

<h2>IMDTabler - {{ __('Intermodulation Distortion Table Generator') }}</h2>

<div class="heats">

<div class="table_data"><p>Loading...</p></div>

<p><br>IMD rating: A "perfect" table will be rated at 100; lower values are worse. For each (valid) cell in the table with a frequency-difference value less than 35, a value of (35-diff)^2 is added to a ratings total (the squaring is to make low-difference values detract more from the IMD rating). The ratings total is then divided by the number of selected frequencies and again by 5, and then subtracted from 100 to get the IMD rating.<br>
<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
&nbsp;&nbsp;&nbsp; 1&nbsp;&nbsp; &nbsp; &nbsp; 2&nbsp; &nbsp;
&nbsp;&nbsp; 3&nbsp; &nbsp; &nbsp;&nbsp; 4&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp; 5&nbsp; &nbsp; &nbsp;&nbsp; 6&nbsp; &nbsp; &nbsp;&nbsp;
7&nbsp; &nbsp; &nbsp;&nbsp; 8<br>
Band F: 5740 5760 5780 5800 5820 5840 5860 5880  (IRC NexWave / Fatshark)<br>
Band E: 5705 5685 5665 5645 5885 5905 5925 5945  (Boscam E / DJI)<br>
Band B: 5733 5752 5771 5790 5809 5828 5847 5866  (Boscam B)<br>
Band A: 5865 5845 5825 5805 5785 5765 5745 5725  (Boscam A / TBS / RC305)<br>
Band R:  5658 5695 5732 5769 5806 5843 5880 5917  (Raceband)

<br>
<br>
<br>

Web Links:&nbsp; <a href="http://www.etheli.com/IMD" target="_blank">IMDTools</a>,
<a href="http://etserv.etheli.com/IMDTabler/run" target="_blank">IMDTabler</a>,
<a href="http://etserv.etheli.com/FreqSetGen/run" target="_blank">FreqSetGen</a>
</p>

</div>
</main>
{% endblock %}