{% extends "layout.html" %} {% block title %}Laps{% endblock %} {% block head %} {% endblock %} {% block content %}
<script type="text/javascript" charset="utf-8">
	$(document).ready(function () {
		var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

		socket.emit('load_data', {'load_types': [
			'laps_statistic_data'
		]});

    socket.on('laps_statistic_data', function (msg) {
			var page = $('.page-laps')
            page.empty(); //clean the current page

            //if the have data in the top 10 laps we are good to go

            //display the header table with top 10 laps, top # of rounds and average values
            var panel = $('<div class="panel collapsing open">');
            var panel_header = $('<div class="panel-header"><h2>Top Laps over all pilots</h2>');
            panel.append(panel_header);
            var panel_content = $('<div class="panel-content">');
            var Top_Laps_div = $('<div class="race-results">');

            //Top 10 Laps
            var Top_Laps = $('<div class="node">');
            var Top_laps_Pilot_div = $('<div class="results">');
            var table = $('<table class="laps">');
            var tbody = $('<tbody>');
            Top_laps_Pilot_div.append('<h4> Top 10 laps</h4>')
            for (var lap in msg.total_top_fastes_laps) {
                tbody.append('<tr><td>' + msg.total_top_fastes_laps[lap][0] + '</td><td>' + msg.total_top_fastes_laps[lap][1] + '</td></tr>');
            }
            table.append(tbody);
            Top_laps_Pilot_div.append(table);
            Top_Laps.append(Top_laps_Pilot_div);
            Top_Laps_div.append(Top_Laps);
            //Top Laps per pilot END

            //Top number of laps START
            var Top_Laps = $('<div class="node">');
            var Top_laps_Pilot_div = $('<div class="results">');
            var table = $('<table class="laps">');
            var tbody = $('<tbody>');
            Top_laps_Pilot_div.append('<h4> # of laps completed</h4>')
            for (var lap in msg.top_pilot_lapnumber_array) {
                tbody.append('<tr><td>' + msg.top_pilot_lapnumber_array[lap][0] + '</td><td>' + msg.top_pilot_lapnumber_array[lap][1] + '</td></tr>');
            }
            table.append(tbody);
            Top_laps_Pilot_div.append(table);
            Top_Laps.append(Top_laps_Pilot_div);
            Top_Laps_div.append(Top_Laps);
            //Top number of laps END

            //Top Laps per pilot start
            var Top_Laps = $('<div class="node">');

            var Top_laps_Pilot_div = $('<div class="results">');
            var table = $('<table class="laps">');
            var tbody = $('<tbody>');
            Top_laps_Pilot_div.append('<h4> Top lap per pilot</h4>')
            for (var lap in msg.top_pilot_fastes_lap_array) {
                tbody.append('<tr><td>' + msg.top_pilot_fastes_lap_array[lap][0] + '</td><td>' + msg.top_pilot_fastes_lap_array[lap][1] + '</td></tr>');
            }
            table.append(tbody);
            Top_laps_Pilot_div.append(table);
            Top_Laps.append(Top_laps_Pilot_div);
            Top_Laps_div.append(Top_Laps);
            //Top Laps per pilot END

            //Top 50% avg START
            var Top_Laps = $('<div class="node">');
            var Top_laps_Pilot_div = $('<div class="results">');
            var table = $('<table class="laps">');
            var tbody = $('<tbody>');
            Top_laps_Pilot_div.append('<h4> Top 50% avg</h4>')
            for (var lap in msg.top_pilot_50_avg_array) {
                tbody.append('<tr><td>' + msg.top_pilot_50_avg_array[lap][0] + '</td><td>' + msg.top_pilot_50_avg_array[lap][1] + '</td></tr>');
            }
            table.append(tbody);
            Top_laps_Pilot_div.append(table);
            Top_Laps.append(Top_laps_Pilot_div);
            Top_Laps_div.append(Top_Laps);
            //Top 50% avg END

            //Top 80% avg START
            var Top_Laps = $('<div class="node">');
            var Top_laps_Pilot_div = $('<div class="results">');
            var table = $('<table class="laps">');
            var tbody = $('<tbody>');
            Top_laps_Pilot_div.append('<h4> Top 80% avg</h4>')
            for (var lap in msg.top_pilot_80_avg_array) {
                tbody.append('<tr><td>' + msg.top_pilot_80_avg_array[lap][0] + '</td><td>' + msg.top_pilot_80_avg_array[lap][1] + '</td></tr>');
            }
            table.append(tbody);
            Top_laps_Pilot_div.append(table);
            Top_Laps.append(Top_laps_Pilot_div);
            Top_Laps_div.append(Top_Laps);
            //Top 80% avg END

            //Top 90% avg START
            var Top_Laps = $('<div class="node">');
            var Top_laps_Pilot_div = $('<div class="results">');
            var table = $('<table class="laps">');
            var tbody = $('<tbody>');
            Top_laps_Pilot_div.append('<h4> Top 90% avg</h4>')
            for (var lap in msg.top_pilot_90_avg_array) {
                tbody.append('<tr><td>' + msg.top_pilot_90_avg_array[lap][0] + '</td><td>' + msg.top_pilot_90_avg_array[lap][1] + '</td></tr>');
            }
            table.append(tbody);
            Top_laps_Pilot_div.append(table);
            Top_Laps.append(Top_laps_Pilot_div);
            Top_Laps_div.append(Top_Laps);
            //Top 90% avg END



            panel_content.append(Top_Laps_div);
            panel.append(panel_content);
            page.append(panel);

            //END Top Laps over all pilots

            //Start pilot Details that are showing all Laps per Pilot

            var pilot_details_panel = $('<div class="panel collapsing open">');
            var pilot_details_panel_header = $('<div class="panel-header"><h2>Pilot Details</h2>');
            pilot_details_panel.append(pilot_details_panel_header);
            var pilot_details_panel_content = $('<div class="panel-content">');
            var pilot_details_div = $('<div class="race-results">');



            for (var pilot_number in msg.pilot_details_array) {
                if (pilot_number > 0) {
                    var pilot_details_Laps = $('<div class="node">');
                    var single_pilot_details_div = $('<div class="results">');
                    var table = $('<table class="laps">');
                    var tbody = $('<tbody>');
                    header_str = msg.pilot_details_array[pilot_number][0] + "<br> # of laps: " + msg.pilot_details_array[pilot_number][2];
                    //add the pilot average lap times to the Header
                    for (var stat_numer in msg.pilot_details_array[pilot_number][3]) {
                        header_str += "<br>" + msg.pilot_details_array[pilot_number][3][stat_numer];
                    }

                    single_pilot_details_div.append('<h4> ' + header_str +  '</h4>');
                    for (var lap_number in msg.pilot_details_array[pilot_number][1]) {
                        tbody.append('<tr><td>' + msg.pilot_details_array[pilot_number][1][lap_number] + '</td ></tr > ');
                          }
                    table.append(tbody);

                    single_pilot_details_div.append(table);
                    pilot_details_Laps.append(single_pilot_details_div);
                    pilot_details_div.append(pilot_details_Laps);
                }
            }



            pilot_details_panel_content.append(pilot_details_div);
            pilot_details_panel.append(pilot_details_panel_content);

            page.append(pilot_details_panel);


            //END pilot Details that are showing all Laps per Pilot

		});
	});
</script>
<main class="page-laps">

    <p>Loading...</p>

</main>
<!-- display the fastet laps-->


        {% endblock %}
