<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Delta5 VTX Timer">
	<title>{% block title %}{% endblock %}: Delta5 Race Timer</title>

	<!-- Script libraries -->
	<script type="text/javascript" src="./static/jquery-3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="./static/articulate/articulate.js"></script>
	<script type="text/javascript" src="./static/socket.io-1.3.5/socket.io.min.js"></script>
	<script type="text/javascript" src="./static/smoothie/smoothie.js"></script>

	<!-- D5RT -->
	<script type="text/javascript" src="./static/d5rt.js"></script>
	<link rel="stylesheet" href="./static/d5rt.css"></link>

	<!-- Child template head content -->
	{% block head %}{% endblock %}
</head>

<body>
	<header>
		<div id="logo">Delta 5 Race Timer</div>
		<nav id="nav-main">
			<ul>
				<li><a href="/">Heats</a></li>
				<li><a href="/results">Results</a></li>
				<li><a href="/current">Current</a></li>
				<li class="admin-hide"><a href="/race">Run</a></li>
				<li class="admin-hide"><a href="/settings">Settings</a></li>
			</ul>
		</nav>
	</header>

	<!--Child template content-->
	{% block content %}{% endblock %}
</body>

</html>