{% extends "layout.html" %} {% block title %}Race{% endblock %}{% block head %}
<script type="text/javascript" charset="utf-8">
	var socket = false;
	var request_time;
	var resume_check = true;
	var buzzer = false;
	var stagebuzzer = false;

	var speakObjsQueue = [];
	var checkSpeakQueueFlag = true;

	$(document).ready(function () {
		socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

		socket.emit('load_data', {'load_types': [
			'node_data',
			'pilot_data',
			'leaderboard',
			'current_laps',
			'race_status',
			'current_heat',
			'team_racing_stat_if_enb'
		]});

		// set up nodes
		$('.node').each(function(){
			var node_id = parseInt($(this).data('id'));
			d5rt.nodes[node_id] = new nodeModel();
		});

		// populate voice controls
		$('#voice-calls').val(parseInt(d5rt.primaryPilot));
		$().articulate('volume', d5rt.voice_volume);
		$('#set_voice_volume').val(d5rt.voice_volume);

		socket.on('race_elapsed', function (msg) {
			var response_time = new Date();
			var server_delay = ((response_time - request_time) / 2);
			if (timer.getStatus() == 1) {
				var elapsed = msg.elapsed + server_delay;
				setTimeout(function(){
					if (timer.getMode()) {
						// Count up mode
						timer.stop();
						timer.reset(Math.floor(elapsed / 1000) + 1);
						timer.continue(); // Start clock without fanfare
					} else {
						// Count down mode
						var remaining = timer.getRaceDuration() - Math.floor(elapsed / 1000);

						if (remaining > 1) { // don't attempt to sync very late
							timer.stop();
							timer.reset(timer.getRaceDuration() - Math.floor(elapsed / 1000));
							timer.continue(); // Start clock without fanfare
						} else {
							timer.reset(0);
						}
					}
				}, 1000 - (elapsed % 1000));
			}
		});

		socket.on('race_status', function (msg) {
			switch (msg.race_status) {
				case 1: // Race running
					$('body').addClass('race-running');
					$('body').removeClass('race-stopped');
					$('body').removeClass('race-new');
					if (resume_check) {
						timer.reset(0);
						timer.continue();
					}
					break;
				case 2: // Race stopped, clear or save laps
					$('body').addClass('race-stopped');
					$('body').removeClass('race-running');
					$('body').removeClass('race-new');
					break;
				default: // Waiting to start new race
					$('body').addClass('race-new');
					$('body').removeClass('race-running');
					$('body').removeClass('race-stopped');
			}
			timer.mode(msg.race_mode);
			timer.setRaceDuration(msg.race_time_sec);

			// resume race if needed
			if (resume_check) {
				resume_check = false;
				request_time = new Date();
				socket.emit('get_race_elapsed');
			}
		});

		socket.on('heartbeat', function (msg) {
			if (speakObjsQueue.length > 0) {
				var isSpeakingFlag = $().articulate('isSpeaking');
				if (checkSpeakQueueFlag) {
					if (!isSpeakingFlag) {
						var obj = speakObjsQueue.shift();
						if (speakObjsQueue.length > 0)
							checkSpeakQueueFlag = false;
						doSpeak(obj);
					}
				}  //make sure previous speak has started before checking queue again
				else if (isSpeakingFlag)
					checkSpeakQueueFlag = true;
			}
		});

		socket.on('node_data', function (msg) {
			for (i = 0; i < msg.frequency.length; i++) {
				d5rt.nodes[i].frequency = msg.frequency[i];
				freq.updateBlocks();
			}
		});

		socket.on('current_laps', function (msg) {
			$.each(msg.node_index, function (i, node_index) { // i is loop num, node_index is json array
				$('#current_laps_' + i + ' tbody > tr').remove();
				$.each(node_index.lap_id, function (j, lap_id) { // j is loop num, lap_id is not used
					if (node_index.lap_id[j] == 0) {
						var $tr = $('<tr class="lap_0">').append(
							$('<td>').text(node_index.lap_id[j]),
							$('<td>').text(node_index.lap_time[j])
						).appendTo('#current_laps_' + i);
					}
					else {
						var $tr = $('<tr>').append(
							$('<td>').text(node_index.lap_id[j]),
							$('<td>').text(node_index.lap_time[j])
						).appendTo('#current_laps_' + i);
					}
				});
			});
		});

		socket.on('leaderboard', function (msg) {
			$('#leaderboard').empty();
			$('#leaderboard').append(build_leaderboard(msg, 'current'));
		});

		socket.on('phonetic_data', function (msg) {
			if (d5rt.primaryPilot == 0 || d5rt.primaryPilot == msg.pilot_id) {
				var pilot = msg.callsign;
				if (msg.pilot)
					pilot = msg.pilot;

				var $ttstest = pilot + " lap " + msg.lap + ": " + msg.phonetic;
				speak('<div class="speech">' + $ttstest + '</div>');
			}
		})

		socket.on('current_heat', function (msg) {
			var heatname = 'Heat ' + msg.current_heat;
			if (msg.heat_note)
				heatname = msg.heat_note;

			$('.current_heat').html(heatname);
			for (i = 0; i < msg.callsign.length; i++) {
				$('.callsign_' + i).html(msg.callsign[i]);
			}
		});

		socket.on('prestage_ready', function (msg) {
			request_time = new Date();
		});

		socket.on('stage_ready', function (msg) {
			var response_time = new Date();
			var server_delay = ((response_time - request_time) / 2);

			var data = { // supply delay to stage 2
				delay: msg.start_delay
			}
			setTimeout(function(){
				timer.mode(msg.race_mode);
				timer.setRaceDuration(msg.race_time_sec);
				timer.reset();
				timer.pre_race(msg.start_delay, msg.hide_stage_timer);
				timer.start(); // Start clock

				race_mode = msg.race_time_sec;
			}, server_delay);
		});

		socket.on('stop_timer', function (msg) {
			timer.stop();
		});

		socket.on('pilot_data', function (msg) {
			var voices = $("#voice-calls");
			voices.empty();
			voices.append('<option value="-1">None</option>');
			voices.append('<option value="0">All</option>');
			for (var i in msg.pilot_id) {
				if (msg.pilot_id[i] != 1) {
					voices.append('<option value="' + msg.pilot_id[i] + '">' + msg.callsign[i] + ' (' + msg.name[i] + ')</option>')
				}
			}
			voices.val(d5rt.primaryPilot);
		});

		/* Voice */
		// construct language selection
		$('#voice_select').after('<select id="set_language" class="set_language">');
		var voices = $().articulate('getVoices');

		for (var i in voices) {
			$('.set_language').append('<option>'+ voices[i].name + '</option>');
		}
		$('.set_language').val(d5rt.language).attr('selected', 'selected');

		$('.set_language').change(function (event) {
			d5rt.language = $(this).val();
			d5rt.saveData();
		});

		$('#voice-calls').change(function(){
			d5rt.primaryPilot = parseInt($(this).val());
			d5rt.saveData();
		});

		$('#set_voice_volume').on('input', function (event) {
			$().articulate('volume', $(this).val());
		});

		$('#set_voice_volume').on('change', function (event) {
			d5rt.voice_volume = parseFloat($(this).val());
		});
	});

	function doSpeak(obj) {
		$(obj).articulate('setVoice','name', d5rt.language).articulate('speak');
	};

	function speak(obj, priority) {
		if (typeof(priority)=='undefined')
			priority = false;

		if (priority) {
			speakObjsQueue.unshift(obj);
		} else {
			speakObjsQueue.push(obj);
		}
	};

</script>
{% endblock %} {% block content %}
<main class="page-racepublic">

<div class="panel">
	<div class="panel-content">
		<!--Buttons for controlling the race-->
		<p>{% include "build_timer.html" %}</p>

		<h2 class="current_heat">Loading...</h2>

		<!--Display the race leaderboard-->
		<div id="leaderboard"></div>

		<!--Display the current laps-->
		<div class="race-results">
			{% for node in range(num_nodes) %}
			<div class="node" data-id="{{ node }}">
				<h4 class="callsign_{{ node }}">Loading...</h4>
				<div class="channel-block" data-node="{{ node }}"><span class="ch"></span> <span class="fr"></span></div>
				<table class="laps" id="current_laps_{{ node }}">
					<tbody>
					</tbody>
				</table>
			</div>
			{% endfor %}
		</div>
	</div>
</div>


<!--Voice Settings-->
<div class="panel collapsing">
	<div class="panel-header">
		<h2>Audio Control</h2>
	</div>
	<div class="panel-content">

		<ol class="form">
			<li>
				<div class="label-block" id="voice_select">
					<label for="set_language">Voice Select</label>
				</div>
			</li>
			<li>
				<div class="label-block">
					<label for="voice-calls">Voice Calls</label>
				</div>
				<select id="voice-calls">
					<option value="-1">Loading...</option>
				</select>
			</li>
			<li>
				<div class="label-block">
					<label for="set_voice_volume">Voice Volume</label>
				</div>
				<input type="range" id="set_voice_volume" min="0" max="1.0" step="0.01">
			</li>
		</ol>
	</div>
</div>

</main>
{% endblock %}
