{% extends "layout.html" %} {% block title %}Rounds{% endblock %} {% block head %} {% endblock %} {% block content %}
<script type="text/javascript" charset="utf-8">
	$(document).ready(function () {
		var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

		socket.emit('load_data', {'load_types': [
			'round_data'
		]});

		socket.on('round_data', function (msg) {
			var page = $('.page-rounds')
			page.empty();

			if (msg.heats.length) {
				for (var heat_i in msg.heats) {
					var heat = msg.heats[heat_i];

					var panel = $('<div class="panel collapsing">');
					var panel_header = $('<div class="panel-header">');

					if (heat.note) {
						panel_header.append('<h2>' + heat.note + '</h2>');
					} else {
						panel_header.append('<h2>Heat ' + heat.heat_id + '</h2>');
					}
					panel.append(panel_header);

					var panel_content = $('<div class="panel-content">');
					for (var round_i in heat.rounds) {
						var round = heat.rounds[round_i];
						var round_div = $('<div class="round">');

						round_div.append('<h3>Round ' + round.id + '</h3>')

						var race_results = $('<div class="race-results">');

						for (var node_i in round.nodes) {
							var node = round.nodes[node_i];
							var node_div = $('<div class="node">');

							node_div.append('<h4>' + node.pilot + '</h4>')

							var table = $('<table class="laps">');
							var tbody = $('<tbody>');

							for (var lap_i in node.laps) {
								var lap = node.laps[lap_i];
								tbody.append('<tr><td>' + lap.id + '</td><td>' + lap.lap_time_formatted + '</td></tr>')

							}

							table.append(tbody);
							node_div.append(table);
							race_results.append(node_div);
						}
						round_div.append(race_results);
						panel_content.append(round_div);
					}
					panel.append(panel_content);

					page.append(panel)
				}
			} else {
				page.append('<p>There is no saved race data available to view.</p>');
			}
		});
	});
</script>
<main class="page-rounds">

<p>Loading...</p>

</main>
{% endblock %}