{% extends "layout.html" %} {% block title %}Settings{% endblock %} {% block head %}
<script type="text/javascript" charset="utf-8">
	function voice_label(idlang) {
		switch (idlang) {
		case 1:
			$('.sel_lang').html("David - English (United States) en-US");
			break;
		case 2:
			$('.sel_lang').html("Zira - English (United States) en-US");
			break;
		case 3:
			$('.sel_lang').html("US English en-US");
			break;		
		case 4:
			$('.sel_lang').html("UK English Female en-GB");
			break;		
		case 5:
			$('.sel_lang').html("UK English Male en-GB");
			break;		
		case 6:
			$('.sel_lang').html("Deutsch de-DE");
			break;		
		case 7:
			$('.sel_lang').html("español es-ES");
			break;		
		case 8:
			$('.sel_lang').html("español de Estados Unidos es-US");
			break;		
		case 9:
			$('.sel_lang').html("français fr-FR");
			break;		
		case 10:
			$('.sel_lang').html("हिन्दी hi-IN");
			break;		
		case 11:
			$('.sel_lang').html("Bahasa Indonesia id-ID");
			break;		
		case 12:
			$('.sel_lang').html("italiano it-IT");
			break;		
		case 13:
			$('.sel_lang').html("日本語 ja-JP");
			break;		
		case 14:
			$('.sel_lang').html("한국의 ko-KR");
			break;		
		case 15:
			$('.sel_lang').html("Nederlands nl-NL");
			break;		
		case 16:
			$('.sel_lang').html("polski pl-PL");
			break;		
		case 17:
			$('.sel_lang').html("português do Brasil pt-BR");
			break;		
		case 18:
			$('.sel_lang').html("русский ru-RU");
			break;		
		case 19:
			$('.sel_lang').html("國語（臺灣） zh-TW");
			break;		
		default:
			$('.sel_lang').html("None");
			break;
		}		
	}
	
	$(document).ready(function () {
		var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

		voice_label( {{ lang_id }} );
		
		socket.on('heartbeat', function (msg) {
			for (i = 0; i < msg.current_rssi.length; i++) {
				$('.current_rssi_' + i).html(msg.current_rssi[i]);
			}
		});

		socket.on('node_data', function (msg) {
			for (i = 0; i < msg.frequency.length; i++) {
				$('.channel_' + i).html(msg.channel[i] + ' ' + msg.frequency[i]);
				$('.trigger_rssi_' + i).html(msg.trigger_rssi[i]);
				$('.peak_rssi_' + i).html(msg.peak_rssi[i]);
			}
		});

		socket.on('node_tuning', function (msg) {
			$('.set_calibration_threshold').val( msg.calibration_threshold);
			$('.set_calibration_offset').val( msg.calibration_offset);
			$('.set_trigger_threshold').val( msg.trigger_threshold);
			$('.set_profile_name').val( msg.profile_name);
			$('.set_profile_description').val( msg.profile_description);

		});

		socket.on('set_fix_race_time', function (msg) {
			$('.set_fix_race_time').val( msg.fix_race_time);
		});

		socket.on('heat_data', function (msg) {
			$.each(msg.heat_id, function (i, heat_id) {
				$.each(heat_id.callsign, function (j, callsign) {
					$('.heat_' + (i + 1) + '_node_' + j).html(callsign);
				});
			});
		});

		socket.on('pilot_data', function (msg) {
			for (i = 0; i < msg.callsign.length; i++) {
				$('.callsign_' + i).attr('value', msg.callsign[i]);
				$('.name_' + i).attr('value', msg.name[i]);
			}
		});
		
		socket.on('language_data', function (msg) {
			var $langid = msg.language;
			sellang = $langid;
			voice_label($langid);
		});

		socket.on('speak_phonetic_text', function (msg) {
			var $ttstext = msg.text;
			speak('<div class="speech">' + $ttstext + '</div> div.speech');				
		})
		
		$('.set_frequency li a').click(function (event) {
			var data = {
				node: parseInt($(this).data('node')),
				frequency: parseInt($(this).data('frequency'))
			};
			socket.emit('set_frequency', data);
		})

		$('.set_language li a').click(function (event) {
			var data = {
				language: parseInt($(this).data('language'))
			};
			socket.emit('set_language', data);
		})		
		
		$('.set_pilot_position li a').click(function (event) {
			var data = {
				heat: parseInt($(this).data('heat')),
				node: parseInt($(this).data('node')),
				pilot: parseInt($(this).data('pilot'))
			};
			socket.emit('set_pilot_position', data);
		})

		$('.set_pilot_callsign').change(function (event) {
			var data = {
				pilot_id: parseInt($(this).data('pilot_id')),
				callsign: $(this).val()
			};
			socket.emit('set_pilot_callsign', data);
		})

		$('.set_pilot_phonetic').change(function (event) {
			var data = {
				pilot_id: parseInt($(this).data('pilot_id')),
				phonetic: $(this).val()
			};
			socket.emit('set_pilot_phonetic', data);
		})		
		
		$('.set_pilot_name').change(function (event) {
			var data = {
				pilot_id: parseInt($(this).data('pilot_id')),
				name: $(this).val()
			};
			socket.emit('set_pilot_name', data);
		})

		$('.set_calibration_threshold').change(function (event) {
			var data = {
				calibration_threshold: parseInt($(this).val())
			};
			socket.emit('set_calibration_threshold', data);
		})

		$('.set_calibration_offset').change(function (event) {
			var data = {
				calibration_offset: parseInt($(this).val())
			};
			socket.emit('set_calibration_offset', data);
		})

		$('.set_trigger_threshold').change(function (event) {
			var data = {
				trigger_threshold: parseInt($(this).val())
			};
			socket.emit('set_trigger_threshold', data);
		})
		$('.set_profile_name').change(function (event) {
			var data = {
				profile_name: $(this).val()
			};
			socket.emit('set_profile_name', data);
			window.location.href = "/settings";
		})

		$('.set_profile_description').change(function (event) {
			var data = {
				profile_desciption: $(this).val()
			};
			socket.emit('set_profile_desciption', data);

		})
		$('button#add_heat').click(function (event) {
			socket.emit('add_heat');
			window.location.href = "/settings"; // Update to not need page reload
			// This isn't getting an updated database I think
			// $( "#heats" ).empty();
			// document.getElementById("heats").innerHTML = // jinja template include
			return false;
		});

		$('button#add_pilot').click(function (event) {
			socket.emit('add_pilot');
			window.location.href = "/settings"; // Update to not need page reload
			// This isn't getting an updated database I think
			// $( "#heats" ).empty();
			// document.getElementById("heats").innerHTML = // jinja template include
			return false;
		});
		$('button#speak_pilot').click(function (event) {
			var data = {
				pilot_id: parseInt($(this).data('pilot_id')),
				phonetic: $(this).val()
			};
			socket.emit('speak_pilot', data);
			return false;
		});
		$('button#add_profile').click(function (event) {
			socket.emit('add_profile');
			window.location.href = "/settings"; // Update to not need page reload
			return false;
		});
		$('button#delete_profile').click(function (event) {
			socket.emit('delete_profile');
			window.location.href = "/settings"; // Update to not need page reload
			return false;
		});
		$('button#reset_database').click(function (event) {
			socket.emit('reset_database');
			window.location.href = "/settings"; // Update to not need page reload
			return false;
		});

		$('button#reset_database_keep_pilots').click(function (event) {
			socket.emit('reset_database_keep_pilots');
			window.location.href = "/settings"; // Update to not need page reload
			return false;
		});

		$('button#shutdown_pi').click(function (event) {
			socket.emit('shutdown_pi');
			return false;
		});


		$('.set_profile li a').click(function (event) {
			var data = {
				profile: $(this).data('profile')
			};
			$('button#set_profile').html($(this).data('profile'));
			socket.emit('set_profile', data);
		})

		$('.set_fix_race_time').change(function (event) {
			var data = {
				race_time: parseInt($(this).val())
			};
			socket.emit('set_fix_race_time', data);
		})

	});

	var sellang = {{ lang_id }};

	function speak(obj) {
		switch (sellang) {
			case 1:
				$(obj).articulate('setVoice','name','Microsoft David Desktop - English (United States)').articulate('speak');
				break;
			case 2:
				$(obj).articulate('setVoice','name','Microsoft Zira Desktop - English (United States)').articulate('speak');
				break;
			case 3:
				$(obj).articulate('setVoice','name','Google US English').articulate('speak');
				break;
			case 4:
				$(obj).articulate('setVoice','name','Google UK English Female').articulate('speak');
				break;
			case 5:
				$(obj).articulate('setVoice','name','Google UK English Male').articulate('speak');
				break;
			case 6:
				$(obj).articulate('setVoice','name','Google Deutsch').articulate('speak');
				break;			
			case 7:
				$(obj).articulate('setVoice','name','Google español').articulate('speak');
				break;
			case 8:
				$(obj).articulate('setVoice','name','Google español de Estados Unidos').articulate('speak');
				break;
			case 9:
				$(obj).articulate('setVoice','name','Google français').articulate('speak');
				break;
			case 10:
				$(obj).articulate('setVoice','name','Google हिन्दी').articulate('speak');
				break;
			case 11:
				$(obj).articulate('setVoice','name','Google Bahasa Indonesia').articulate('speak');
				break;
			case 12:
				$(obj).articulate('setVoice','name','Google italiano').articulate('speak');
				break;
			case 13:
				$(obj).articulate('setVoice','name','Google 日本語').articulate('speak');
				break;
			case 14:
				$(obj).articulate('setVoice','name','Google 한국의').articulate('speak');
				break;
			case 15:
				$(obj).articulate('setVoice','name','Google Nederlands').articulate('speak');
				break;
			case 16:
				$(obj).articulate('setVoice','name','Google polski').articulate('speak');
				break;
			case 17:
				$(obj).articulate('setVoice','name','Google português do Brasil').articulate('speak');
				break;
			case 18:
				$(obj).articulate('setVoice','name','Google русский').articulate('speak');
				break;
			case 19:
				$(obj).articulate('setVoice','name','Google 國語（臺灣）').articulate('speak');
				break;
		}
	};

	function ratenormal(obj) {
		$(obj).articulate('rate', 1.0);
	};
	function ratefast(obj) {
		$(obj).articulate('rate', 3.0);
	};

</script>
{% endblock %} {% block content %}

<!--Display node data-->
<h4>Nodes</h4>
<div class="row">
	{% for node in range(num_nodes) %}
	<div class='col-xs-8 col-sm-4 col-md-2'>
		<div class='panel panel-default'>
			<div class="panel-heading">
				<h4 class="panel-title">{{ node + 1 }}</h4>
			</div>
			<table class="table">
				<tr>
					<td colspan="2">
						Freq.
						<!--Need to have two drop downs, band and frequency, one drop is long of a list-->
						<div class="btn-group">
							<button class="btn btn-default dropdown-toggle channel_{{ node }}" type="button" data-toggle="dropdown" aria-haspopup="true"
							 aria-expanded="true"></button>
							<ul class="dropdown-menu set_frequency">
								{% for frequency in frequencies.query.all() %}
								<li><a role="button" data-node="{{ node }}" data-frequency="{{ frequency.frequency }}">{{ frequency.channel }} {{ frequency.frequency }}</a></li>
								{% endfor %}
							</ul>
						</div>
					</td>
				</tr>
				<tr>
					<td>RSSI</td>
					<td>
						<span class="current_rssi_{{ node }}"></span>
					</td>
				</tr>
				<tr>
					<td>Trigger</td>
					<td>
						<span class="trigger_rssi_{{ node }}"></span>
					</td>
				</tr>
				<tr>
					<td>Peak</td>
					<td>
						<span class="peak_rssi_{{ node }}"></span>
					</td>
				</tr>
			</table>
		</div>
	</div>
	{% endfor %}
</div>

<!--Heats list for editing-->
<h4>Heats
	<button type="button" class="btn btn-default" id="add_heat" onclick="this.blur();">Add Heat</button>
</h4>
<p>Don't change a heat after it has a saved race.</p>
<div id="heats">
	<div class="row">
		{% for heat in heats.query.with_entities(heats.heat_id).distinct() %}
		<div class='col-xs-8 col-md-4'>
			<div class='panel panel-default'>
				<div class="panel-heading">
					<h4 class="panel-title">{{ heat.heat_id }} (Heat note)</h4>
				</div>
				<table class="table">
					{% for node in range(num_nodes) %}
					<tr>
						<td>
							<div class="channel_{{ node }}"></div>
						</td>
						<td>
							<div class="btn-group">
								<button class="btn btn-default dropdown-toggle heat_{{ heat.heat_id }}_node_{{ node }}" type="button" data-toggle="dropdown"
								 aria-haspopup="true" aria-expanded="true">
								{{ pilots.query.filter_by(pilot_id=
									heats.query.filter_by(heat_id=heat.heat_id,node_index=node).first().pilot_id
									).first().callsign }}
								</button>
								<ul class="dropdown-menu set_pilot_position">
									{% for pilot in pilots.query.all() %}
									<li><a role="button" data-heat="{{ heat.heat_id }}" data-node="{{ node }}" data-pilot="{{ pilot.pilot_id }}">{{ pilot.callsign }}</a></li>
									{% endfor %}
								</ul>
							</div>
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

<!--Pilots list for editing-->
<h4>Pilots
	<button type="button" class="btn btn-default" id="add_pilot" onclick="this.blur();">Add Pilot</button>
</h4>
<p>Spelling corrections only after saving races.</p>
<div class="row">
	<div class='col-xs-16 col-md-8'>
		<div class='panel panel-default'>
			<table class="table">
				<thead>
					<tr>
						<th>Pilot ID</th>
						<th>Call Sign</th>
						<th>Phonetic</th>
						<th></th>
						<th>Name</th>
						</tr>
				</thead>
				<tbody>
					{% for pilot in pilots.query.all() %} {% if pilot.pilot_id != 0 %}
					<tr>
						<td>{{ pilot.pilot_id }}</td>
						<td>
							<input type="text" class="form-control set_pilot_callsign callsign_{{ pilot.pilot_id }}" data-pilot_id="{{ pilot.pilot_id }}"
							 value="{{ pilot.callsign }}">
						</td>
						<td>
							<input type="text" class="form-control set_pilot_phonetic phonetic_{{ pilot.pilot_id }}" data-pilot_id="{{ pilot.pilot_id }}"
							 value="{{ pilot.phonetic }}">
						</td>
						<td>
							<button type="button" class="btn btn-default" id="speak_pilot" onclick="this.blur();" data-pilot_id="{{ pilot.pilot_id }}">&#9658;</button>
						</td>
						<td>
							<input type="text" class="form-control set_pilot_name name_{{ pilot.pilot_id }}" data-pilot_id="{{ pilot.pilot_id }}" value="{{ pilot.name }}">
						</td>
					</tr>
					{% endif %} {% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

<!--Display Voice-->
<h4>Voice Selection</h4>
<div class="row">
	<div class='col-xs-8 col-sm-4 col-md-2'>
						<div class="btn-group">
							<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
							 aria-expanded="true"><span class="sel_lang"></span></button>
							<ul class="dropdown-menu set_language">
								<li><a role="button" data-language="0">None</a></li>
								<li><a role="button" data-language="1">David - English (United States en-US</a></li>
								<li><a role="button" data-language="2">Zira - English (United States) en-US</a></li>
								<li><a role="button" data-language="3">US English en-US</a></li>
								<li><a role="button" data-language="4">UK English Female en-GB</a></li>
								<li><a role="button" data-language="5">UK English Male en-GB</a></li>
								<li><a role="button" data-language="6">Deutsch de-DE</a></li>
								<li><a role="button" data-language="7">español es-ES</a></li>
								<li><a role="button" data-language="8">español de Estados Unidos es-US</a></li>
								<li><a role="button" data-language="9">français fr-FR</a></li>
								<li><a role="button" data-language="10">हिन्दी hi-IN</a></li>
								<li><a role="button" data-language="11">Bahasa Indonesia id-ID</a></li>
								<li><a role="button" data-language="12">italiano it-IT</a></li>
								<li><a role="button" data-language="13">日本語 ja-JP</a></li>
								<li><a role="button" data-language="14">한국의 ko-KR</a></li>
								<li><a role="button" data-language="15">Nederlands nl-NL</a></li>
								<li><a role="button" data-language="16">polski pl-PL</a></li>
								<li><a role="button" data-language="17">português do Brasil pt-BR</a></li>
								<li><a role="button" data-language="18">русский ru-RU</a></li>
								<li><a role="button" data-language="19">國語（臺灣） zh-TW</a></li>
							</ul>
						</div>
	</div>
</div>

<!--Edit system tuning values-->
<h4>Sensor Tuning</h4>
<div class="dropdown">
	<b> Profile : </b>
  <button class="btn btn-default dropdown-toggle" type="button" id="set_profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    {{profiles.query.get(last_profile.query.get(1).profile_id).name}}
    <span class="caret"></span>
  </button>
	<button type="button" class="btn btn-default" id="add_profile" onclick="this.blur();">+</button>
	<button type="button" class="btn btn-default" id="delete_profile" onclick="this.blur();">x</button>
  <ul class="dropdown-menu set_profile">
		{% for profile in profiles.query.all() %}
		 <li><a role="button" data-profile="{{profile.name}}">{{profile.name}}</a></li>
		{% endfor %}
  </ul>
</div>
<div class="row">
	<div class='col-xs-16 col-md-8'>
		<div class='panel panel-default'>
			<table class="table">
				<tr>
					<td><b> Name </b></td>
					<td><input type="text" class="form-control set_profile_name"></td>
				</tr>
				<tr>
					<td><b> Description </b></td>
					<td><input type="textarea" class="form-control set_profile_description" rows="4"></td>
				</tr>
				<tr>
					<td><b>Calibration Offset (Default 8)</b><br>Trigger is Peak Rssi minus Calibration Offset</td>
					<td>
						<input type="text" class="form-control set_calibration_offset">
					</td>
				</tr>
				<tr>
					<td><b>Calibration Threshold (Default 95)</b><br>Trigger minus Calibration Threshold ends calibration pass</td>
					<td>
						<input type="text" class="form-control set_calibration_threshold">
					</td>
				</tr>
				<tr>
					<td><b>Trigger Threshold (Default 40)</b><br>Trigger minus Trigger Threshold ends normal pass</td>
					<td>
						<input type="text" class="form-control set_trigger_threshold">
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<h4> Fixed Race Time</h4>
<div class="row">
	<div class='col-xs-16 col-md-8'>
		<div class='panel panel-default'>
			<table class="table">
				<tr>
					<td><b>Time</b><br> maximum race time in seconds</td>
					<td>
						<input type="text" class="form-control set_fix_race_time" value="{{current_fix_race_time}}">
					</td>
				</tr>
		 </table>
		</div>
	</div>
</div>

<!--Reset database-->
<h4>Database (Copy out any saved races first!)</h4>
<div>
	<button type="button" class="btn btn-danger" id="reset_database" onclick="this.blur();">Reset Database</button>
	<button type="button" class="btn btn-warning" id="reset_database_keep_pilots" onclick="this.blur();">Reset Keep Pilots</button>
</div>

<!--Reset database-->
<h4>System (Safely shutdown raspberry pi)</h4>
<div>
	<button type="button" class="btn btn-default" id="shutdown_pi" onclick="this.blur();">Shutdown</button>
</div>

</br>
<!--Bottom whitespace-->

{% endblock %}
