@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('fonts/BarlowRH-Light.woff2') format('woff2'),
       url('fonts/BarlowRH-Light.woff') format('woff');
}

@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('fonts/Barlow-LightItalic.woff2') format('woff2'),
       url('fonts/Barlow-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('fonts/BarlowRH-Bold.woff2') format('woff2'),
       url('fonts/BarlowRH-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('fonts/Barlow-BoldItalic.woff2') format('woff2'),
       url('fonts/Barlow-BoldItalic.woff') format('woff');
}

html {
	background: transparent;
	color: #000;
	margin: 0;
	padding: 0;
	font-family: 'Barlow', sans-serif;
	font-variant-numeric: tabular-nums;
	font-weight: 700;
}

body {
	font-size: 1.2em;
	margin: 0;
	padding: 0;
}


#pilot-info {
    background: hsl(212.7, 67.8%, 29.2%);
    color: #fff;
    background: var(--pilot_color);
    color: var(--contrast_pilot_color);
    font-size: 2.5rem;
    line-height: 1;
    padding: 0.25em;
    bottom: 0;
}

#callsign {
	flex: 1 1 auto;
	margin-right: 1rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
}

.pilot-picture {
	object-fit: cover;
	object-position: center top;
	height: 380px;
	width: 380px;
}
