html {
	background: transparent;
	background: #444;
	color: #000;
	margin: 0;
	padding: 0;
}

body {
	font-size: 1.2em;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 2rem;
	padding: 1.5rem 0.5rem;
	background: #386fb6;
	color: #fff;
	background: hsl(var(--hue_0), var(--sat_0), var(--lum_0_high));
	color: var(--contrast_0_high);
	margin: 0;
	font-weight: 500;
	line-height: 1;
	border-radius: 0.5rem;
}

table {
	border-collapse: collapse;
	min-width: 100%;
	border: solid 1px #d1d3d4;
	background: #fff;
	height: 100%;
}

th {
	white-space: nowrap;
}

th, td {
	padding: 0.25em;
	text-align: right;
	border-top: solid 1px #d1d3d4;
}

thead th {
	height: 1.2em;
	vertical-align: bottom;
}

tbody td {
	vertical-align: middle;
}

main {
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 1rem);
}

#header {
	flex: 0 0 auto;
	display: flex;
	margin-bottom: 0.5rem;
}

#header h1 {
	flex: 1 1 auto;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: block;
}

#leaderboard {
	flex: 1;
}

.responsive-wrap {
	height: 100%;
}

.leaderboard .pilot {
	text-align: left;
}