@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('fonts/BarlowRH-Light.woff2') format('woff2'),
       url('fonts/BarlowRH-Light.woff') format('woff');
}

@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('fonts/Barlow-LightItalic.woff2') format('woff2'),
       url('fonts/Barlow-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('fonts/BarlowRH-Bold.woff2') format('woff2'),
       url('fonts/BarlowRH-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('fonts/Barlow-BoldItalic.woff2') format('woff2'),
       url('fonts/Barlow-BoldItalic.woff') format('woff');
}

html {
	background: transparent;
	color: #000;
	margin: 0;
	padding: 0;
	font-family: 'Barlow', sans-serif;
	font-variant-numeric: tabular-nums;
	font-weight: 700;
}

body {
	font-size: 1.2em;
	margin: 0;
	padding: 0;
}

#position {
	background: hsl(25, 85%, 55%);
	color: #000;
	background: var(--position_background_color);
	color: var(--position_foreground_color);

	font-size: 5rem;
	line-height: 1;
	padding: var(--position_padding);
	width: 8rem;
	height: 7rem;
	display: inline-block;
	text-align: center;
	overflow: hidden;
	box-sizing: border-box;

	position: absolute;
	top: var(--position_top);
	left: var(--position_left);
	right: var(--position_right);
	bottom: var(--position_bottom);
}

#pilot-info {
	background: hsl(212.7, 67.8%, 29.2%);
	color: #2F0449;
	background: var(--pilot_color);
	color: var(--contrast_pilot_color);

	font-size: 2.5em;
	line-height: 1em;
	padding: var(--pilot_padding);
	height: 1.25em;

	position: absolute;
	top: var(--pilot_top);
	left: var(--pilot_left);
	right: var(--pilot_right);
	bottom: var(--pilot_bottom);

	display: flex;

	flex-direction: var(--pilot_flex_direction);
}

#callsign {
	flex: var(--callsign_flex);
	margin-right: 1rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: block;
}

#rank_stat {
	flex: var(--rank_flex);
}

#current-laps {
	position: absolute;
	padding:var(--laps_padding);
	top: var(--laps_top);
	left: var(--laps_left);
	bottom: var(--laps_bottom);
	right: var(--laps_right);
	text-align: var(--laps_text_align);
	font-size: 2rem;
	color: #fff;
	text-shadow:
		0.07em 0.07em 0 #000,
		0.13em 0.07em 0 #000,
		0.07em 0.13em 0 #000,
		0.13em 0.13em 0 #000,
		-0.03em -0.03em 0 #000,
		0.03em -0.03em 0 #000,
		-0.03em 0.03em 0 #000,
		0.03em 0.03em 0 #000;
	display:flex;
	flex-direction:var(--laps_flex_direction);
}

.display_lap_number {
	padding-right: 0.5em;
	font-size: 0.8em;
}

.fastest_lap {
	color: hsl(25, 85%, 55%);
	color: var(--fast_lap_color);

	text-shadow:
		0.07em 0.07em 0 var(--contrast_fast_lap_color),
		0.13em 0.07em 0 var(--contrast_fast_lap_color),
		0.07em 0.13em 0 var(--contrast_fast_lap_color),
		0.13em 0.13em 0 var(--contrast_fast_lap_color),
		-0.03em -0.03em 0 var(--contrast_fast_lap_color),
		0.03em -0.03em 0 var(--contrast_fast_lap_color),
		-0.03em 0.03em 0 var(--contrast_fast_lap_color),
		0.03em 0.03em 0 var(--contrast_fast_lap_color);
}
