<!--Timer html-->
<div class="timing-clock">--:--</div>

<script>
	function _timer(callback) {
		var time = 0; // The default time in seconds
		var mode = 1; // Count down is 0, count up is 1
		var race_duration = 0; // Duration for count down mode
		var status = 0; // Stopped is 0, running is 1, pre-race staging is 2
		var timer_id; // Used by setInterval function
		var pre_race = false; // pre-race countdown
		var pre_delay = 0; // pre-race countdown duration
		var hide_countdown = false; // hide pre-race display (for random delay)
		var emit_finished_flag = false; // true if emitting 'race_time_finished' after countdown

		this.buzzer = $('#buzzer')[0]; // Buzzer audio tag is loaded on race page already
		this.stagebuzzer = $('#stagebuzzer')[0]; // Buzzer audio tag is loaded on race page already

		// Start the timer
		this.start = function () {
			var timer_control = this;
			if (pre_race) {
				$('.timing-clock').addClass('staging');
				status = 2; // Set status to staging
				generateTime(); // Updates html timer text
				play_beep(100, 440, rotorhazard.tone_volume, 'triangle');
				timer_id = setInterval(function () {
					pre_delay--;
					if (pre_delay <= 0) {
						clearInterval(timer_id);
						pre_race = false;
						timer_control.start();
					} else {
						play_beep(100, 440, rotorhazard.tone_volume, 'triangle');
						generateTime(); // Updates html timer text
					}
				}, 1000); // 1000 ms update rate
			} else {
				$('.timing-clock').removeClass('staging');
				play_beep(700, 880, rotorhazard.tone_volume, 'triangle', 0.25);
				status = 1; // Set status to running
				generateTime(); // Updates html timer text
				timer_id = setInterval(function () {
					switch (mode) {
						default: // Default mode 0 for a countdown timer
							time--;
							break;
						case 1: // Mode 1 for a count up timer
							time++;
							break;
					}
					generateTime(); // Updates html timer text
					if (typeof (callback) === 'function') callback(time);
				}, 1000); // 1000 ms update rate
			}
		}

		// Start the timer
		this.continue = function () {
			status = 1; // Set status to running
			generateTime(); // Updates html timer text
			timer_id = setInterval(function () {
				switch (mode) {
					default: // Default mode 0 for a countdown timer
						time--;
						break;
					case 1: // Mode 1 for a count up timer
						time++;
						break;
				}
				generateTime(); // Updates html timer text
				if (typeof (callback) === 'function') callback(time);
			}, 1000); // 1000 ms update rate
		}

		// Stop timer and clear update interval
		this.stop = function () {
			status = 0;
			clearInterval(timer_id);
			$('.timing-clock').removeClass('staging');
		}

		// Stop the timer, set the time equal to the passed value, update html clock
		this.reset = function (reset_time) {
			this.stop(); // On a reset also stop the clock
			if(typeof (reset_time) !== 'undefined') {
				time = reset_time;
			} else {
				if (mode) {
					time = 0;
				} else {
					time = race_duration;
				}
			}
			generateTime(); // Updates html timer text
		}

		// Set pre-race conditions
		this.pre_race = function (delay, hide) {
			this.stop(); // On a reset also stop the clock
			delay = (typeof (delay) !== 'undefined') ? delay : 0;
			hide = (typeof (hide) !== 'undefined') ? hide : false;

			if (delay) {
				pre_race = true;
				pre_delay = delay;
				hide_countdown = hide;
			}
		}

		// Change the mode
		this.mode = function (new_mode) {
			mode = new_mode;
		}

		// Set the race duration
		this.setRaceDuration = function (new_duration) {
			race_duration = new_duration;
		}

		// Return the current time in seconds
		this.getTime = function () {
			return time;
		}

		// Return the current mode
		this.getMode = function () {
			return mode;
		}

		// Return the current race duration
		this.getRaceDuration = function () {
			return race_duration;
		}

		// Return the current pre-race status
		this.getPreAnnounce = function () {
			return (pre_race && !hide_countdown);
		}

		// Return the current status
		this.getStatus = function () {
			return status;
		}

		// Enable emitting 'race_time_finished' after countdown
		this.enableEmitFinished = function () {
			emit_finished_flag = true;
		}

		// Return true if emitting 'race_time_finished' after countdown
		this.getEmitFinishedFlag = function () {
			return emit_finished_flag;
		}

		// This method will render the time variable to minute:second format
		function generateTime() {
			if (pre_race && hide_countdown) {
				$('.timing-clock').html(__l('Ready'));
			} else {
				var display_time = time;
				if (pre_race) display_time = pre_delay;

				var hour = Math.floor(display_time / 3600);
				display_time = display_time - (hour * 3600);
				var minute = Math.floor(display_time / 60);
				var second = display_time % 60;

				second = (second < 10) ? '0' + second : second; // Pad zero if under 10
				minute = (minute < 10) ? '0' + minute : minute;

				if (display_time < 0) {
					second = '--';
					minute = '--';
				}

				if (hour) {
					$('.timing-clock').html(hour + ':' + minute + ':' + second);
				} else {
					$('.timing-clock').html(minute + ':' + second);
				}
			}
		}
	}

	// Create the timer object
	var timer;
	timer = new _timer(
		function (time) {
			if (timer.getStatus() == 1) {
				if (timer.getMode() == 0) { // Count down clock
					if (time == 0) {
						play_beep(700, 880, rotorhazard.tone_volume, 'triangle', 0.25);
						timer.stop();
						if (timer.getEmitFinishedFlag()) {
							socket.emit('race_time_finished');  // signal server
						}
					} else if (time <= 5) { // Final seconds
						play_beep(100, 440, rotorhazard.tone_volume, 'triangle');
					} else if (time == 10) {
						if (rotorhazard.voice_race_timer)
							speak('<div class="timer">10 ' + __l('Seconds') + '</div>', true);
					}
				}

				if (rotorhazard.voice_race_timer) {
					if (time > 3600 && !(time % 3600)) { // 2+ hour callout (endurance)
						var hours = time / 3600;
						speak('<div class="timer">' + hours + ' ' + __l('Hours') + '</div>', true);
					} else if (time == 3600) {
						speak('<div class="timer">1 ' + __l('Hour') + '</div>', true);
					} else if (time == 1800) {
						speak('<div class="timer">30 ' + __l('Minutes') + '</div>', true);
					} else if (time > 60 && time <= 300 && !(time % 60)) { // 2–5 min callout
						var minutes = time / 60;
						speak('<div class="timer">' + minutes + ' ' + __l('Minutes') + '</div>', true);
					} else if (time == 60) {
						speak('<div class="timer">1 ' + __l('Minute') + '</div>', true);
					} else if (time == 30) {
						speak('<div class="timer">30 ' + __l('Seconds') + '</div>', true);
					}
				}

				// Request server time resync every 30s
				if (time % 30 == 10) { // correct close to, but not exactly at, critical time calls
					request_time = new Date();
					socket.emit('get_race_elapsed');
				}
			}
		}
	);
</script>
