{% extends "layout.html" %} {% block title %}{{ __('Event') }}{% endblock %} {% block head %}

<script src="./static/showdown-1.9.1/showdown.min.js"></script>

{% endblock %} {% block content %}
<script type="text/javascript" charset="utf-8">
	var data_dependencies = [
		'all_languages',
		'language',
		'frequency_data',
		'class_data',
		'heat_data'
	];

	$(document).ready(function () {
		socket.on('language', function (msg) {
			if (msg.language) {
				rotorhazard.interface_language = msg.language;
			}
		});

		// set up node local store
		for (var i = 0; i < {{ num_nodes }}; i++) {
			rotorhazard.nodes[i] = new nodeModel();
		}

		// set up markdown converter
		var converter = new showdown.Converter({
			ghCodeBlocks: true,
			ghCompatibleHeaderId: true,
			literalMidWordUnderscores: true,
			simpleLineBreaks: true,
			headerLevelStart: 4
		});

		md_output = converter.makeHtml({{ getOption('eventDescription')|tojson }});
		$('#description').html($(md_output));

		socket.on('frequency_data', function (msg) {
			if (msg.fdata.length) {
				for (var i in msg.fdata) {
					var fObj = freq.getFObjbyFData(msg.fdata[i]);
					rotorhazard.nodes[i].fObj = fObj;
					$('#s_channel_' + i).val(fObj.frequency);
					$('#f_table_' + i).val(fObj.fString);
					freq.updateBlock(fObj, i);
				}
			}
		});

		socket.on('heat_data', function (msg) {
			$(".pilots").empty();
			$("#heat_list").empty();

			var heats_by_class = {}
			var active_pilot_ids = []
			for (var h in msg.heats) {
				var heat = msg.heats[h];

				// assemble heats by class
				if (!(heat.class_id in heats_by_class)) {
					heats_by_class[heat.class_id] = [];
				}
				heats_by_class[heat.class_id].push(heat)

				// assemble active pilot list
				for (p in heat.pilots) {
					var pilot_id = heat.pilots[p];
					if (!active_pilot_ids.includes(pilot_id)) {
						active_pilot_ids.push(pilot_id);
					}
				}
			}

			// assemble class groups
			for (var c in heats_by_class) {
				var heat_list = heats_by_class[c]
				var class_group = $('<li>');

				class_label = __('Unclassified');
				class_id = 0;
				for (var rc in msg.classes) {
					if (c == msg.classes[rc].id) {
						var class_data = msg.classes[rc]
						class_label = class_data.name;
						class_id = class_data.id;
						break;
					}
				}

				class_group.attr('data-class-id', class_id);
				class_group.append('<h3>' + class_label + '</h3>');

				heat_groups = $('<ol class="heats">');

				for (var h in heat_list) {
					var heat = heat_list[h];
					var heat_group = $('<li class="heat">');

					if (heat.note) {
						var heatname = heat.note;
					} else {
						var heatname = __('Heat') + ' ' + heat.heat_id;
					}
					heat_group.append('<h4>' + heatname + '</h4>');

					var nodelist = $('<ol>');
					for (p in heat.pilots) {
						var heatpilot = heat.pilots[p];

						var callsign = false;
						for (var pd in msg.pilot_data) {
							if (msg.pilot_data[pd].pilot_id == heatpilot) {
								callsign = msg.pilot_data[pd].callsign;
								break;
							}
						}

						if (callsign) {
							var slot = $('<li>');
							slot.append('<div class="channel-block" data-node="' + p + '"><span class="ch"></span> <span class="fr"></span></div>');

							slot.append('<div class="pilot-name">' + callsign + '</div>');
							nodelist.append(slot);
						}
					}

					heat_group.append(nodelist);
					heat_groups.append(heat_group);
					class_group.append(heat_groups);
				}

				$('#heat_list').append(class_group);

				// move unclassified to end of list
				$('#heat_list').append($('#heat_list li[data-class-id="0"]'));
			}

			freq.updateBlocks();

			// populate pilots

			$('#pilot_list').empty();

			for (var p in msg.pilot_data) {
				pilot = msg.pilot_data[p];
				if (active_pilot_ids.includes(pilot.pilot_id)) {
					var el = $('<li data-id="' + pilot.pilot_id + '">');
					el.append('<div class="name">'+ pilot.name + '</div>');
					el.append('<div class="callsign">' + pilot.callsign + '</div>');
					el.appendTo($('.pilots'));
				}
			}
		});

		socket.on('class_data', function (msg) {
			$(".race_classes").empty();
			$(".race_formats").empty();

			var active_format_ids = []
			if (msg.classes.length) {
				var classlist = $('<ol>');
				for (var i in msg.classes) {
					var race_class = msg.classes[i];
					var el = $('<li>');

					if (race_class.name) {
						el.append('<h3>' + race_class.name + '</h3>');
					} else {
						el.append('<h3>' + __('Class') + ' ' + race_class.id + '</h3>');
					}

					var class_info = $('<div class="class-info">');

					if (race_class.description) {
						var md_output = converter.makeHtml(race_class.description)
						var class_desc = $('<div class="description">').append(md_output);
						class_info.append(class_desc);
					}

					if (race_class.format) {
						for (var i in msg.formats) {
							raceformat = msg.formats[i];
							if (raceformat.id == race_class.format) {
								class_info.append('<p><strong>Format:</strong> ' + raceformat.name + '</p>');

								if (!active_format_ids.includes(raceformat.id)) {
									active_format_ids.push(raceformat.id);
								}
								break;
							}
						}
					} else {
						class_info.append('<p>' + __('No format restriction') + '</p>');
					}

					class_info.appendTo(el);

					el.appendTo(classlist);
				}
				classlist.appendTo($('.race_classes'));

				formatlist = $('<ul>');
				for (var f in msg.formats) {
					raceformat = msg.formats[f];
					if (active_format_ids.includes(raceformat.id)) {
						var format_item = $('<li>');

						format_item.append('<h3>' + raceformat.name + '</h3>');

						var format_details = {}

						if (raceformat.race_mode) {
							format_details['Race Clock'] = rotorhazard.raceMode[raceformat.race_mode];
						} else {
							format_details['Race Clock (seconds)'] = raceformat.race_time_sec
						}

						if (raceformat.start_delay_min == raceformat.start_delay_max) {
							format_details['Start Delay (seconds)'] = raceformat.start_delay_min;
						} else {
							format_details['Start Delay (seconds)'] = raceformat.start_delay_min + '&#8211;' + raceformat.start_delay_max;
						}

						format_details['Staging Tones'] = rotorhazard.stagingTones[raceformat.staging_tones];

						format_details['First Crossing'] = rotorhazard.startBehavior[raceformat.start_behavior];

						format_details['Win Condition'] = rotorhazard.winCondition[raceformat.win_condition];

						if (raceformat.win_condition in [2]) {
							format_details['Laps to Win'] = raceformat.number_laps_win;
						}

						if (raceformat.team_racing_mode) {
							format_details['Team Racing'] = 'Yes';
						}

						var format_details_list = $('<ul class="format-info">')

						for (var item in format_details) {
							var list_item = $('<li>');
							var label = $('<div class="label">').html(__(item));
							var value = $('<div class="value">').html(__(format_details[item]));

							list_item.append(label).append(value);
							format_details_list.append(list_item);
						}

						format_item.append(format_details_list);
						formatlist.append(format_item);
					}
					formatlist.appendTo($('.race_formats'));
				}

			} else {
				$('.race_classes').append('<p class="form-note">' + __('This is a single-class event.') + '</p>');
			}
		});

	});
</script>

<main class="page-heats">

<h2>{{ getOption('eventName') }}</h2>
<div id="description">
	<p class="form-note">{{ __('Loading...') }}</p>
</div>

<!--Display the heats-->
<h2>{{ __('Heats') }}</h2>
<ul id="heat_list">
	<li>{{ __('Loading...') }}</li>
</ul>

<!--Display the pilots-->
<h2>{{ __('Pilots') }}</h2>
<ul id="pilot_list" class="pilots">
	<li>{{ __('Loading...') }}</li>
</ul>

<!--Display the classes-->
<h2>{{ __('Classes') }}</h2>
<div id="race_classes" class="race_classes">
	<p class="form-note">{{ __('Loading...') }}</p>
</div>

<!--Display the formats-->
<h2>{{ __('Formats') }}</h2>
<div id="race_formats" class="race_formats">
	<p class="form-note">{{ __('Loading...') }}</p>
</div>

</main>
{% endblock %}
