{% extends "layout.html" %} {% block title %}{{ __('Server Log') }}{% endblock %} {% block head %}
<script type="text/javascript" src="./static/Blob.js"></script>
<script type="text/javascript" src="./static/FileSaver.min.js"></script>
<script type="text/javascript" charset="utf-8">
	var data_dependencies = [
		'hardware_log_init'
	];

	var log_content_str;
	var live_updates = true;

	function selectText(element) {
		var doc = document
			, text = doc.getElementById(element)
			, range, selection
		;
		if (doc.body.createTextRange) { //ms
			range = doc.body.createTextRange();
			range.moveToElementText(text);
			range.select();
		} else if (window.getSelection) { //all others
			selection = window.getSelection();
			range = doc.createRange();
			range.selectNodeContents(text);
			selection.removeAllRanges();
			selection.addRange(range);
		}
	}

	$(document).ready(function () {
		function set_log_text(text) {
			log_content_str = text;
			$('#log-panel').html($('<div/>').text(log_content_str).html());
			window.scrollTo(0,document.body.scrollHeight);
		}

		function append_to_log(text) {
			log_content_str = log_content_str + text + "\n";
			if (live_updates) {
				$('#log-panel').text(log_content_str);
				window.scrollTo(0,document.body.scrollHeight);
			}
		}

		socket.on('hardware_log_init', function (msg) {
			set_log_text(msg);
		});

		socket.on('hardware_log', function (msg) {
			append_to_log(msg);
		});

		socket.on('log_level_sel_init', function (msg) {
			$('#set_log_level').val(msg);
		});

		socket.on('do_log_page_refresh', function () {
			window.location.replace('/hardwarelog?log_level=' + $('#set_log_level').val());
		});

		$('#set_log_level').change(function (event) {
			var data = {
				log_level_str: $(this).val(),
				refresh_page_flag: true  // do page refresh to remove keyboard focus from selector widget
			};
			socket.emit('set_log_level', data);
		});

		$(document).on('click', '#pause-updates', function(){
			live_updates = !live_updates
			if (live_updates) {
				$('#pause-updates').html(__('Pause Updates'));
				set_log_text(log_content_str);
			} else {
				$('#pause-updates').html(__('Resume Updates'));
			}
		});

		$(document).on('click', '#select-log', function(){
			selectText('log-panel');
		});

		$('button#download_logs').click(function (event) {
			var audioSettingsData = rotorhazard.getAudioSettingsStr(new Date());
			var outData = { 'emit_fn_name': 'logpg_save_logs',
							'audioSettingsData' : audioSettingsData,
							'audioSettingsFName' : "rhAudioSettings.cfg" };
			socket.emit('download_logs', outData);
			return false;
		});

		socket.on('logpg_save_logs', function (msg) {
			msgArray = atob(msg.file_data);  // decode Base64 string
			// convert decoded data to byte array
			var byteNumbers = new Array(msgArray.length);
			for (var i = 0; i < msgArray.length; i++) {
				byteNumbers[i] = msgArray.charCodeAt(i);
			}
			var byteArray = new Uint8Array(byteNumbers);
			// construct blob from byte array and initiate browser save-as
			saveAs(new Blob([byteArray], {type: "application/octet-stream"}), msg.file_name);
		});

		// if URL parameter (like "?log_level=ERROR") was present then filter by log level
		levelStr = getUrlParameter('log_level');
		if (levelStr) {
			$('#set_log_level').val(levelStr);
		} else {
			levelStr = $('#set_log_level').val();
		}
		// always do emit to workaround issue where page doesn't load if new tab on same browser
		socket.emit('set_log_level', {log_level_str: levelStr});
	});

</script>
{% endblock %} {% block content %}
<main class="page-status">
<!--Status messages from the timing system-->
<h2>{{ __('Server Log') }}</h2>
<pre>
<div id="log-panel">{{ __('Loading...') }}</div>
</pre>
<div class="control-set">
	<b><label for="set_log_level">{{ __('Log Level') }}:</label></b>
	<select id="set_log_level">
		<option value="NOTSET">{{ __('All') }}</option>
		<option value="INFO">{{ __('Info') }}</option>
		<option value="WARNING">{{ __('Warning') }}</option>
		<option value="ERROR">{{ __('Error') }}</option>
	</select>
	&nbsp; &nbsp; &nbsp;
	<button id="pause-updates">{{ __('Pause Updates') }}</button>
	<button id="select-log">{{ __('Select Text') }}</button>
	<button id="download_logs">{{ __('Download Logs') }}</button>
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
</div>
</main>
{% endblock %}