{% extends "layout.html" %} {% block title %}Server Log{% endblock %} {% block head %}
<script type="text/javascript" charset="utf-8">
	function selectText(element) {
		var doc = document
			, text = doc.getElementById(element)
			, range, selection
		;
		if (doc.body.createTextRange) { //ms
			range = doc.body.createTextRange();
			range.moveToElementText(text);
			range.select();
		} else if (window.getSelection) { //all others
			selection = window.getSelection();
			range = doc.createRange();
			range.selectNodeContents(text);
			selection.removeAllRanges();
			selection.addRange(range);
		}
	}

	$(document).ready(function () {
		socket.emit('load_data', {'load_types': [
			'hardware_log_init'
		]});

		function set_log_text(text) {
			$('#log').html($('<div/>').text(text).html());
			window.scrollTo(0,document.body.scrollHeight);
		}

		function append_to_log(text) {
			$('#log').append(text + "\n");
			window.scrollTo(0,document.body.scrollHeight);
		}

		socket.on('hardware_log_init', function (msg) {
			set_log_text(msg);
		});

		socket.on('hardware_log', function (msg) {
			append_to_log(msg);
		});

		$(document).on('click', '#select-log', function(){
			selectText('log');
		});
	});

</script>
{% endblock %} {% block content %}
<main class="page-status">
<!--Status messages from the timing system-->
<h2>{{ __('Server Log') }}</h2>
<pre>
<div id="log"></div>
</pre>
<div class="control-set"><button id="select-log">{{ __('Select Log') }}</button></div>
</main>
{% endblock %}