{% extends "layout.html" %} {% block title %}Heats{% endblock %} {% block head %} {% endblock %} {% block content %}
<script type="text/javascript" charset="utf-8">
	$(document).ready(function () {
		socket.emit('load_data', {'load_types': [
			'all_languages',
			'language',
			'frequency_data',
			'class_data',
			'heat_data',
			'pilot_data'
		]});

		socket.on('all_languages', function (msg) {
			rotorhazard.language_strings = msg.languages;
		});

		socket.on('language', function (msg) {
			if (msg.language) {
				rotorhazard.interface_language = msg.language;
			}
		});

		socket.on('frequency_data', function (msg) {
			for (var i in msg.frequency) {
				if (typeof(rotorhazard.nodes[i]) === 'undefined') {
					rotorhazard.nodes[i] = new nodeModel();
				}
				rotorhazard.nodes[i].frequency = msg.frequency[i];
				freq.updateBlocks();
			}
		});

		socket.on('pilot_data', function (msg) {
			$(".pilots").empty();
			for (var i in msg.pilot_id) {
				if (msg.pilot_id[i]) {
					var el = $('<li data-id="' + msg.pilot_id[i] + '">');
					el.append('<div class="name">'+ msg.name[i] + '</div>');
					el.append('<div class="callsign">' + msg.callsign[i] + '</div>');
					el.appendTo($('.pilots'));
				}
			}
		});

		socket.on('heat_data', function (msg) {
			$(".heats").empty();
			for (var i in msg.heats) {
				var heats = msg.heats[i];
				var el = $('<li>');
				if (heats.note) {
					el.append('<h3>' + heats.note + '</h3>');
				} else {
					el.append('<h3>'+ __('Heat') + ' ' + heats.heat_id + '</h3>');
				}

				var nodelist = $('<ol>');
				var callsign;
				for (j in heats.pilots) {
					var heatpilot = heats.pilots[j];
					var slot = $('<li>');
					slot.append('<div class="channel-block" data-node="' + j + '"><span class="ch"></span> <span class="fr"></span></div>');

					callsign = __('-None-');
					for (var k in msg.pilot_data.pilot_id) {
						if (msg.pilot_data.pilot_id[k] == heatpilot) {
							callsign = msg.pilot_data.callsign[k];
							break;
						}
					}

					slot.append('<div class="pilot-name">' + callsign + '</div');
					nodelist.append(slot);
				}
				el.append(nodelist);

				// class indicator
				if (msg.classes.length) {
					if (heats.class_id) {
						for (var i in msg.classes) {
							if (msg.classes[i].id == heats.class_id) {
								el.append('<div class="race_class">' + msg.classes[i].name + '</div>')
								break;
							}
						}
					} else {
						el.append('<div class="race_class">Unclassified</div>');
					}
				}

				el.appendTo($('.heats'));
			}
			freq.updateBlocks();
		});

		socket.on('class_data', function (msg) {
			$(".race_classes").empty();

			if (msg.classes.length) {

				var classlist = $('<ol>');
				for (var i in msg.classes) {
					var race_class = msg.classes[i];
					var el = $('<li>');

					if (race_class.name) {
						el.append('<h3>' + race_class.name + '</h3>');
					} else {
						el.append('<h3>' + __('Class') + ' ' + race_class.id + '</h3>');
					}

					var class_info = $('<div class="class-info">');

					if (race_class.description) {
						class_info.append('<p>' + race_class.description + '</p>');
					}

					if (race_class.format) {
						for (var i in msg.formats) {
							if (msg.formats[i].id == race_class.format) {
								class_info.append('<p><strong>Format:</strong> ' + msg.formats[i].name + '</p>');
								break;
							}
						}
					} else {
						class_info.append('<p>No format restriction</p>');
					}

					class_info.appendTo(el);

					el.appendTo(classlist);
				}
				classlist.appendTo($('.race_classes'));
			} else {
				$('.race_classes').append('<p class="form-note">' + __('This is a single-class event.') + '</p>');
			}
		});

	});
</script>

<main class="page-heats">

<!--Display the classes-->
<h2>{{ __('Classes') }}</h2>
<div id="race_classes" class="race_classes">
	<p class="form-note">{{ __('Loading...') }}</p>
</div>

<!--Display the heats-->
<h2>{{ __('Heats') }}</h2>
<ol class="heats">
	<li class="heat">{{ __('Loading...') }}</li>
</ol>

<!--Display the pilots-->
<h2>{{ __('Pilots') }}</h2>
<ul class="pilots">
	<li>{{ __('Loading...') }}</li>
</ul>

</main>
{% endblock %}