<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="RotorHazard">
	<meta name="google" content="notranslate">
	<title>{% block title %}{% endblock %}: {{ getConfig('UI', 'timerName') }}</title>

	<!-- Icons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/static/image/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/image/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/image/favicon-16x16.png">
	<link rel="manifest" href="/static/image/site.webmanifest">
	<link rel="mask-icon" href="/static/image/safari-pinned-tab.svg" color="#ee7a28">
	<link rel="shortcut icon" href="/static/image/favicon.ico">
	<meta name="msapplication-TileColor" content="#ee7a28">
	<meta name="msapplication-config" content="/static/image/browserconfig.xml">
	<meta name="theme-color" content="#224873">

	<audio id="sound_buzzer" src="/static/audio/buzzer.mp3" type="audio/mp3"></audio>
	<audio id="sound_beep" src="/static/audio/beep.mp3" type="audio/mp3"></audio>
	<audio id="sound_stage" src="/static/audio/stage.mp3" type="audio/mp3"></audio>
	<audio id="sound_enter" src="/static/audio/enter.mp3" type="audio/mp3"></audio>
	<audio id="sound_exit" src="/static/audio/exit.mp3" type="audio/mp3"></audio>
	<audio id="sound_cconnect" src="/static/audio/cconnect.mp3" type="audio/mp3"></audio>
	<audio id="sound_cdisconnect" src="/static/audio/cdisconnect.mp3" type="audio/mp3"></audio>
	<audio id="sound_leader" src="/static/audio/leader.mp3" type="audio/mp3"></audio>
	<audio id="sound_winner" src="/static/audio/winner.mp3" type="audio/mp3"></audio>

	<!-- Scripts -->
	<script type="text/javascript" src="/static/jquery-3.6.4/jquery-3.6.4.min.js"></script>
	<script type="text/javascript" src="/static/articulate/articulate.min.js"></script>
	<script type="text/javascript" src="/static/socket.io-4.6.1/socket.io.min.js"></script>
	<script type="text/javascript" src="/static/smoothie/smoothie.js"></script>
	<script type="text/javascript" src="/static/magnific-1.1.0/magnific-inline-min.js"></script>
	<script type="text/javascript" src="/static/rh-ui.js?{{ serverInfo['release_version'] | urlencode }}"></script>
	<script type="text/javascript" src="/static/svgasset.js?{{ serverInfo['release_version'] | urlencode }}"></script>
	<script type="text/javascript" src="/static/rotorhazard.js?{{ serverInfo['release_version'] | urlencode }}"></script>

	<!-- CSS -->
	<link rel="stylesheet" href="/static/magnific-1.1.0/magnific-popup.css"></link>
	<link rel="stylesheet" href="/static/rotorhazard.css?{{ serverInfo['release_version'] | urlencode }}"></link>

	<style>

	/* CSS variables for interface adjustments */
	html {
		--hue_0: {{ getConfig('UI', "hue_0") }};
		--sat_0: {{ getConfig('UI', "sat_0") }}%;
		--lum_0_low: {{ getConfig('UI', "lum_0_low") }}%;
		--lum_0_high: {{ getConfig('UI', "lum_0_high") }}%;
		--contrast_0_low: {{ getConfig('UI', "contrast_0_low") }};
		--contrast_0_high: {{ getConfig('UI', "contrast_0_high") }};
		--hue_1: {{ getConfig('UI', "hue_1") }};
		--sat_1: {{ getConfig('UI', "sat_1") }}%;
		--lum_1_low: {{ getConfig('UI', "lum_1_low") }}%;
		--lum_1_high: {{ getConfig('UI', "lum_1_high") }}%;
		--contrast_1_low: {{ getConfig('UI', "contrast_1_low") }};
		--contrast_1_high: {{ getConfig('UI', "contrast_1_high") }};
	}

	</style>
	<!-- Child template head content -->
	{% block head %}{% endblock %}
</head>

<body>
	<div id="banner-msg">
		<div class="message"></div>
	</div>
	<header>
		<a href="/" id="timer-name"><img src="../static/image/RotorHazard Icon.svg"> {{ getConfig('UI', 'timerName') }}</a>
		<nav id="nav-main">
			<ul>
				<li><a href="/event">{{ __("Event") }}</a></li>
				<li><a href="/results">{{ __("Results") }}</a></li>
				<li><a href="/current">{{ __("Current") }}</a></li>
				<li class="admin-hide"><a href="/run">{{ __("Run") }}</a></li>
				<li class="admin-hide"><a href="/marshal">{{ __("Marshal") }}</a></li>
				<li class="admin-hide"><a href="/format">{{ __("Format") }}</a></li>
				<li class="admin-hide"><a href="/settings">{{ __("Settings") }}</a></li>
				<li class="extra">
					<a href="#"><svg height="1em" xmlns="http://www.w3.org/2000/svg" viewBox="-8 0 19.7 16"><title>Extended Menu</title><circle fill="currentColor" cx="1.85" cy="1.85" r="1.85"/><circle fill="currentColor" cx="1.85" cy="8" r="1.85"/><circle fill="currentColor" cx="1.85" cy="14.15" r="1.85"/></svg></a>
					<ul>
						<li><a href="/docs?d=README.md">{{ __("Documentation") }}</a></li>

						<li><a href="/streams">{{ __("Stream Displays") }}</a></li>

						<li><a href="/imdtabler">{{ __("IMDTabler") }}</a></li>

						{% if Debug %}<li class="admin-hide"><a href="/scanner">{{ __("Band Scanner") }}</a></li>{% endif %}

						<li><a href="/hardwarelog" class="admin-hide">{{ __('View Server Log') }}</a></li>

						<li><a href="https://github.com/RotorHazard/RotorHazard/" target="_blank">{{ __("RotorHazard on GitHub") }} &#10132;&#xFE0E;</a></li>
						<li><a href="#about" class="open-mfp-popup">{{ __("About RotorHazard") }}</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</header>

	<aside class="socket-warning" style="display:none">
		{{ __('Server connection lost') }}
	</aside>

	<aside class="restart-warning" {% if not restart_flag %}style="display:none"{% endif %}>
		{{ __('Restart required. RotorHazard may not function as expected.') }} <a href="#restart_confirm" class="admin-hide btn-danger button-like open-mfp-popup">{{ __('Restart') }}</a>
	</aside>

	<!--Child template content-->
	{% block content %}{% endblock %}

	<footer>
		<p>{{ __('Powered by') }} <a href="https://github.com/RotorHazard/RotorHazard/"><span class="rh-logo"></span></a> v{{ serverInfo['release_version'] }}</p>
	</footer>

	<a id="message-notification" hidden href="#message-center" class="open-mfp-popup"><span class="screen-reader-text">Open</span> <span id="message-count">0</span> <span class="screen-reader-text">messages</span></a>

	<div id="message-center" class="mfp-hide popup">
		<h2>{{ __("Messages") }}</h2>
		<div class="popup-content">
			<button id="message-dismiss-all">{{ __('Dismiss All') }}</button>
			<ol id="message-queue"></ol>
		</div>
	</div>

	<div id="about" class="mfp-hide popup">
		<h2>{{ __("About RotorHazard") }}</h2>
		<div class="popup-content">
			{{ serverInfo['about_html'] | safe }}
		</div>
	</div>

	<div id="restart_confirm" class="priority-message-interrupt mfp-hide popup">
		<h2>Alert</h2>
		<div class="popup-content">
			<p>{{ __('Restart RotorHazard server process?') }}</p>
			<p><button class="btn-danger" id="restart_server">{{ __('Restart') }}</button>
			<button class="cancel">{{ __('Cancel') }}</button></p>
		</div>
	</div>
</body>

</html>