{% extends "layout.html" %} {% block title %}Marshal Race Data{% endblock %}{% block head %}

<script type="text/javascript" charset="utf-8">
	var race_list = {};
	var race_list_loaded = false;
	var current_race_data = {};
	var min_lap = {{ getOption('MinLapSec') }} * 1000;

	$(document).ready(function () {
		var graph_canvas = document.getElementById('race-graph');
		var graph = new SmoothieChart({
			responsive: true,
			grid:{
				strokeStyle:'rgba(255,255,255,0.25)',
				// millisPerLine:1, // Smoothie thinks the timestamps are in seconds
				sharpLines:true,
				verticalSections:0,
				borderVisible:false
			},
			labels:{
				precision: 0
			},
			scaleSmoothing: 1
		});
		var graph_series = new TimeSeries();
		graph.addTimeSeries(graph_series, {lineWidth:1.7,
			strokeStyle:'hsl(214, 53%, 60%)',
			fillStyle:'hsla(214, 53%, 60%, 0.4)'
		});
		graph.streamTo(graph_canvas, 1);
		graph.stop();

		socket.emit('load_data', {'load_types': [
			'all_languages',
			'language',
			'race_list',
		]});

		socket.on('all_languages', function (msg) {
			rotorhazard.language_strings = msg.languages;
		});

		socket.on('language', function (msg) {
			if (msg.language) {
				rotorhazard.interface_language = msg.language;
			}
		});

		socket.on('race_list', function (msg) {
			race_list = msg;

			if (race_list_loaded) {
				var prev_heat = $('#selected_heat').val();
			}

			$('#selected_heat').empty();
			$('#selected_heat').append('<option value="--">' + __('Select Heat') + '</option>');
			for (var heat_i in race_list.heats) {
				var heat = race_list.heats[heat_i];

				if (heat.note) {
					var heat_name = heat.note;
				} else {
					var heat_name = __('Heat') + ' ' + heat_i;
				}

				$('#selected_heat').append('<option value="' + heat_i + '">' + heat_name + '</option>');
			}
			$('#selected_heat').prop('disabled', false);

			if (race_list_loaded) {
				$('#selected_heat').val(prev_heat);
			} else {
				$('#selected_round').empty();
				$('#selected_round').append('<option value="--">' + __('Select Round') + '</option>');
				$('#selected_round').prop('disabled', true);

				$('#selected_pilot').empty();
				$('#selected_pilot').append('<option value="--">' + __('Select Pilot') + '</option>');
				$('#selected_pilot').prop('disabled', true);

				$('#load_race').prop('disabled', true);

				race_list_loaded = true;
			}
		});

		$('#selected_heat').change(function(){
			var prev_round = $('#selected_round').val();

			$('#selected_round').empty();
			$('#selected_round').append('<option value="--">' + __('Select Round') + '</option>');
			$('#selected_round').prop('disabled', true);

			$('#selected_pilot').empty();
			$('#selected_pilot').append('<option value="--">' + __('Select Pilot') + '</option>');
			$('#selected_pilot').prop('disabled', true);

			$('#load_race').prop('disabled', true);

			var heat = parseInt($(this).val());
			if ($(this).val() != '--') {
				for (var round_i in race_list.heats[heat].rounds) {
					$('#selected_round').append('<option value="' + round_i + '">' + __('Round') + ' ' + round_i + '</option>');

					if (round_i == prev_round) {
						$('#selected_round').val(round_i);
						$('#selected_round').trigger('change');
					}
				}
				$('#selected_round').prop('disabled', false);
			}
		});

		$('#selected_round').change(function(){
			var prev_pilot = $('#selected_pilot').val();

			$('#selected_pilot').empty();
			$('#selected_pilot').append('<option value="--">' + __('Select Pilot') + '</option>');
			$('#selected_pilot').prop('disabled', true);

			$('#load_race').prop('disabled', true);

			var heat = parseInt($('#selected_heat').val());
			var round = parseInt($(this).val());

			if ($(this).val() != '--') {
				for (var pilot_i in race_list.heats[heat].rounds[round].pilotraces) {
					var pilotrace = race_list.heats[heat].rounds[round].pilotraces[pilot_i];
					$('#selected_pilot').append('<option value="' + pilot_i + '">' + pilotrace.callsign + '</option>');

					if (pilot_i == prev_pilot) {
						$('#selected_pilot').val(pilot_i);
						$('#load_race').prop('disabled', false);
					}
				}
				$('#selected_pilot').prop('disabled', false);
			}
		});

		$('#selected_pilot').change(function(){
			if ($(this).val() != '--') {
				var heat = parseInt($('#selected_heat').val());
				var round = parseInt($('#selected_round').val());
				var pilot = parseInt($(this).val());
				var pilotrace = race_list.heats[heat].rounds[round].pilotraces[pilot];

				$(this).data('pilot-id', pilotrace.pilot_id);
				$('#load_race').prop('disabled', false);
			}
		});

		$('#load_race').click(function(){
			var heat = parseInt($('#selected_heat').val());
			var round = parseInt($('#selected_round').val());
			var pilot = parseInt($('#selected_pilot').val());

			// load current race data
			current_race_data = jQuery.extend(true, {}, race_list.heats[heat].rounds[round].pilotraces[pilot]);
			// fill current data with race meta
			current_race_data.round_id = round;
			current_race_data.heat_id = heat;
			current_race_data.race_id = race_list.heats[heat].rounds[round].race_id;
			current_race_data.class_id = race_list.heats[heat].rounds[round].class_id;
			current_race_data.format_id = race_list.heats[heat].rounds[round].format_id;
			current_race_data.start_time = race_list.heats[heat].rounds[round].start_time;
			current_race_data.start_time_formatted = race_list.heats[heat].rounds[round].start_time_formatted;

			// display graph
			graph_series.data = [];
			for (idx in current_race_data.history_times) {
				var value = current_race_data.history_times[idx];
				if (value == lastValue) {
					graph_series.append(current_race_data.history_times[idx] + 0.001, current_race_data.history_values[idx]);
				} else {
					graph_series.append(current_race_data.history_times[idx], current_race_data.history_values[idx]);
				}
				var lastValue = value;
			}

			renderGraph();

			// populate laps
			displayLaps(current_race_data.laps);

			$('#enterat').val(current_race_data.enter_at);
			$('#exitat').val(current_race_data.exit_at);

			return false;
		});

		function renderGraph() {
			var graphWidth = graph_canvas.offsetWidth;

			var startTime = current_race_data.start_time;
			var endTime = current_race_data.history_times[current_race_data.history_times.length - 1];
			var duration = endTime - startTime;
			var span = duration / graphWidth;

			graph.options.millisPerPixel = span;
			graph.options.horizontalLines = [
				{color:'hsl(8.2, 86.5%, 53.7%)', lineWidth:1.7, value: parseInt($('#enterat').val())}, // red
				{color:'hsl(25, 85%, 55%)', lineWidth:1.7, value: parseInt($('#exitat').val())}, // orange
			];

			graph.render(graph_canvas, endTime);
		}

		var resizeTimer;
		$(window).on('resize', function(){
			clearTimeout(resizeTimer);
			resizeTimer = setTimeout(function() {
				renderGraph();
			}, 250);
		});

		function displayLaps(laps_obj) {
			var lapList = $('#laps tbody');
			lapList.empty();

			var lap_index = 0;
			for (var lap_i in laps_obj) {
				var lap = laps_obj[lap_i];
				var lapData = $('<tr>');

				if (lap.deleted) {
					lapData.addClass('lap-deleted');
				} else if (lap_index && lap.lap_time < min_lap) {
					lapData.addClass('min-lap-warning');
				}

				if (!lap.deleted) {
					lapData.append('<td>' + lap_index + '</td>');
					lapData.append('<td>' + (lap.lap_time_stamp / 1000).toFixed(3) + '</td>');
					lapData.append('<td>' + formatTimeMillis(lap.lap_time) + '</td>');
					lap_index++;
				} else {
					lapData.append('<td>-</td>');
					lapData.append('<td>' + (lap.lap_time_stamp / 1000).toFixed(3) + '</td>');
					lapData.append('<td>' + __('Deleted') + '</td>');
				}

				switch (lap.source) {
					case 0:
						lapData.append('<td>Realtime</td>');
						break;
					case 1:
						lapData.append('<td>Manual</td>');
						break;
					case 2:
						lapData.append('<td>Recalc</td>');
						break;
				}

				if (lap.deleted) {
					lapData.append('<td><button class="restore_lap" data-lapid="' + lap_i + '">+</button></td>');
				} else {
					lapData.append('<td><button class="delete_lap btn-danger" data-lapid="' + lap_i + '">&#215;</button></td>');
				}
				lapList.append(lapData);
			}
		}

		$('#recalc').click(function(){
			var laps = recalc_rx_data();
			calc_lap_times(laps);
			current_race_data.laps = laps;
			displayLaps(laps);
			renderGraph();
		});

		$('#enterat').change(function(){
			var laps = recalc_rx_data();
			calc_lap_times(laps);
			current_race_data.laps = laps;
			displayLaps(laps);
			renderGraph();
		});

		$('#exitat').change(function(){
			var laps = recalc_rx_data();
			calc_lap_times(laps);
			current_race_data.laps = laps;
			displayLaps(laps);
			renderGraph();
		});

		function recalc_rx_data() {
			var enterat = parseInt($('#enterat').val());
			var exitat = parseInt($('#exitat').val());

			var crossing = false;
			var peakRssi = 0;
			var peakFirst = 0;
			var peakLast = 0;
			var laps = [];

			for(var idx in current_race_data.history_values) {
				var rssi = current_race_data.history_values[idx];

				if (!crossing && (rssi > enterat)) {
					crossing = true;
				}

				if (rssi >= peakRssi) {
					peakLast = current_race_data.history_times[idx];

					if (rssi > peakRssi) {
						peakFirst = current_race_data.history_times[idx];
						peakRssi = rssi;
					}
				}

				if (crossing) {
					if (rssi < exitat) {
						laps.push({
							lap_time_stamp: (((peakLast + peakFirst) / 2) - current_race_data.start_time) * 1000, // zero stamp within race
							source: 2,
							deleted: false
						});
						crossing = false;
						peakRssi = 0;
					}
				}
			}

			return laps;
		}

		function calc_lap_times(laps_obj){
			laps_obj.sort(function(a, b){
				return a.lap_time_stamp-b.lap_time_stamp
			})

			var lap_index = 0;
			for (lap_i in laps_obj) {
				var lap = laps_obj[lap_i];
				if (!lap.deleted) {
					if (lap_index) {
						lap.lap_time = lap.lap_time_stamp - lastLap.lap_time_stamp;
					} else {
						lap.lap_time = lap.lap_time_stamp;
					}
					lap.lap_time_formatted = lap.lap_time / 1000; // ***
					lap_index++;
					var lastLap = lap;
				} else {
					lap.lap_time = '-';
					lap.lap_time_formatted = '-';
				}
			}
		}

		$('#add-lap').click(function(){
			current_race_data.laps.push({
				lap_time_stamp: parseInt($('#manual-lap-time').val() * 1000),
				source: 1,
				deleted: false
			});
			calc_lap_times(current_race_data.laps)
			displayLaps(current_race_data.laps);
		});

		$(document).on('click', '.delete_lap', function(){
			var lap = $(this).data('lapid');
			current_race_data.laps[lap].deleted = true;
			calc_lap_times(current_race_data.laps)
			displayLaps(current_race_data.laps);
		});

		$(document).on('click', '.restore_lap', function(){
			var lap = $(this).data('lapid');
			current_race_data.laps[lap].deleted = false;
			calc_lap_times(current_race_data.laps)
			displayLaps(current_race_data.laps);
		});

		$('#save-laps').click(function(){
			var data = {
				heat_id: current_race_data.heat_id,
				round_id: current_race_data.round_id,
				callsign: current_race_data.callsign,
				race_id: current_race_data.race_id,
				pilotrace_id: current_race_data.pilotrace_id,
				node: current_race_data.node_index,
				pilot_id: current_race_data.pilot_id,
				laps: current_race_data.laps
			}
			socket.emit('resave_laps', data);
		});

		$('#save-transitions').click(function(){
			var data = {
				node: current_race_data.node_index,
				enter_at_level: parseInt($('#enterat').val()),
				exit_at_level: parseInt($('#exitat').val()),
			};
			if (!Number.isNaN(data.enter_at_level)) {
				socket.emit('set_enter_at_level', data);
			}
			if (!Number.isNaN(data.exit_at_level)) {
				socket.emit('set_exit_at_level', data);
			}

			standard_message_queue.push(__('Enter/Exit points saved to active node'));
			if (standard_message_queue.length == 1) {
				get_standard_message()
			}
		});
	});
</script>
{% endblock %} {% block content %}
<main class="page-marshal">

<div class="panel">
	<div class="panel-content">

		<div class="control-set">
			<label for="selected_heat" class="screen-reader-text">{{ __('Heat') }}</label>
			<select id="selected_heat" disabled>
				<option value="--">{{ __('Loading...') }}</option>
			</select>

			<label for="selected_round" class="screen-reader-text">{{ __('Round') }}</label>
			<select id="selected_round" disabled>
				<option value="--">{{ __('Loading...') }}</option>
			</select>

			<label for="selected_pilot" class="screen-reader-text">{{ __('Pilot') }}</label>
			<select id="selected_pilot" disabled>
				<option value="--">{{ __('Loading...') }}</option>
			</select>

			<button id="load_race" disabled>{{ __('Load Race') }}</button>
		</div>

		<div class="race-view">
			<div id="race-header"></div>

			<canvas id="race-graph" style="width:100%; height:200px"></canvas>

			<table id="laps">
				<thead>
					<tr>
						<th>{{ __('Lap') }}</th>
						<th>{{ __('Timestamp') }}</th>
						<th>{{ __('Lap Time') }}</th>
						<th>{{ __('Source') }}</th>
						<th>{{ __('Deleted') }}</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>

			<div>
				<input type="number" id="enterat" value="239" />
				<input type="number" id="exitat" value="210" />
				<button id="recalc">{{ __('Recalc Race') }}</button>
				<button id="save-transitions">{{ __('Save Enter/Exit to node') }}</button>
			</div>
			<div>
				<input type="number" id="manual-lap-time" step="0.001" />
				<button id="add-lap">{{ __('Add Lap') }}</button>
			</div>
			<div>
				<button id="save-laps">{{ __('Commit Changes') }}</button>
			</div>
		</div>
	</div>
</div>

</main>
{% endblock %}
