{% extends "layout.html" %} {% block title %}{{ __('Marshal Race Data') }}{% endblock %}{% block head %}

<script type="text/javascript" charset="utf-8" src="/static/marshal.js?{{ serverInfo['release_version'] | urlencode }}"></script>
<script type="text/javascript" charset="utf-8">
	var data_dependencies = [
		'all_languages',
		'language',
		{
			'type': 'ui',
			'value': 'marshal'
		},
		'heat_data',
		'class_data',
		'enter_and_exit_at_levels',
		'format_data',
		'race_list'
	];

	// set admin flag
	rotorhazard.admin = true;
	rotorhazard.saveData();
	$('nav li').removeClass('admin-hide');

	var start_thresh_lower_amount = 0;
	var start_thresh_lower_duration = 0;
	var min_lap = {{ getOption('MinLapSec') }} * 1000;
	var min_lap_behavior = {{ getConfig('TIMING', 'MinLapBehavior') }};

	if ('{{ getConfig('TIMING', 'startThreshLowerAmount') }}' != 'False') {
		start_thresh_lower_amount = {{ getConfig('TIMING', 'startThreshLowerAmount') }};
	}
	if ('{{ getConfig('TIMING', 'startThreshLowerDuration') }}' != 'False') {
		start_thresh_lower_duration = {{ getConfig('TIMING', 'startThreshLowerDuration') }};
	}

	// set up single-instance marshaling
	function clearMarkedLap() {
		$('#laps tbody tr').each((index,row) => {$(row).removeClass("lap-highlighted")})
	}

	function displayLaps(laps_obj) {
		var lapList = $('#laps tbody');
		lapList.empty();

		var lap_index = 0;
		for (var lap_i in laps_obj) {
			var lap = laps_obj[lap_i];
			var lapData = $('<tr>');
			$(lapData).data("lapTimeStamp", lap.lap_time_stamp);

			if (lap.deleted) {
				lapData.addClass('lap-deleted');
			} else if (lap_index && lap.lap_time < min_lap) {
				lapData.addClass('min-lap-warning');
			}

			if (!lap.deleted) {
				marshal.drawLap(lap, true);
				lapData.append('<td>' + lap_index + '</td>');
				lapData.append('<td>' + (lap.lap_time_stamp / 1000).toFixed(3) + '</td>');
				lapData.append('<td>' + formatTimeMillis(lap.lap_time, {{ getConfig('UI', 'timeFormat')|tojson }}) + '</td>');
				lap_index++;
			} else {
				marshal.drawLap(lap, false);
				lapData.append('<td>-</td>');
				lapData.append('<td>' + (lap.lap_time_stamp / 1000).toFixed(3) + '</td>');
				lapData.append('<td>' + __('Deleted') + '</td>');
			}

			switch (lap.source) {
				case 0:
					lapData.append('<td>Realtime</td>');
					break;
				case 1:
					lapData.append('<td>Manual</td>');
					break;
				case 2:
					lapData.append('<td>Recalc</td>');
					break;
				case 3:
					lapData.append('<td>Automatic</td>');
					break;
				case 4:
					lapData.append('<td>API (plugin)</td>');
					break;
			}

			if (lap.deleted) {
				lapData.append('<td><button class="restore_lap" data-lapid="' + lap_i + '">+</button></td>');
			} else {
				lapData.append('<td><button class="delete_lap btn-danger" data-lapid="' + lap_i + '">&#215;</button></td>');
			}

			if (!marshal.race.race_format.unlimited_time && lap.lap_time_stamp > (marshal.race.race_format.race_time_sec * 1000)) {
				lapData.addClass('after-time-expired');
			}

			lapList.append(lapData);
		}

		// When a user clicks on a lap, toggle that lap's highlight pointer in the graph.
		$('#laps td:not(:last-child)').click( function(){
			var thisrow = $(this).parent()
			if(race_loaded && !thisrow.hasClass("lap-highlighted")){
				// Remove highlighting from other rows
				clearMarkedLap();
				thisrow.addClass("lap-highlighted");
				var lapTimeStamp = parseFloat(thisrow.data("lapTimeStamp"));
				marshal.markLap(lapTimeStamp);
			} else {
				clearMarkedLap();
			}
			marshal.renderGraph();
		});
	}

	function calcLaps(isLoaded) {
		// invalidate current laps
		$('#laps').addClass('invalid');
		disableUI(true);
	}

	function recalcRace(isLoaded) {
		if (isLoaded) {
			$('#laps').removeClass('invalid');
			enableUI();
		} else {
			push_message(__('No race loaded'));
		}
	}

	function graphInteractTap(args) {
		$('#laps tr').each(function(){
			if ($(this).data('lapTimeStamp') == args.lapTimeStamp) {
				$(this).children().eq(0).trigger('click');
			}
		});
	}

	function graphInteractCancel(args) {
		$('#enterat').val(args.startingEnter);
		$('#exitat').val(args.startingExit);
	}

	function calibration(calibration) {
		$('#enterat').val(calibration.enter);
		$('#exitat').val(calibration.exit);
	}

	var marshal = new RHMarshal({
		elements: {
			graph_canvas_id: 'race-graph',
		},
		time_format: {{ getConfig('UI', 'timeFormat')|tojson }},
		start_thresh_lower_amount: start_thresh_lower_amount,
		start_thresh_lower_duration: start_thresh_lower_duration,
		min_lap: min_lap,
		min_lap_behavior: min_lap_behavior,
		callbacks: {
			calcLaps: calcLaps,
			clearMarkedLap: clearMarkedLap,
			displayLaps: displayLaps,
			graphInteractCancel: graphInteractCancel,
			graphInteractTap: graphInteractTap,
			recalcRace: recalcRace,
			calibration: calibration,
		},
	});

	function disableUI(lapsOnly=false) {
		if (!lapsOnly) {
			$('#enterat').prop('disabled', true);
			$('#exitat').prop('disabled', true);
			$('#recalc').prop('disabled', true);
			$('#load-transitions').prop('disabled', true);
			$('#save-transitions').prop('disabled', true);

			$('#race-title').html(__('Select Race'));
			marshal.clearGraph();
			$('#enterat').val('');
			$('#exitat').val('');
		}
		$('#manual-lap-time').prop('disabled', true);
		$('#add-lap').prop('disabled', true);
		$('#clean-laps').prop('disabled', true);
		$('#reassign-heat').prop('disabled', true);
		$('#save-laps').prop('disabled', true);
	}

	function enableUI() {
		$('#enterat').prop('disabled', false);
		$('#exitat').prop('disabled', false);
		$('#recalc').prop('disabled', false);
		$('#load-transitions').prop('disabled', false);
		$('#save-transitions').prop('disabled', false);
		$('#manual-lap-time').prop('disabled', false);
		$('#add-lap').prop('disabled', false);
		$('#clean-laps').prop('disabled', false);
		$('#save-laps').prop('disabled', false);
		$('#reassign-heat').prop('disabled', false);
		$('#discard-laps').prop('disabled', false);
	}

	var race_list = {};
	var race_list_loaded = false;
	var race_loaded = false;
	var current_race_data = {};

	$(document).ready(function () {
		if ('{{ getConfig('TIMING', 'calibrationMode') }}' == '0') {
			$('#load-transitions').prop('hidden', false);
			$('#save-transitions').prop('hidden', false);
		}

		socket.on('ui', function (msg) {
			if (msg.page == 'marshal') {
				$('#custom-ui').empty();

				for (var i in msg.panels) {
					var panel = msg.panels[i];

					var panel_el = $('<div class="panel collapsing active">');
					var panel_header_el = $('<div class="panel-header">');
					panel_header_el.append('<h2><button class="no-style">' + panel.panel.label + '</button></h2>');
					var panel_content_el = $('<div class="panel-content">');

					// panel open/close
					if (panel.panel.open) {
						panel_el.addClass('open');
						panel_content_el.show();
					} else {
						panel_el.removeClass('open');
						panel_content_el.hide();
					}

					var form_el = $('<ol class="form">');

					for (var f_idx in panel.settings) {
						var settings = { ...panel.settings[f_idx] };

						settings.wrapperEl = 'li';
						settings.fieldClass = 'set_ui_option';
						settings.id = 'genericOption_' + settings.name;
						settings.data = {
							field: settings.name,
						}

						var field = rhui.buildField(settings);

						form_el.append(field);
					}
					panel_content_el.append(form_el);
					panel_content_el.append(rhui.buildQuickbuttons(panel.quickbuttons));

					panel_el.append(panel_header_el);
					panel_el.append(panel_content_el);

					$('#custom-ui').append(panel_el);
				}
			}
		});

		$(document).on('change', '.set_ui_option', function (event) {
			var field = $(this).data('field');
			var section = $(this).data('section');
			var value = rhui.getFieldVal(this);

			if (section) {
				var data = {
					section: section,
					key: field,
					value: value
				};
				socket.emit('set_config', data);
			} else {
				var data = {
					option: field,
					value: value
				};
				socket.emit('set_option', data);
			}
		});

		socket.on('language', function (msg) {
			if (msg.language) {
				rotorhazard.interface_language = msg.language;
			}
		});

		socket.on('enter_and_exit_at_levels', function (msg) {
			for (var i = 0; i < msg.enter_at_levels.length; i++) {
				rotorhazard.nodes[i].enter_at_level = msg.enter_at_levels[i];
				rotorhazard.nodes[i].exit_at_level = msg.exit_at_levels[i];
			}
		});

		socket.on('format_data', function (msg) {
			rotorhazard.event.race_formats = msg.formats;
			populate_race_list();
		});

		socket.on('race_list', function (msg) {
			race_list = msg;
			populate_race_list();
		});

		function populate_race_list() {
			if (race_list.hasOwnProperty('heats') && rotorhazard.event.race_formats) {
				if (jQuery.isEmptyObject(race_list.heats)) {
					$('.page-marshal>.panel>.panel-content').html('<p>' + __('There is no saved race data available to view.') + '</p>');
					return false;
				}

				// find most recent race
				var prev_heat = null;
				if (race_list_loaded) {
					prev_heat = $('#selected_heat').val();
				} else {
					var newest_race = 0;
					for (var heat in race_list.heats) {
						for (var round in race_list.heats[heat].rounds) {
							var race_time = race_list.heats[heat].rounds[round].start_time;

							if (newest_race < race_time) {
								newest_race = race_time;
								prev_heat = heat;
							}
						}
					}
				}

				$('#selected_heat').empty();
				for (var heat_i in race_list.heats) {
					var heat = race_list.heats[heat_i];

					$('#selected_heat').append('<option value="' + heat_i + '">' + heat.displayname + '</option>');
				}

				if (!race_list_loaded) {
					race_list_loaded = true;
					$('.heat-selector').prop('disabled', false);
					$('#selected_round').prop('disabled', false);
					$('#selected_pilot').prop('disabled', false);
				}
				if (prev_heat) {
					$('.heat-selector').val(prev_heat);
					$('#selected_heat').trigger('change');
				}
			}
		}

		socket.on('race_details', function (msg) {
			race_args = {
				round: current_race_data.round_id,
				heat: current_race_data.heat_id,
				race_id: current_race_data.race_id,
				class_id: current_race_data.class_id,
				format_id: current_race_data.format_id,
				start_time: current_race_data.start_time,
				start_time_formatted: current_race_data.start_time_formatted,
			}
			if (current_race_data.format_id > 0) {
				race_args.race_format = rotorhazard.event.race_formats.find(obj => {return obj.id == current_race_data.format_id});
			} else {
				race_args.race_format = {
					unlimited_time: false,
					race_time_sec: null
				};
			}
			marshal.setRaceData(race_args);

			pilot_args = {
				pilotrace_index: current_race_data.pilot,
				history_times: msg.history_times,
				history_values: msg.history_values,
				laps: msg.laps,
				enter_at: msg.enter_at,
				exit_at: msg.exit_at,
			}
			marshal.setPilotData(pilot_args);

			marshal.initRace();

			// update header
			var header = $( "#selected_heat option:selected" ).text() + ' / ' +
			$( "#selected_round option:selected" ).text() + ' / ' +
			$( "#selected_pilot option:selected" ).text();
			$('#race-title').html(header);

			// fill enter/exit values
			$('#enterat').val(msg.enter_at);
			$('#exitat').val(msg.exit_at);

			enableUI();
			return false;
		});

		socket.on('heat_data', function (msg) {
			rotorhazard.event.heats = msg.heats;
			display_heats();
		});

		socket.on('class_data', function (msg) {
			rotorhazard.event.classes = msg.classes;
			display_heats();
		});

		function display_heats() {
			if (rotorhazard.event.heats && rotorhazard.event.classes) {
				$("#reassign-heat-selector").empty();
				for (var idx in rotorhazard.event.heats) {
					var heat = rotorhazard.event.heats[idx];

					var opt = $(document.createElement('option'))
						.prop('value', heat.id)
						.text(heat.displayname);

					if (heat.class_id) {
						var race_class = rotorhazard.event.classes.find(obj => {return obj.id == heat.class_id});

						if (race_class && race_class.round_type == 1 && !heat.active) {
							opt.prop('disabled', true)
						}
					}

					$('#reassign-heat-selector').append(opt);
				}
			}
		}

		// set up node local store
		for (i = 0; i < {{ num_nodes }}; i++) {
			rotorhazard.nodes[i] = new nodeModel();
		}

		$('#selected_heat').change(function(){
			$('#reassign-heat-selector').val($(this).val());
			var prev_round = $('#selected_round').val();

			$('#selected_round').empty();

			var heat = parseInt($(this).val());

			if (1 in race_list.heats[heat].rounds && !(2 in race_list.heats[heat].rounds) ) {
				$('#selected_round').append('<option value="1">-</option>');
				$('#selected_round').val(1);
				$('#selected_round').prop('hidden', true);
			} else {
				for (var round_i in race_list.heats[heat].rounds) {
					$('#selected_round').append('<option value="' + round_i + '">' + __('Round') + ' ' + round_i + '</option>');
				}
				$('#selected_round').val(round_i);
				$('#selected_round').prop('hidden', false);
			}

			$('#selected_round option').each(function(){
				if (this.value == prev_round) {
					$('#selected_round').val(prev_round);
					return false;
				}
			});

			disableUI();

			$('#selected_round').trigger('change');
		});

		$('#selected_round').change(function(){
			var prev_pilot = $('#selected_pilot').data('pilot-id');

			$('#selected_pilot').empty();

			var heat = parseInt($('#selected_heat').val());
			var round = parseInt($(this).val());

			for (var pilot_i in race_list.heats[heat].rounds[round].pilotraces) {
				var pilotrace = race_list.heats[heat].rounds[round].pilotraces[pilot_i];
				var pilotFreqInfo;
				if (pilotrace.pilot_freq) {
					if (pilotrace.pilot_freq.length <= 4) {
						// if only freq provided then lookup band/channel in table and prepend them
						var fObj = freq.findByFreq(pilotrace.pilot_freq);
						if (fObj && fObj.band && fObj.channel) {
							pilotFreqInfo = " - " + fObj.band + fObj.channel + " " + pilotrace.pilot_freq;
						} else {
							pilotFreqInfo = " - " + pilotrace.pilot_freq;
						}
					} else {  // if band/channel and freq provided then use them
						pilotFreqInfo = " - " + pilotrace.pilot_freq;
					}
				} else {
					pilotFreqInfo = ""
				}
				$('#selected_pilot').append('<option value="' + pilot_i + '" data-pilot-id="' +
				        pilotrace.pilot_id + '">' + pilotrace.callsign + ' (' +
				        (pilotrace.node_index + 1) + ')' + pilotFreqInfo + '</option>');
			}

			$('#selected_pilot option').each(function(){
				if ($(this).data('pilot-id') == prev_pilot) {
					$('#selected_pilot').val($(this).val());
					return false;
				}
			});

			disableUI();

			$('#selected_pilot').trigger('change');
		});

		$('#selected_pilot').change(function(){
			var heat = parseInt($('#selected_heat').val());
			var round = parseInt($('#selected_round').val());
			var pilot = parseInt($(this).val());
			var pilotrace = race_list.heats[heat].rounds[round].pilotraces[pilot];

			$(this).data('pilot-id', pilotrace.pilot_id);

			load_race();
		});

		function load_race() {
			race_loaded = true;

			var heat = parseInt($('#selected_heat').val());
			var round = parseInt($('#selected_round').val());
			var pilot = parseInt($('#selected_pilot').val());

			// load current race data
			current_race_data = jQuery.extend(true, {}, race_list.heats[heat].rounds[round].pilotraces[pilot]);
			current_race_data.pilotrace_index = pilot;
			// fill current data with race meta
			current_race_data.round_id = round;
			current_race_data.heat_id = heat;
			current_race_data.race_id = race_list.heats[heat].rounds[round].race_id;
			current_race_data.class_id = race_list.heats[heat].class_id;
			current_race_data.format_id = race_list.heats[heat].rounds[round].format_id;
			current_race_data.start_time = race_list.heats[heat].rounds[round].start_time;
			current_race_data.start_time_formatted = race_list.heats[heat].rounds[round].start_time_formatted;

			socket.emit('get_pilotrace', {
				'pilotrace_id': current_race_data.pilotrace_id,
			});
		}

		$('#enterat').on('input', function (event) {
			if (Math.abs($('#enterat').val() - current_race_data.enter_at) == 1) {
				marshal.setEnter($(this).val());  // handle long press of 'up' button on input widget
			}
		});

		$('#enterat').change(function(){
			marshal.setEnter($(this).val());
		});

		$('#exitat').on('input', function (event) {
			if (Math.abs($('#exitat').val() - current_race_data.exit_at) == 1) {
				marshal.setExit($(this).val());  // handle long press of 'down' button on input widget
			}
		});

		$('#exitat').change(function(){
			marshal.setExit($(this).val());
		});

		$('#manual-lap-time').on('input', function (event) {
			lap_time_s = $('#manual-lap-time').val()
			marshal.clearMarkedLap();
			marshal.markLap(lap_time_s * 1000);
			marshal.renderGraph();
		});

		$('#add-lap').click(function(){
			lap_time_s = $('#manual-lap-time').val();

			if (lap_time_s.length > 0) {
				if (!marshal.addManualLap(lap_time_s)) {
					push_message(__('No race loaded'));
				}
			} else {
				push_message(__('To add a lap manually, first specify lap time'));
			}
		});

		$('#clean-laps').click(function(){
			if (!marshal.cleanDeletedLaps()) {
				push_message(__('No race loaded'));
			}
		});

		$(document).on('click', '.delete_lap', function(){
			marshal.markLapDeleted($(this).data('lapid'));
		});

		$(document).on('click', '.restore_lap', function(){
			marshal.restoreDeletedLap($(this).data('lapid'));
		});

		$('#reassign-heat').click(function(){
			if (race_loaded) {
				var race_id = current_race_data.race_id;
				var heat_id = parseInt($('#reassign-heat-selector').val());
				socket.emit('alter_race', {
					'race_id': race_id,
					'heat_id': heat_id
				});
				race_list_loaded = false
			} else {
				push_message(__('No race loaded'));
			}
		});

		$('#save-laps').click(function(){
			data = marshal.getRaceData();
			if (data) {
				socket.emit('resave_laps', data);
			} else {
				push_message(__('No race loaded'));
			}
		});

		$('#discard-laps').click(function(){
			load_race();
		});

		$('#load-transitions').click(function(){
			if (race_loaded) {
				var node = current_race_data.node_index;
				$('#enterat').val(rotorhazard.nodes[node].enter_at_level);
				$('#exitat').val(rotorhazard.nodes[node].exit_at_level);
				marshal.recalcRace();
			} else {
				push_message(__('No race loaded'));
			}
		});

		$('#save-transitions').click(function(){
			if (race_loaded) {
				var data = {
					node: current_race_data.node_index,
					enter_at_level: parseInt($('#enterat').val()),
					exit_at_level: parseInt($('#exitat').val()),
				};
				if (!Number.isNaN(data.enter_at_level)) {
					socket.emit('set_enter_at_level', data);
				}
				if (!Number.isNaN(data.exit_at_level)) {
					socket.emit('set_exit_at_level', data);
				}

				push_message(__('Enter/Exit points saved to active node'));
			} else {
				push_message(__('No race loaded'));
			}
		});

		// lap list hotkey
		$(document).on('keyup', function(e) {
			// keyboard shortcuts
			switch (e.key) {
				case 'Delete':
				case 'x':
					if (!e.ctrlKey && !e.altKey && !e.metaKey) {
						// delete current lap toggle: z
						$('#laps tr.lap-highlighted button').trigger('click');
					}
					break;
			}
		});
	});
</script>
{% endblock %} {% block content %}
<main class="page-marshal">

<div class="panel">
	<div class="panel-content">

		<div class="control-set">
			<label for="selected_heat" class="screen-reader-text">{{ __('Heat') }}</label>
			<select id="selected_heat" class="heat-selector" disabled>
				<option value="--">{{ __('Loading...') }}</option>
			</select>

			<label for="selected_round" class="screen-reader-text">{{ __('Round') }}</label>
			<select id="selected_round" disabled>
				<option value="--">{{ __('Loading...') }}</option>
			</select>

			<label for="selected_pilot" class="screen-reader-text">{{ __('Pilot') }}</label>
			<select id="selected_pilot" disabled>
				<option value="--">{{ __('Loading...') }}</option>
			</select>
		</div>

		<div id="race-display">
			<div id="race-header">
				<h2 id="race-title">{{ __('Select Race') }}</h2>
				<div id="race-meta"></div>
			</div>

			<div id="race-view">
				<canvas id="race-graph" style="width:100%; height:200px"></canvas>

				<table id="laps">
				<thead>
					<tr>
						<th>{{ __('Lap') }}</th>
						<th>{{ __('Timestamp') }}</th>
						<th>{{ __('Lap Time') }}</th>
						<th>{{ __('Source') }}</th>
						<th>{{ __('Deleted') }}</th>
					</tr>
				</thead>
				<tbody></tbody>
				</table>
			</div>

			<div class="sidebar-controls">
				<div class="control-block">
					<h3>{{ __('Recalculate') }}</h3>
					<label for="enterat" class="screen-reader-text">{{ __('EnterAt') }}</label>
					<input type="number" id="enterat" value="" placeholder="{{ __('EnterAt') }}" disabled />
					<label for="exitat" class="screen-reader-text">{{ __('ExitAt') }}</label>
					<input type="number" id="exitat" value="" placeholder="{{ __('ExitAt') }}" disabled />
					<button id="load-transitions" hidden disabled>{{ __('Load from Node') }}</button>
					<button id="save-transitions" hidden disabled>{{ __('Save to Node') }}</button>
				</div>
				<div class="control-block">
					<h3>{{ __('Modify') }}</h3>
					<label for="manual-lap-time" class="screen-reader-text">{{ __('Manual Lap Time') }}</label>
					<input type="number" id="manual-lap-time" step="0.001" placeholder="{{ __('Manual Lap Time') }}" disabled />
					<button id="add-lap" disabled>{{ __('Add Lap') }}</button>
					<button id="clean-laps" disabled>{{ __('Clean Deleted Laps') }}</button>
				</div>
				<div class="control-block">
					<h3>{{ __('Reassign Heat') }}</h3>
					<select id="reassign-heat-selector" class="heat-selector" disabled>
						<option>{{ __('Loading...') }}</option>
					</select>
					<button id="reassign-heat" disabled>{{ __('Reassign Heat') }}</button>
				</div>
				<div class="control-block">
					<h3>{{ __('Confirm') }}</h3>
					<button id="save-laps" disabled>{{ __('Commit Changes') }}</button>
					<button id="discard-laps" disabled>{{ __('Discard Changes') }}</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Custom UI -->
<div id="custom-ui"></div>

</main>
{% endblock %}
