{% extends "layout.html" %} {% block title %}Race{% endblock %}{% block head %}
<script type="text/javascript" charset="utf-8">
	var volume_logsl = new LogSlider({maxpos: 100, minval: 0.01, maxval: 1});

	var request_time;
	var resume_check = true;
	var buzzer = false;
	var stagebuzzer = false;

	var speakObjsQueue = [];
	var checkSpeakQueueFlag = true;

	$(document).ready(function () {
		socket.emit('load_data', {'load_types': [
			'all_languages',
			'language',
			'frequency_data',
			'pilot_data',
			'leaderboard',
			'current_laps',
			'race_status',
			'current_heat',
			'team_racing_stat_if_enb'
		]});

		socket.on('all_languages', function (msg) {
			rotorhazard.language_strings = msg.languages;
		});

		socket.on('language', function (msg) {
			$('#set_language').empty();
			$('#set_language').append('<option value="">English</option>')
			for (i = 0; i < msg.languages.length; i++) {
				$('#set_language').append('<option value="' + msg.languages[i].id +'">' + msg.languages[i].name + '</option>')
			}

			$('#set_voice_string_language').empty();
			$('#set_voice_string_language').append('<option value="match-timer">' + __('(Match Timer Language)') + '</option>')
			$('#set_voice_string_language').append('<option value="">English</option>')
			for (i = 0; i < msg.languages.length; i++) {
				$('#set_voice_string_language').append('<option value="' + msg.languages[i].id +'">' + msg.languages[i].name + '</option>')
			}
			$('#set_voice_string_language').val(rotorhazard.voice_string_language);

			if (msg.language) {
				rotorhazard.interface_language = msg.language;
				$('#set_language').val(msg.language);
			} else {
				$('#set_language').selectedIndex = 0;
			}
		});

		// set up nodes
		$('.node').each(function(){
			var node_id = parseInt($(this).data('id'));
			rotorhazard.nodes[node_id] = new nodeModel();
		});

		// populate voice controls
		$('#voice-calls').val(parseInt(rotorhazard.primaryPilot));

		$('#voice_callsign').prop( "checked", rotorhazard.voice_callsign);
		$('#voice_lap_count').prop( "checked", rotorhazard.voice_lap_count);
		$('#voice_team_lap_count').prop( "checked", rotorhazard.voice_team_lap_count);
		$('#voice_lap_time').prop( "checked", rotorhazard.voice_lap_time);
		$('#voice_race_timer').prop( "checked", rotorhazard.voice_race_timer);
		$().articulate('volume', rotorhazard.voice_volume);
		$('#set_voice_volume').val(volume_logsl.position(rotorhazard.voice_volume));
		$('#voice_volume_value').html($('#set_voice_volume').val());
		$().articulate('rate', rotorhazard.voice_rate);
		$('#voice_rate_value').html(rotorhazard.voice_rate.toFixed(2));
		$('#set_voice_rate').val(rotorhazard.voice_rate);
		$().articulate('pitch', rotorhazard.voice_pitch);
		$('#voice_pitch_value').html(rotorhazard.voice_pitch.toFixed(2));
		$('#set_voice_pitch').val(rotorhazard.voice_pitch);

		socket.on('race_elapsed', function (msg) {
			var response_time = new Date();
			var server_delay = ((response_time - request_time) / 2);
			if (timer.getStatus() == 1) {
				var elapsed = msg.elapsed + server_delay;
				setTimeout(function(){
					if (timer.getMode()) {
						// Count up mode
						timer.stop();
						timer.reset(Math.floor(elapsed / 1000) + 1);
						timer.continue(); // Start clock without fanfare
					} else {
						// Count down mode
						var remaining = timer.getRaceDuration() - Math.floor(elapsed / 1000);

						if (remaining > 1) { // don't attempt to sync very late
							timer.stop();
							timer.reset(timer.getRaceDuration() - Math.floor(elapsed / 1000));
							timer.continue(); // Start clock without fanfare
						} else {
							timer.reset(0);
						}
					}
				}, 1000 - (elapsed % 1000));
			}
		});

		socket.on('race_status', function (msg) {
			switch (msg.race_status) {
				case 1: // Race running
					$('body').addClass('race-running');
					$('body').removeClass('race-stopped');
					$('body').removeClass('race-new');
					if (resume_check) {
						timer.reset(0);
						timer.continue();
					}
					break;
				case 2: // Race stopped, clear or save laps
					$('body').addClass('race-stopped');
					$('body').removeClass('race-running');
					$('body').removeClass('race-new');
					break;
				default: // Waiting to start new race
					$('body').addClass('race-new');
					$('body').removeClass('race-running');
					$('body').removeClass('race-stopped');
			}
			timer.mode(msg.race_mode);
			timer.setRaceDuration(msg.race_time_sec);

			// resume race if needed
			if (resume_check) {
				resume_check = false;
				request_time = new Date();
				socket.emit('get_race_elapsed');
			}
		});

		socket.on('heartbeat', function (msg) {
			if (speakObjsQueue.length > 0) {
				var isSpeakingFlag = $().articulate('isSpeaking');
				if (checkSpeakQueueFlag) {
					if (!isSpeakingFlag) {
						var obj = speakObjsQueue.shift();
						if (speakObjsQueue.length > 0)
							checkSpeakQueueFlag = false;
						doSpeak(obj);
					}
				}  //make sure previous speak has started before checking queue again
				else if (isSpeakingFlag)
					checkSpeakQueueFlag = true;
			}
		});

		socket.on('frequency_data', function (msg) {
			for (i = 0; i < msg.frequency.length; i++) {
				$('#s_channel_' + i).val(msg.frequency[i]);
				rotorhazard.nodes[i].frequency = msg.frequency[i];
				freq.updateBlocks();
			}
		});

		socket.on('current_laps', function (msg) {
			$.each(msg.node_index, function (i, node_index) { // i is loop num, node_index is json array
				$('#current_laps_' + i + ' tbody > tr').remove();
				$.each(node_index.lap_id, function (j, lap_id) { // j is loop num, lap_id is not used
					if (node_index.lap_id[j] == 0) {
						var $tr = $('<tr class="lap_0">').append(
							$('<td>').text(node_index.lap_id[j]),
							$('<td>').text(node_index.lap_time[j])
						).appendTo('#current_laps_' + i);
					}
					else {
						var $tr = $('<tr>').append(
							$('<td>').text(node_index.lap_id[j]),
							$('<td>').text(node_index.lap_time[j])
						).appendTo('#current_laps_' + i);
					}
				});
			});
		});

		socket.on('leaderboard', function (msg) {
			$('#leaderboard').empty();
			$('#leaderboard').append(build_leaderboard(msg.by_race_time, 'current', msg.meta));
		});

		socket.on('team_racing_status', function (msg) {
			$('.team_racing_status').html(msg.team_laps_str);
		});

		socket.on('phonetic_data', function (msg) {
			if (rotorhazard.primaryPilot == 0 || rotorhazard.primaryPilot == msg.pilot_id
				&& rotorhazard.min_lap * 1000 < msg.raw_time) {

				var ttstext = '';

				if (rotorhazard.voice_callsign) {
					ttstext = msg.callsign;
					if (msg.pilot)
						ttstext = msg.pilot;
				}

				if (rotorhazard.voice_lap_count) {
					if (ttstext.length > 0)
						ttstext += ", ";
					ttstext += __l('Lap') + " " + msg.lap;
				}

				if (rotorhazard.voice_lap_time) {
					if (ttstext.length > 0)
						ttstext += ", ";
					ttstext += msg.phonetic;
				}

				if (msg.team_name && msg.team_laps && rotorhazard.voice_team_lap_count) {
					if (ttstext.length > 0)
						ttstext += ", ";
					ttstext += __l('Team') + " " + msg.team_name + ", " + __l('Lap') + " " + msg.team_laps;
				}

				if (ttstext.length > 0) {
					speak('<div class="speech">' + ttstext + '</div>');
				}
			}
		})

		socket.on('phonetic_text', function (msg) {
			if (msg.text) {
				if (!msg.domain || rotorhazard['voice_' + msg.domain]) {
					speak('<div class="speech">' + __l(msg.text) + '</div>');
				}
			}
		})

		socket.on('current_heat', function (msg) {
			var heatname = __('Heat') + ' ' + msg.current_heat;
			if (msg.heat_note)
				heatname = msg.heat_note;

			$('.current_heat').html(heatname);
			for (i = 0; i < msg.callsign.length; i++) {
				$('.callsign_' + i).html(msg.callsign[i]);
			}
		});

		socket.on('prestage_ready', function (msg) {
			request_time = new Date();
		});

		socket.on('stage_ready', function (msg) {
			var response_time = new Date();
			var server_delay = ((response_time - request_time) / 2);

			var data = { // supply delay to stage 2
				delay: msg.start_delay
			}
			setTimeout(function(){
				timer.mode(msg.race_mode);
				timer.setRaceDuration(msg.race_time_sec);
				timer.reset();
				timer.pre_race(msg.start_delay, msg.hide_stage_timer);
				timer.start(); // Start clock

				race_mode = msg.race_time_sec;
			}, server_delay);
		});

		socket.on('stop_timer', function (msg) {
			timer.stop();
		});

		socket.on('pilot_data', function (msg) {
			var voices = $("#voice-calls");
			voices.empty();
			voices.append('<option value="-1">' + __('None') + '</option>');
			voices.append('<option value="0">' + __('All') + '</option>');
			for (var i in msg.pilot_id) {
				voices.append('<option value="' + msg.pilot_id[i] + '">' + msg.callsign[i] + ' (' + msg.name[i] + ')</option>')
			}
			voices.val(rotorhazard.primaryPilot);
		});

		/* Voice */
		$(document).on('change', '#set_voice_language', function (event) {
			rotorhazard.voice_language = $(this).val();
			rotorhazard.saveData();
		});

		// construct language selection
		$('#voice_select').after('<select id="set_voice_language">');
		var voices = $().articulate('getVoices');

		for (var i in voices) {
			$('#set_voice_language').append('<option>'+ voices[i].name + '</option>');
		}
		$('#set_voice_language').val(rotorhazard.voice_language);

		$('#set_voice_string_language').change(function (event) {
			rotorhazard.voice_string_language = $(this).val();
			rotorhazard.saveData();
		});

		$('#voice_callsign').change(function (event) {
			rotorhazard.voice_callsign = $(this).prop('checked');
			rotorhazard.saveData();
		});

		$('#voice_lap_count').change(function (event) {
			rotorhazard.voice_lap_count = $(this).prop('checked');
			rotorhazard.saveData();
		});

		$('#voice_team_lap_count').change(function (event) {
			rotorhazard.voice_team_lap_count = $(this).prop('checked');
			rotorhazard.saveData();
		});

		$('#voice_lap_time').change(function (event) {
			rotorhazard.voice_lap_time = $(this).prop('checked');
			rotorhazard.saveData();
		});

		$('#voice_race_timer').change(function (event) {
			rotorhazard.voice_race_timer = $(this).prop('checked');
			rotorhazard.saveData();
		});

		$('#voice-calls').change(function(){
			rotorhazard.primaryPilot = parseInt($(this).val());
			rotorhazard.saveData();
		});

		$('#set_voice_volume').on('input', function (event) {
			var val = volume_logsl.value($(this).val());
			$().articulate('volume', val);
			$('#voice_volume_value').html($(this).val());
		});

		$('#set_voice_volume').change(function (event) {
			var val = volume_logsl.value($(this).val());
			rotorhazard.voice_volume = val;
			rotorhazard.saveData();
		});

		$('#set_voice_rate').on('input', function (event) {
			val = parseFloat($(this).val())
			$().articulate('rate', val);
			$('#voice_rate_value').html(val.toFixed(2));
		});

		$('#set_voice_rate').on('change', function (event) {
			rotorhazard.voice_rate = parseFloat($(this).val());
			rotorhazard.saveData();
		});

		$('#set_voice_pitch').on('input', function (event) {
			val = parseFloat($(this).val())
			$().articulate('pitch', val);
			$('#voice_pitch_value').html(val.toFixed(2));
		});

		$('#set_voice_pitch').on('change', function (event) {
			rotorhazard.voice_pitch = parseFloat($(this).val());
			rotorhazard.saveData();
		});
	});

	function doSpeak(obj) {
		$(obj).articulate('setVoice','name', rotorhazard.voice_language).articulate('speak');
	};

	function speak(obj, priority) {
		if (typeof(priority)=='undefined')
			priority = false;

		if (priority) {
			speakObjsQueue.unshift(obj);
		} else {
			speakObjsQueue.push(obj);
		}
	};

</script>
{% endblock %} {% block content %}
<main class="page-racepublic">

<div class="panel">
	<div class="panel-content">
		<!--Buttons for controlling the race-->
		<p>{% include "build_timer.html" %}</p>

		<h2 class="current_heat">{{ __('Loading...') }}</h2>

		<!--Display the race leaderboard-->
		<div id="leaderboard"></div>

		<div class="team_racing_status"></div>

		<!--Display the current laps-->
		<div class="race-results">
			{% for node in range(num_nodes) %}
			<div class="node" data-id="{{ node }}">
				<h4 class="callsign_{{ node }}">{{ __('Loading...') }}</h4>
				<div class="channel-block" data-node="{{ node }}"><span class="ch"></span> <span class="fr"></span></div>
				<table class="laps" id="current_laps_{{ node }}">
					<tbody>
					</tbody>
				</table>
			</div>
			{% endfor %}
		</div>
	</div>
</div>


<!--Voice Settings-->
<div class="panel collapsing">
	<div class="panel-header">
		<h2>{{ __('Audio Control') }}</h2>
	</div>
	<div class="panel-content">

		<ol class="form">
			<li>
				<div class="label-block" id="voice_select">
					<label for="set_voice_language">{{ __('Voice Select') }}</label>
				</div>
			</li>
			<li>
				<div class="label-block">
					<label for="set_voice_string_language">{{ __('Voice Language') }}</label>
				</div>
				<select id="set_voice_string_language">
					<option>{{ __('Loading...') }}</option>
				</select>
			</li>
			<li>
				<div class="label-block">
					<label for="voice-calls">{{ __('Voice Calls') }}</label>
				</div>
				<select id="voice-calls">
					<option value="-1">{{ __('Loading...') }}</option>
				</select>
			</li>
			<li>
				<div class="label-block">
					{{ __('Announcements') }}
				</div>
				<ul>
					<li><label><input type="checkbox" id="voice_callsign"> {{ __('Callsign') }}</label></li>
					<li><label><input type="checkbox" id="voice_lap_count"> {{ __('Lap Number') }}</label></li>
					<li><label><input type="checkbox" id="voice_lap_time"> {{ __('Lap Time') }}</label></li>
					<li><label><input type="checkbox" id="voice_race_timer"> {{ __('Race Timer') }}</label></li>
					<li><label><input type="checkbox" id="voice_team_lap_count"> {{ __('Team Lap Total') }}</label></li>
				</ul>
			</li>
			<li>
				<div class="label-block">
					<label for="set_voice_volume">{{ __('Voice Volume') }}</label>
					<p class="desc">{{ __('Volume') }}: <span id="voice_volume_value"></span></p>
				</div>
				<input type="range" id="set_voice_volume" min="0" max="100">
			</li>
			<li>
				<div class="label-block">
					<label for="set_voice_rate">{{ __('Voice Rate') }}</label>
					<p class="desc">{{ __('Rate') }}: <span id="voice_rate_value"></span></p>
				</div>
				<input type="range" id="set_voice_rate" min="0" max="2.0" step="0.01">
			</li>
			<li>
				<div class="label-block">
					<label for="set_voice_pitch">{{ __('Voice Pitch') }}</label>
					<p class="desc">{{ __('Pitch') }}: <span id="voice_pitch_value"></span></p>
				</div>
				<input type="range" id="set_voice_pitch" min="0" max="2.0" step="0.01">
			</li>
		</ol>
	</div>
</div>

</main>
{% endblock %}
