{% extends "layout.html" %} {% block title %}Race{% endblock %}{% block head %}
<script type="text/javascript" charset="utf-8">
	var volume_logsl = new LogSlider({maxpos: 100, minval: 0.01, maxval: 1});

	var request_time;
	var request_pi_time;
	var resume_check = true;

	var speakObjsQueue = [];
	var checkSpeakQueueFlag = true;

	function race_kickoff(msg) {
		rotorhazard.timer.stopAll();

		rotorhazard.race_start_pi = (msg.pi_starts_at_s * 1000); // convert seconds (pi) to millis (JS)

		rotorhazard.timer.race.hidden_staging = Boolean(msg.hide_stage_timer);
		rotorhazard.timer.race.count_up = Boolean(msg.race_mode);
		rotorhazard.timer.race.duration = msg.race_time_sec;

		rotorhazard.timer.race.start(rotorhazard.race_start_pi, rotorhazard.pi_time_diff);
	}

	$(document).ready(function () {
		// get pi time
		rotorhazard.pi_time_request = window.performance.now();
		socket.emit('get_pi_time');

		socket.emit('load_data', {'load_types': [
			'all_languages',
			'language',
			'frequency_data',
			'pilot_data',
			'race_format',
			'leaderboard_cache',
			'current_laps',
			'race_status',
			'current_heat',
			'team_racing_stat_if_enb'
		]});

		$('#about>.popup-content').append('<p id="server-lag">Sync quality: [calculating]</p>');

		socket.on('pi_time', function (msg) {
			var response_time = window.performance.now();
			var server_delay = response_time - rotorhazard.pi_time_request;
			var server_oneway = server_delay ? server_delay / 2 : server_delay;

			var pi_time_diff = {
				'differential': (msg.pi_time_s * 1000) - response_time - server_oneway, // convert seconds (pi) to millis (JS)
				'response': parseFloat(server_delay)
			}

			// store sync sample
			rotorhazard.pi_time_diff_samples.push(pi_time_diff);

			// sort stored samples
			rotorhazard.pi_time_diff_samples.sort(function(a, b){
				return a.response - b.response;
			})

			// remove unusable samples
			var diff_min = rotorhazard.pi_time_diff_samples[0].differential - rotorhazard.pi_time_diff_samples[0].response
			var diff_max = rotorhazard.pi_time_diff_samples[0].differential + rotorhazard.pi_time_diff_samples[0].response

			rotorhazard.pi_time_diff_samples = rotorhazard.pi_time_diff_samples.filter(function(value, index, array) {
				return value.differential >= diff_min && value.differential <= diff_max;
			});

			// get filtered value
			var a = [];
			for (var i in rotorhazard.pi_time_diff_samples) {
				a.push(rotorhazard.pi_time_diff_samples[i].differential);
			}
			rotorhazard.pi_time_diff = median(a);

			// pass current sync to timer
			rotorhazard.timer.race.sync(rotorhazard.race_start_pi, rotorhazard.pi_time_diff);

			// continue sampling for sync to improve accuracy
			if (rotorhazard.pi_time_diff_samples.length < 10) {
				setTimeout(function(){
					rotorhazard.pi_time_request = window.performance.now();
					socket.emit('get_pi_time');
				}, (Math.random() * 500) + 250); // 0.25 to 0.75s delay
			}

			// update server info
			var a = Infinity;
			for (var i in rotorhazard.pi_time_diff_samples) {
				a = Math.min(a, rotorhazard.pi_time_diff_samples[i].response);
			}
			$('#server-lag').html('<p>Sync quality: within ' + a + 'ms (' + rotorhazard.pi_time_diff_samples.length + ' samples)</p>');
		});

		socket.on('all_languages', function (msg) {
			rotorhazard.language_strings = msg.languages;
		});

		socket.on('language', function (msg) {
			$('#set_language').empty();
			$('#set_language').append('<option value="">English</option>')
			for (i = 0; i < msg.languages.length; i++) {
				$('#set_language').append('<option value="' + msg.languages[i].id +'">' + msg.languages[i].name + '</option>')
			}

			$('#set_voice_string_language').empty();
			$('#set_voice_string_language').append('<option value="match-timer">' + __('(Match Timer Language)') + '</option>')
			$('#set_voice_string_language').append('<option value="">English</option>')
			for (i = 0; i < msg.languages.length; i++) {
				$('#set_voice_string_language').append('<option value="' + msg.languages[i].id +'">' + msg.languages[i].name + '</option>')
			}
			$('#set_voice_string_language').val(rotorhazard.voice_string_language);

			if (msg.language) {
				rotorhazard.interface_language = msg.language;
				$('#set_language').val(msg.language);
			} else {
				$('#set_language').selectedIndex = 0;
			}
		});

		// set up node local store
		for (i = 0; i < {{ num_nodes }}; i++) {
			rotorhazard.nodes[i] = new nodeModel();
		}

		// populate voice controls
		$('#voice-calls').val(parseInt(rotorhazard.primaryPilot));

		$('#voice_callsign').val(rotorhazard.voice_callsign);
		$('#voice_lap_count').val(rotorhazard.voice_lap_count);
		$('#voice_team_lap_count').val(rotorhazard.voice_team_lap_count);
		$('#voice_lap_time').val(rotorhazard.voice_lap_time);
		$('#voice_race_timer').val(rotorhazard.voice_race_timer);
		$('#voice_race_winner').val(rotorhazard.voice_race_winner);
		$('#voice_split_timer').val(rotorhazard.voice_split_timer);
		$().articulate('volume', rotorhazard.voice_volume);
		$('#set_voice_volume').val(volume_logsl.position(rotorhazard.voice_volume));
		$('#voice_volume_value').html($('#set_voice_volume').val());
		$().articulate('rate', rotorhazard.voice_rate);
		$('#voice_rate_value').html(rotorhazard.voice_rate.toFixed(2));
		$('#set_voice_rate').val(rotorhazard.voice_rate);
		$().articulate('pitch', rotorhazard.voice_pitch);
		$('#voice_pitch_value').html(rotorhazard.voice_pitch.toFixed(2));
		$('#set_voice_pitch').val(rotorhazard.voice_pitch);
		$('#display_lap_number').prop("checked", rotorhazard.display_lap_number);
		$('#display_time_start').prop("checked", rotorhazard.display_time_start);
		$('#display_time_first_pass').prop("checked", rotorhazard.display_time_first_pass);
		$('#use_mp3_tones').prop("checked", rotorhazard.use_mp3_tones);

		socket.on('race_scheduled', function (msg) {
			if (msg.scheduled) {
				var deferred_start = msg.scheduled_at * 1000;  // convert seconds (pi) to millis (JS)
				rotorhazard.timer.deferred.start(deferred_start, rotorhazard.pi_time_diff);
			} else {
				rotorhazard.timer.deferred.stop();
			}
		});

		socket.on('race_status', function (msg) {
			switch (msg.race_status) {
				case 1: // Race running
					rotorhazard.race_status_go_time = window.performance.now();
					$('body').addClass('race-running');
					$('body').removeClass('race-stopped');
					$('body').removeClass('race-new');
					$('.timing-clock').removeClass('staging');
					if (resume_check) {
						race_kickoff(msg);
					}
					break;
				case 2: // Race stopped, clear or save laps
					$('body').removeClass('race-running');
					$('body').addClass('race-stopped');
					$('body').removeClass('race-new');
					$('.timing-clock').removeClass('staging');
					break;
				case 3: // staging
					$('body').removeClass('race-stopped');
					$('body').addClass('race-running');
					$('body').removeClass('race-new');
					$('.timing-clock').addClass('staging');
					if (resume_check) {
						race_kickoff(msg);
					}
					break;
				default: // Waiting to start new race
					$('body').removeClass('race-running');
					$('body').removeClass('race-stopped');
					$('body').addClass('race-new');
					$('.timing-clock').removeClass('staging');
					if (resume_check) {
						socket.emit('get_race_scheduled');
					}
					break;
			}

			resume_check = false;
		});

		socket.on('heartbeat', function (msg) {
			if (speakObjsQueue.length > 0) {
				var isSpeakingFlag = $().articulate('isSpeaking');
				if (checkSpeakQueueFlag) {
					if (!isSpeakingFlag) {
						var obj = speakObjsQueue.shift();
						if (speakObjsQueue.length > 0)
							checkSpeakQueueFlag = false;
						doSpeak(obj);
					}
				}  //make sure previous speak has started before checking queue again
				else if (isSpeakingFlag)
					checkSpeakQueueFlag = true;
			}
		});

		socket.on('frequency_data', function (msg) {
			for (i = 0; i < msg.frequency.length; i++) {
				$('#s_channel_' + i).val(msg.frequency[i]);
				rotorhazard.nodes[i].frequency = msg.frequency[i];
				freq.updateBlocks();
			}
		});

		socket.on('current_laps', function (msg) {
			current_laps = msg;
			show_current_laps();
		});

		function show_current_laps() {
			$.each(current_laps.node_index, function (i, node_index) { // i is loop num, node_index is json object
				$('#current_laps_' + i + ' tbody > tr').remove();

				$.each(node_index.laps, function (j, lap) { // j is loop num, lap is json object
					var lapTimeStamp = (lap.lap_time_stamp > 0) ? formatTimeMillis(lap.lap_time_stamp) : '';

					var $tr = $('<tr>')
					if (lap.lap_number == 0) {
						$tr.addClass('lap_0');
					}

					var local_colspan = 2;
					if(rotorhazard.display_lap_number) {
						local_colspan = 1;
						$tr.append(
							$('<td class="display_lap_number">').text(lap.lap_number)
						);
					}
					$time_td = $('<td colspan="'+local_colspan+'">').text(lap.lap_time + ' ');
					$local_prepend = $('<span class="from_start">');

					if(rotorhazard.display_time_first_pass) {
						$local_prepend.text(formatTimeMillis(lap.lap_time_stamp - node_index.laps[0].lap_time_stamp));
						if(rotorhazard.display_time_start){
							$local_prepend.append(" / ");
						}
					}

					if(rotorhazard.display_time_start){
						$local_prepend.append(formatTimeMillis(lap.lap_time_stamp));
					}
					$time_td.prepend($local_prepend);
					$tr.append($time_td);

					if (j && lap.lap_raw < (rotorhazard.min_lap * 1000)) {
						$tr.addClass('min-lap-warning');
					}
					if (!rotorhazard.race_formats.race_mode && lap.lap_time_stamp > (rotorhazard.race_formats.race_time_sec * 1000)) {
						$tr.addClass('after-time-expired');
					}
					$tr.appendTo('#current_laps_' + i);

					$.each(lap.splits, function(k, split) {
						var split_display = split.split_time + ' ';
						if (split.split_speed) {
							split_display += '(' + split.split_speed + ')';
						}
						var split_tr = $('<tr>');
						split_tr.addClass('lap_split');
						if (rotorhazard.display_lap_id) {
							var split_id = 'split ';
							if (lap.splits.length > 1) {
								split_id += (k+1);
							}
							split_tr.append($('<td>').text(split_id));
						}
						var split_time_td = $('<td colspan="'+local_colspan+'">').text(split_display);
						split_tr.append(split_time_td);
						split_tr.appendTo('#current_laps_' + i);
					});
				});
			});
		}

		socket.on('leaderboard', function (msg) {
			leaderboard = msg.meta.primary_leaderboard;
			$('#leaderboard').empty();
			$('#leaderboard').append(build_leaderboard(msg[leaderboard], 'current', msg.meta));
		});

		socket.on('team_leaderboard', function (msg) {
			$('#team_leaderboard').empty();

			if ('meta' in msg) {
				team_leaderboard = msg.meta.primary_leaderboard;
				$('#team_leaderboard').append(build_team_leaderboard(msg[team_leaderboard], team_leaderboard, msg.meta));
			}
		});

		socket.on('race_status_message', function (msg) {
			$('.race_status_message').html(msg.team_laps_str);
		});

		socket.on('phonetic_data', function (msg) {
			if ((rotorhazard.primaryPilot == 0 || rotorhazard.primaryPilot == msg.pilot_id)
				&& rotorhazard.min_lap * 1000 < msg.raw_time) {

				var ttstext = '';

				if (rotorhazard.voice_callsign == 1 ||
							(rotorhazard.voice_callsign == 2 && (!msg.team_name))) {
					ttstext = msg.callsign;
					if (msg.pilot)
						ttstext = msg.pilot;
				}

				if (rotorhazard.voice_lap_count == 1 ||
							(rotorhazard.voice_lap_count == 2 && (!msg.team_laps))) {
					if (ttstext.length > 0)
						ttstext += ", ";
					ttstext += __l('Lap') + " " + msg.lap;
				}

				if (rotorhazard.voice_lap_time == 1 ||
							(rotorhazard.voice_lap_time == 2 && (!msg.team_laps))) {
					if (ttstext.length > 0)
						ttstext += ", ";
					ttstext += msg.phonetic;
				}

				if (msg.team_name && msg.team_laps && rotorhazard.voice_team_lap_count != 0) {
					if (ttstext.length > 0)
						ttstext += ", ";
					ttstext += __l('Team') + " " + msg.team_name + ", " + __l('Lap') + " " + msg.team_laps;
				}

				if (ttstext.length > 0) {
					speak('<div class="speech">' + ttstext + '</div>');
				}
			}
		})

		socket.on('phonetic_split_call', function (msg) {
			var ttstext = '';
			if (rotorhazard.voice_split_timer) {
				if ((rotorhazard.voice_split_timer & SPLMSK_PILOT_NAME) && msg.pilot_name) {
					ttstext = msg.pilot_name
				}
				ttstext += ' ' + __l('split');
				var sepstr = ' '
				if ((rotorhazard.voice_split_timer & SPLMSK_SPLIT_ID) && msg.split_id) {
					ttstext += ' ' + msg.split_id
					sepstr = ', '
				}
				if ((rotorhazard.voice_split_timer & SPLMSK_SPLIT_TIME) && msg.split_time) {
					ttstext += sepstr + msg.split_time
				}
				speak('<div class="speech">' + ttstext + '</div>');
			}
		})

		socket.on('phonetic_text', function (msg) {
			if (msg.text) {
				if (!msg.domain || rotorhazard['voice_' + msg.domain]) {
					speak('<div class="speech">' + __l(msg.text) + '</div>');
				}
			}
		})

		socket.on('current_heat', function (msg) {
			var heatname = __('Heat') + ' ' + msg.current_heat;
			if (msg.heat_note)
				heatname = msg.heat_note;

			$('.current_heat').html(heatname);
			for (i = 0; i < msg.callsign.length; i++) {
				$('.callsign_' + i).html(msg.callsign[i]);
			}
		});

		socket.on('prestage_ready', function (msg) {
			request_time = new Date();
		});

		socket.on('stage_ready', function (msg) {
			race_kickoff(msg);
		});

		socket.on('stop_timer', function (msg) {
			rotorhazard.timer.stopAll();
		});

		socket.on('stage_ready', function (msg) {
			race_kickoff(msg);
		});

		socket.on('pilot_data', function (msg) {
			msg.pilots.sort(function(a, b){
				if (a.name < b.name)
					return -1;
				if (a.name > b.name)
					return 1;
				return 0;
			});

			var voices = $("#voice-calls");
			voices.empty();
			voices.append('<option value="-1">' + __('None') + '</option>');
			voices.append('<option value="0">' + __('All') + '</option>');
			for (var i in msg.pilots) {
				voices.append('<option value="' + msg.pilots[i].pilot_id + '">' + msg.pilots[i].callsign + ' (' + msg.pilots[i].name + ')</option>')
			}
			voices.val(rotorhazard.primaryPilot);
		});

		/* Voice */
		$(document).on('change', '#set_voice_language', function (event) {
			rotorhazard.voice_language = $(this).val();
			rotorhazard.saveData();
		});

		// construct language selection
		$('#voice_select').after('<select id="set_voice_language">');
		var voices = $().articulate('getVoices');

		for (var i in voices) {
			$('#set_voice_language').append('<option>'+ voices[i].name + '</option>');
		}
		$('#set_voice_language').val(rotorhazard.voice_language);

		$('#set_voice_string_language').change(function (event) {
			rotorhazard.voice_string_language = $(this).val();
			rotorhazard.saveData();
		});

		$('#voice_callsign').change(function (event) {
			rotorhazard.voice_callsign = parseInt($(this).val());
			rotorhazard.saveData();
		});

		$('#voice_lap_count').change(function (event) {
			rotorhazard.voice_lap_count = parseInt($(this).val());
			rotorhazard.saveData();
		});

		$('#voice_team_lap_count').change(function (event) {
			rotorhazard.voice_team_lap_count = parseInt($(this).val());
			rotorhazard.saveData();
		});

		$('#voice_lap_time').change(function (event) {
			rotorhazard.voice_lap_time = parseInt($(this).val());
			rotorhazard.saveData();
		});

		$('#voice_race_timer').change(function (event) {
			rotorhazard.voice_race_timer = parseInt($(this).val());
			rotorhazard.saveData();
		});

		$('#voice_race_winner').change(function (event) {
			rotorhazard.voice_race_winner = parseInt($(this).val());
			rotorhazard.saveData();
		});

		$('#voice_split_timer').change(function (event) {
			rotorhazard.voice_split_timer = parseInt($(this).val());
			rotorhazard.saveData();
		});

		$('#voice-calls').change(function(){
			rotorhazard.primaryPilot = parseInt($(this).val());
			rotorhazard.saveData();
		});

		$('#set_voice_volume').on('input', function (event) {
			var val = volume_logsl.value($(this).val());
			$().articulate('volume', val);
			$('#voice_volume_value').html($(this).val());
		});

		$('#set_voice_volume').change(function (event) {
			var val = volume_logsl.value($(this).val());
			rotorhazard.voice_volume = val;
			rotorhazard.saveData();
		});

		$('#set_voice_rate').on('input', function (event) {
			val = parseFloat($(this).val())
			$().articulate('rate', val);
			$('#voice_rate_value').html(val.toFixed(2));
		});

		$('#set_voice_rate').on('change', function (event) {
			rotorhazard.voice_rate = parseFloat($(this).val());
			rotorhazard.saveData();
		});

		$('#set_voice_pitch').on('input', function (event) {
			val = parseFloat($(this).val())
			$().articulate('pitch', val);
			$('#voice_pitch_value').html(val.toFixed(2));
		});

		$('#set_voice_pitch').on('change', function (event) {
			rotorhazard.voice_pitch = parseFloat($(this).val());
			rotorhazard.saveData();
		});

		$('#display_lap_number').change(function (event) {
			rotorhazard.display_lap_number = $(this).prop('checked');
			rotorhazard.saveData();
			show_current_laps();
		});

		$('#display_time_start').change(function (event) {
			rotorhazard.display_time_start = $(this).prop('checked');
			rotorhazard.saveData();
			show_current_laps();
		});

		$('#display_time_first_pass').change(function (event) {
			rotorhazard.display_time_first_pass = $(this).prop('checked');
			rotorhazard.saveData();
			show_current_laps();
		});

		socket.on('race_format', function (msg) {
			rotorhazard.race_formats = msg;
		});

		$('#use_mp3_tones').change(function (event) {
			rotorhazard.use_mp3_tones = $(this).prop('checked');
		});
	});

	function doSpeak(obj) {
		$(obj).articulate('setVoice','name', rotorhazard.voice_language).articulate('speak');
	};

	function speak(obj, priority) {
		if (typeof(priority)=='undefined')
			priority = false;

		if (priority) {
			speakObjsQueue.unshift(obj);
		} else {
			speakObjsQueue.push(obj);
		}
	};

</script>
{% endblock %} {% block content %}
<main class="page-racepublic">

<div class="panel">
	<div class="panel-content">
		<div class="timer">
			<div class="timing-clock"><div class="warning" title="{{ __('Browser Sync Loss') }}">&#9888;&#xFE0E;</div><div class="time-display">--:--</div></div>
		</div>

		<h2 class="current_heat">{{ __('Loading...') }}</h2>

		<!--Display the race leaderboard-->
		<div id="leaderboard"></div>

		<div id="team_leaderboard"></div>

		<div class="race_status_message"></div>

		<!--Display the current laps-->
		<div class="race-results">
			{% for node in nodes %}
			<div class="node" data-id="{{ node.index }}">
				<h4 class="callsign_{{ node.index }}">{{ __('Loading...') }}</h4>
				<div class="channel-block" data-node="{{ node.index }}"><span class="ch"></span> <span class="fr"></span></div>
				<table class="laps" id="current_laps_{{ node.index }}">
					<tbody>
					</tbody>
				</table>
			</div>
			{% endfor %}
		</div>
	</div>
</div>


<!--Voice Settings-->
<div class="panel collapsing">
	<div class="panel-header">
		<h2>{{ __('Audio Control') }}</h2>
	</div>
	<div class="panel-content">

		<ol class="form">
			<li>
				<div class="label-block" id="voice_select">
					<label for="set_voice_language">{{ __('Voice Select') }}</label>
				</div>
			</li>
			<li>
				<div class="label-block">
					<label for="set_voice_string_language">{{ __('Voice Language') }}</label>
				</div>
				<select id="set_voice_string_language">
					<option>{{ __('Loading...') }}</option>
				</select>
			</li>
			<li>
				<div class="label-block">
					<label for="voice-calls">{{ __('Voice Calls') }}</label>
				</div>
				<select id="voice-calls">
					<option value="-1">{{ __('Loading...') }}</option>
				</select>
			</li>
			<li>
				<div class="label-block">
					{{ __('Announcements') }}
				</div>
				<li>
					<div class="label-block">
						<label for="voice_callsign">{{ __('Pilot Callsign') }}</label>
					</div>
					<select id="voice_callsign">
						<option value="0">{{ __('Never') }}</option>
						<option value="1">{{ __('Always') }}</option>
						<option value="2">{{ __('Only on Non-team Races') }}</option>
					</select>
				</li>
				<li>
					<div class="label-block">
						<label for="voice_lap_count">{{ __('Pilot Lap Number') }}</label>
					</div>
					<select id="voice_lap_count">
						<option value="0">{{ __('Never') }}</option>
						<option value="1">{{ __('Always') }}</option>
						<option value="2">{{ __('Only on Non-team Races') }}</option>
					</select>
				</li>
				<li>
					<div class="label-block">
						<label for="voice_lap_time">{{ __('Pilot Lap Time') }}</label>
					</div>
					<select id="voice_lap_time">
						<option value="0">{{ __('Never') }}</option>
						<option value="1">{{ __('Always') }}</option>
						<option value="2">{{ __('Only on Non-team Races') }}</option>
					</select>
				</li>
				<li>
					<div class="label-block">
						<label for="voice_race_timer">{{ __('Race Timer') }}</label>
					</div>
					<select id="voice_race_timer">
						<option value="0">{{ __('Never') }}</option>
						<option value="1">{{ __('Always') }}</option>
						<option value="2">{{ __('Only on Fixed-time Races') }}</option>
					</select>
				</li>
				<li>
					<div class="label-block">
						<label for="voice_team_lap_count">{{ __('Team Lap Total') }}</label>
					</div>
					<select id="voice_team_lap_count">
						<option value="0">{{ __('Never') }}</option>
						<option value="1">{{ __('On Team Races') }}</option>
					</select>
				</li>
				<li>
					<div class="label-block">
						<label for="voice_race_winner">{{ __('Race Winner') }}</label>
					</div>
					<select id="voice_race_winner">
						<option value="0">{{ __('Never') }}</option>
						<option value="1">{{ __('Always') }}</option>
					</select>
				</li>
				{% if cluster_has_slaves %}
				<li>
					<div class="label-block">
						<label for="voice_split_timer">{{ __('Split Timer') }}</label>
					</div>
					<select id="voice_split_timer">
						<option value="0">{{ __('None') }}</option>
						<option value="1">{{ __('Pilot Name') }}</option>
						<option value="5">{{ __('Pilot Name, Split Time') }}</option>
						<option value="3">{{ __('Pilot Name, Split ID') }}</option>
						<option value="7">{{ __('Pilot Name, Split ID, Split Time') }}</option>
						<option value="2">{{ __('Split ID') }}</option>
						<option value="4">{{ __('Split Time') }}</option>
						<option value="6">{{ __('Split ID, Split Time') }}</option>
					</select>
				</li>
				{% endif %}
			</li>
			<li>
				<div class="label-block">
					<label for="set_voice_volume">{{ __('Voice Volume') }}</label>
					<p class="desc">{{ __('Volume') }}: <span id="voice_volume_value"></span></p>
				</div>
				<input type="range" id="set_voice_volume" min="0" max="100">
			</li>
			<li>
				<div class="label-block">
					<label for="set_voice_rate">{{ __('Voice Rate') }}</label>
					<p class="desc">{{ __('Rate') }}: <span id="voice_rate_value"></span></p>
				</div>
				<input type="range" id="set_voice_rate" min="0" max="2.0" step="0.01">
			</li>
			<li>
				<div class="label-block">
					<label for="set_voice_pitch">{{ __('Voice Pitch') }}</label>
					<p class="desc">{{ __('Pitch') }}: <span id="voice_pitch_value"></span></p>
				</div>
				<input type="range" id="set_voice_pitch" min="0" max="2.0" step="0.01">
			</li>
			<li>
				<div class="label-block">
					{{ __('Indicator Beeps') }}
				</div>
				<ul>
					<li><label><input type="checkbox" id="use_mp3_tones"> {{ __('Use MP3 Tones instead of synthetic tones') }}</label></li>
				</ul>
			</li>
		</ol>
	</div>
</div>

<!--Display Settings-->
<div class="panel collapsing">
	<div class="panel-header">
		<h2>{{ __('Display Settings') }}</h2>
	</div>
	<div class="panel-content">
		<ol class="form">
			<li>
				<div class="label-block">
					{{ __('Lap Information') }}
				</div>
				<ul>
					<li><label><input type="checkbox" id="display_lap_number"> {{ __('Lap Number') }}</label></li>
					<li><label><input type="checkbox" id="display_time_start"> {{ __('Time since start') }}</label></li>
					<li><label><input type="checkbox" id="display_time_first_pass"> {{ __('Time since first pass') }}</label></li>
				</ul>
			</li>
		</ol>
	</div>
</div>

</main>
{% endblock %}
