{% extends "layout.html" %} {% block title %}Rounds{% endblock %} {% block head %} {% endblock %} {% block content %}
<script type="text/javascript" charset="utf-8">

	var race_list = {};
	var race_list_loaded = false;
	var race_loaded = false;
	var current_race_data = {};
	var min_lap = {{ getOption('MinLapSec') }} * 1000;
        
	$(document).ready(function () {
		socket.emit('load_data', {'load_types': [
			'all_languages',
			'language',
			'class_data',
		]});

		socket.on('all_languages', function (msg) {
			rotorhazard.language_strings = msg.languages;
		});

		socket.on('language', function (msg) {
			if (msg.language) {
				rotorhazard.interface_language = msg.language;
			}
		});

		socket.on('round_data_notify', function () {
			socket.emit('load_data', {'load_types': [
				'class_round_data',
			]});
		});

                socket.on('class_data', function (msg) {
                        $('#set_current_class').empty();
                        var opt = $('<option value="0">Unclassified</option>');
                        $('#set_current_class').append(opt);
                        if (msg.classes.length > 0) {
                            for (var i in msg.classes) {
                                    var raceclass = msg.classes[i];
                                    var opt = $('<option value="' + raceclass.id + '">' + raceclass.name + '</option>');

                                    $('#set_current_class').append(opt);
                            }
                        }

                });


                socket.on('race_list', function (msg) {
                        race_list = msg;

                        $('button#load_pilot_results').prop('disabled', false);
                        if (race_list_loaded) {
                                var prev_heat = $('#selected_heat').val();
                        }

                        $('#selected_heat').empty();
                        for (var heat_i in race_list.heats) {
                                var heat = race_list.heats[heat_i];

                                if (heat.note) {
                                        var heat_name = heat.note;
                                } else {
                                        var heat_name = __('Heat') + ' ' + heat_i;
                                }

                                $('#selected_heat').append('<option value="' + heat_i + '">' + heat_name + '</option>');
                        }
                        $('#selected_heat').val(heat_i);

                        if (race_list_loaded) {
                                $('#selected_heat').val(prev_heat);
                        } else {
                                race_list_loaded = true;
                                $('#selected_heat').prop('disabled', false);
                                $('#selected_round').prop('disabled', false);
                                $('#selected_pilot').prop('disabled', false);
                                $('#load_race').prop('disabled', false);
                        }

                        $('#selected_heat').trigger('change');
                });

		socket.on('round_data', function (msg) {
			var page = $('.results_display')
			page.empty();
                        $('button#load_all_results').prop('disabled', false);

			if (!$.isEmptyObject(msg.heats)) {
			    if (!$.isEmptyObject(msg.event_leaderboard)) {
				var panel = $('<div id="event_leaderboard" class="panel collapsing open">');

				var panel_header = $('<div class="panel-header">');
				panel_header.append('<h3><button class="no-style">' + __('Event Leaderboards') + '</button></h3>');
				panel.append(panel_header);

				// event leaderboards
				var panel_content = $('<div class="panel-content" style="display: none">');
				var event_leaderboard = $('<div class="event-leaderboards">');
				event_leaderboard.append('<h3>' + __('Race Totals') + '</h3>');
				event_leaderboard.append(build_leaderboard(msg.event_leaderboard.by_race_time, 'by_race_time', msg.meta));
				event_leaderboard.append('<h3>' + __('Fastest Laps') + '</h3>');
				event_leaderboard.append(build_leaderboard(msg.event_leaderboard.by_fastest_lap, 'by_fastest_lap', msg.meta));
				event_leaderboard.append('<h3>' + __('Fastest 3 Consecutive Laps') + '</h3>');
				event_leaderboard.append(build_leaderboard(msg.event_leaderboard.by_consecutives, 'by_consecutives', msg.meta));
				panel_content.append(event_leaderboard);
				panel.append(panel_content);

				page.append(panel)
                            }

				// heats

				// reorder classes (Assumes Object.keys is ordered by ES6 rules, or as added by server)
				var class_ordered = Object.keys(msg.heats_by_class)
				class_ordered = class_ordered.concat(class_ordered.splice(0, 1));

				for (var class_id in class_ordered) {
					var race_class = class_ordered[class_id];
					var valid_heats = false;
					if (msg.heats_by_class[race_class].length) {
						for (var class_heat in msg.heats_by_class[race_class]) {
							if (msg.heats[msg.heats_by_class[race_class][class_heat]]) {
								valid_heats = true;
								break;
							}
						}
					}

					if (valid_heats) {
						var class_panel = $('<div id="class_' + class_id + '" class="panel collapsing open">');
						var class_panel_header = $('<div class="panel-header">');
						var class_panel_content = $('<div class="panel-content" style="display: none">');

						var current_class = msg.classes[race_class];
						if (current_class) {
							class_panel_header.append('<h3><button class="no-style">' + current_class.name + '</button></h3>');

							var class_leaderboard = $('<div id="class_' + class_id + '_leaderboard" class="panel collapsing class-leaderboard">');

							var class_leaderboard_header = $('<div class="panel-header">');
							class_leaderboard_header.append('<h3><button class="no-style">' + __('Class Summary') + '</button></h3>');
							class_leaderboard.append(class_leaderboard_header);

							var class_leaderboard_content = $('<div class="panel-content" style="display: none">');

							class_leaderboard_content.append('<h4>' + __('Race Totals') + '</h4>');
							class_leaderboard_content.append(build_leaderboard(current_class.leaderboard.by_race_time, 'by_race_time', msg.meta));
							class_leaderboard_content.append('<h4>' + __('Fastest Laps') + '</h4>');
							class_leaderboard_content.append(build_leaderboard(current_class.leaderboard.by_fastest_lap, 'by_fastest_lap', msg.meta));
							class_leaderboard_content.append('<h4>' + __('Fastest 3 Consecutive Laps') + '</h4>');
							class_leaderboard_content.append(build_leaderboard(current_class.leaderboard.by_consecutives, 'by_consecutives', msg.meta));

							class_leaderboard.append(class_leaderboard_content);
							class_panel_content.append(class_leaderboard);
						} else {
							if ($.isEmptyObject(msg.classes)) {
								class_panel_header.append('<h3><button class="no-style">' + __('Heats') + '</button></h3>')
							} else {
								class_panel_header.append('<h3><button class="no-style">' + __('Unclassified') + '</button></h3>')
							}
						}

						class_panel.append(class_panel_header);

						for (var class_heat in msg.heats_by_class[race_class]) {
							var heat = msg.heats[msg.heats_by_class[race_class][class_heat]]

							if (heat) {
								var panel = $('<div id="class_' + class_id + '_heat_' + class_heat + '" class="panel collapsing">');

								var panel_header = $('<div class="panel-header">');

								if (heat.note) {
									panel_header.append('<h3><button class="no-style">' + heat.note + '</button></h3>');
								} else {
									panel_header.append('<h3><button class="no-style">' + __('Heat') + ' ' + heat.heat_id + '</button></h3>');
								}
								panel.append(panel_header);

								var panel_content = $('<div class="panel-content" style="display: none">');

								// heat leaderboards
								if (heat.rounds.length > 1) {
									var heat_summary_panel = $('<div id="class_' + class_id + '_heat_' + class_heat + '_leaderboard" class="panel collapsing open">');
									heat_summary_panel.append('<div class="panel-header"><h4><button class="no-style">' + __('Heat Summary') + '</button></h4></div>')
									var heat_summary_panel_content = $('<div class="panel-content">');
									var heat_leaderboard = $('<div class="leaderboard">');
									heat_leaderboard.append(build_leaderboard(heat.leaderboard.by_race_time, 'heat', msg.meta));
									heat_summary_panel_content.append(heat_leaderboard);
									heat_summary_panel.append(heat_summary_panel_content);
									panel_content.append(heat_summary_panel);
								}

								// rounds
								for (var round_i in heat.rounds) {
									var round = heat.rounds[round_i];
									var round_div = $('<div id="class_' + class_id + '_heat_' + class_heat + '_round_' + round.id + '" class="round panel collapsing open">');

									round_div.append('<div class="panel-header"><h4><button class="no-style">' + __('Round') + ' ' + round.id + ' (' + round.start_time_formatted + ')</button></h4></div>')

									var round_content = $('<div class="panel-content">');
									// race leaderboards
									var race_leaderboard = $('<div class="leaderboard">');
									race_leaderboard.append(build_leaderboard(round.leaderboard.by_race_time, 'round', msg.meta));

									var race_results = $('<div class="race-results">');

									// race laps
									for (var node_i in round.nodes) {
										var node = round.nodes[node_i];
										var node_div = $('<div class="node">');

										node_div.append('<h5>' + node.callsign + '</h5>')

										var table = $('<table class="laps">');
										var tbody = $('<tbody>');

										var lap_index = 0;
										for (var lap_i in node.laps) {
											var lap = node.laps[lap_i];
											if (!lap.deleted) {
												if (lap_index) {
													tbody.append('<tr class="lap_' + lap_index + '"><td>' + lap_index + '</td><td><span class="from_start">' + formatTimeMillis(lap.lap_time_stamp) + '</span>' + formatTimeMillis(lap.lap_time) + '</td></tr>')
												} else {
													tbody.append('<tr class="lap_0"><td>0</td><td>' + formatTimeMillis(lap.lap_time) + '</td></tr>')
												}
												lap_index++;
											}
										}

										table.append(tbody);
										node_div.append(table);
										race_results.append(node_div);
									}

									round_content.append(race_leaderboard);
									round_content.append(race_results);
									round_div.append(round_content);
									panel_content.append(round_div);
								}
								panel.append(panel_content);

								class_panel_content.append(panel);
							}
						}
						class_panel.append(class_panel_content);
						page.append(class_panel);
					}
				}

				for (var panel in rotorhazard.panelstates) {
					var panel_obj = $('#' + panel);
					var panelstate = rotorhazard.panelstates[panel];

					if (panelstate) {
						panel_obj.addClass('open');
						panel_obj.children('.panel-content').stop().slideDown();
					} else {
						panel_obj.removeClass('open');
						panel_obj.children('.panel-content').stop().slideUp();
					}
				}
			} else {
				page.append('<p>' + __('There is no saved race data available to view.') + '</p>');
			}
		});

		socket.on('class_round_data', function (msg) {
			var page = $('.class_results_display')
			page.empty();

                        $('button#load_class_results').prop('disabled', false);

			if (!$.isEmptyObject(msg.classes)) {

				for (var class_id in msg.classes) {

					var class_panel = $('<div id="class_' + class_id + '" class="panel collapsing">');
					var class_panel_header = $('<div class="panel-header">');
					var class_panel_content = $('<div class="panel-content" style="display: none">');

					var current_class = msg.classes[class_id];
					if (current_class) {
						class_panel_header.append('<h3><button class="no-style">' + current_class.name + '</button></h3>');

						var class_leaderboard = $('<div id="class_' + class_id + '_leaderboard" class="panel collapsing class-leaderboard">');

						var class_leaderboard_header = $('<div class="panel-header">');
						class_leaderboard_header.append('<h3><button class="no-style">' + __('Class Summary') + '</button></h3>');
						class_leaderboard.append(class_leaderboard_header);

						var class_leaderboard_content = $('<div class="panel-content" style="display: none">');

						class_leaderboard_content.append('<h4>' + __('Race Totals') + '</h4>');
						class_leaderboard_content.append(build_leaderboard(current_class.leaderboard.by_race_time, 'by_race_time', msg.meta));
						class_leaderboard_content.append('<h4>' + __('Fastest Laps') + '</h4>');
						class_leaderboard_content.append(build_leaderboard(current_class.leaderboard.by_fastest_lap, 'by_fastest_lap', msg.meta));
						class_leaderboard_content.append('<h4>' + __('Fastest 3 Consecutive Laps') + '</h4>');
						class_leaderboard_content.append(build_leaderboard(current_class.leaderboard.by_consecutives, 'by_consecutives', msg.meta));

						class_leaderboard.append(class_leaderboard_content);
						class_panel_content.append(class_leaderboard);
					} else {
						if ($.isEmptyObject(msg.classes)) {
							class_panel_header.append('<h3><button class="no-style">' + __('Heats') + '</button></h3>')
						} else {
							class_panel_header.append('<h3><button class="no-style">' + __('Unclassified') + '</button></h3>')
						}
					}

					class_panel.append(class_panel_header);

					class_panel.append(class_panel_content);
					page.append(class_panel);
				}

				for (var panel in rotorhazard.panelstates) {
					var panel_obj = $('#' + panel);
					var panelstate = rotorhazard.panelstates[panel];

					if (panelstate) {
						panel_obj.addClass('open');
						panel_obj.children('.panel-content').stop().slideDown();
					} else {
						panel_obj.removeClass('open');
						panel_obj.children('.panel-content').stop().slideUp();
					}
				}
			} else {
				page.append('<p>' + __('There is no saved race data available to view.') + '</p>');
			}
		});

               $('button#load_class_results').click(function (event) {

                        if(!$(this).prop('disabled')) {
			        $('.class_results_display').empty()
			        $('.class_results_display').html('<p> {{ __('Loading...') }} </p>')
                                $(this).prop('disabled', true);
                                socket.emit('load_data', {'load_types': [ 'class_round_data', ], 'specific_class' : $('#set_current_class').val() } );
                        }
                        return false;
                });
               $('button#load_all_results').click(function (event) {

                        if(!$(this).prop('disabled')) {
			        $('.results_display').empty()
			        $('.results_display').html('<p> {{ __('Loading...') }} </p>')
                         //       $(this).prop('disabled', true);
                                socket.emit('load_data', {'load_types': [ 'round_data', ],  } );
                        }
                        return false;
                });

               $('button#load_pilot_results').click(function (event) {

                        if(!$(this).prop('disabled')) {
			        $('.race-view').html(' {{ __('Loading...') }}  <table id="laps"> </table>')
                         //       $(this).prop('disabled', true);
                                socket.emit('load_data', {'load_types': [ 'race_list', ],  } );
                        }
                        return false;
                });

		$('#selected_heat').change(function(){
			var prev_round = $('#selected_round').val();

			$('#selected_round').empty();

			var heat = parseInt($(this).val());

			for (var round_i in race_list.heats[heat].rounds) {
				$('#selected_round').append('<option value="' + round_i + '">' + __('Round') + ' ' + round_i + '</option>');
			}

			$('#selected_round').val(round_i);
			$('#selected_round option').each(function(){
				if (this.value == prev_round) {
					$('#selected_round').val(prev_round);
					return false;
				}
			});


			$('#selected_round').trigger('change');
		});

		$('#selected_round').change(function(){
			var prev_pilot = $('#selected_pilot').data('pilot-id');

			$('#selected_pilot').empty();

			var heat = parseInt($('#selected_heat').val());
			var round = parseInt($(this).val());

			for (var pilot_i in race_list.heats[heat].rounds[round].pilotraces) {
				var pilotrace = race_list.heats[heat].rounds[round].pilotraces[pilot_i];
				$('#selected_pilot').append('<option value="' + pilot_i + '" data-pilot-id="' + pilotrace.pilot_id + '">' + pilotrace.callsign + '</option>');
			}

			$('#selected_pilot option').each(function(){
				if ($(this).data('pilot-id') == prev_pilot) {
					$('#selected_pilot').val($(this).val());
					return false;
				}
			});


			$('#selected_pilot').trigger('change');
		});

		$('#selected_pilot').change(function(){
			var heat = parseInt($('#selected_heat').val());
			var round = parseInt($('#selected_round').val());
			var pilot = parseInt($(this).val());
			var pilotrace = race_list.heats[heat].rounds[round].pilotraces[pilot];

			$(this).data('pilot-id', pilotrace.pilot_id);

			load_race();
		});

		function load_race() {
                        table_html='<thead> <tr> <th>{{ __('Lap') }}</th> <th>{{ __('Timestamp') }}</th> <th>{{ __('Lap Time') }}</th> </tr> </thead> <tbody></tbody>'
			$('.race-view').html(' <table id="laps"> ' + table_html + '</table>')

			var lapList = $('#laps tbody');
			lapList.empty();

			race_loaded = true;

			var heat = parseInt($('#selected_heat').val());
			var round = parseInt($('#selected_round').val());
			var pilot = parseInt($('#selected_pilot').val());


			// load current race data
			current_race_data = jQuery.extend(true, {}, race_list.heats[heat].rounds[round].pilotraces[pilot]);
			// fill current data with race meta
			current_race_data.round_id = round;
			current_race_data.heat_id = heat;
			current_race_data.race_id = race_list.heats[heat].rounds[round].race_id;
			current_race_data.class_id = race_list.heats[heat].rounds[round].class_id;
			current_race_data.format_id = race_list.heats[heat].rounds[round].format_id;
			current_race_data.start_time = race_list.heats[heat].rounds[round].start_time;
			current_race_data.start_time_formatted = race_list.heats[heat].rounds[round].start_time_formatted;

			// populate laps
			displayLaps(current_race_data.laps);

			return false;
		}


			function displayLaps(laps_obj) {
				var lapList = $('#laps tbody');
				var lap_index = 0;
				for (var lap_i in laps_obj) {
					var lap = laps_obj[lap_i];
					var lapData = $('<tr>');

					if (lap.deleted) {
						lapData.addClass('lap-deleted');
					} else if (lap_index && lap.lap_time < min_lap) {
						lapData.addClass('min-lap-warning');
					}

					if (!lap.deleted) {
						lapData.append('<td>' + lap_index + '</td>');
						lapData.append('<td>' + (lap.lap_time_stamp / 1000).toFixed(3) + '</td>');
						lapData.append('<td>' + formatTimeMillis(lap.lap_time) + '</td>');
						lap_index++;
					} else {
						lapData.append('<td>-</td>');
						lapData.append('<td>' + (lap.lap_time_stamp / 1000).toFixed(3) + '</td>');
						lapData.append('<td>' + __('Deleted') + '</td>');
					}

					lapList.append(lapData);
				}
			}

		});
	</script>
	<main class="page-rounds">
                        
		        <div id="results_by_pilot" class="panel collapsing">
                        <div id="load_pilot_results" class="panel-header">
                                <h2>Results by pilot</h2>
                        </div>
			<div class="panel-content" style="display: none">
			<div class="control-set">
				<label for="selected_heat" class="screen-reader-text">{{ __('Heat') }}</label>
				<select id="selected_heat" disabled>
					<option value="--">{{ __('Not Loaded') }}</option>
				</select>

				<label for="selected_round" class="screen-reader-text">{{ __('Round') }}</label>
				<select id="selected_round" disabled>
					<option value="--">{{ __('Not Loaded') }}</option>
				</select>

				<label for="selected_pilot" class="screen-reader-text">{{ __('Pilot') }}</label>
				<select id="selected_pilot" disabled>
					<option value="--">{{ __('Not Loaded') }}</option>
				</select>
				<button id="load_pilot_results"><span class="narrow">{{ __('Get') }}</span><span class="wide">{{ __('Load Race') }}</span></button>
                        </div>


			<div id="race-display">

				<div id="race-view" class="race-view">
				</div>

			</div>
                        </div>

		        <div id="summary_results_by_class" class="panel collapsing">
                        <div class="panel-header">
                                <h2>Summary results by class  </h2>
                        </div>
			<div class="panel-content" style="display: none">

			<div class="control-set">
				<label for="set_current_class" class="screen-reader-text">{{ __('Current Class') }}</label>
				<select id="set_current_class">
					<option value="">{{ __('Loading...') }}</option>
				</select>
				<button id="load_class_results"><span class="narrow">{{ __('Get') }}</span><span class="wide">{{ __('Class Summary') }}</span></button>
                       </div>
			        <div id="id=_class_results_display" class="class_results_display">
			           <p>Select class and press {{__('Class Summary')}} button</p>
			         </div>
                       </div>
                       </div>



		        <div id="summary_results" class="panel collapsing">
                        <div class="panel-header">
                                 <h2 class="admin-hide">Total event results </h2>
                        </div>
			<div class="panel-content" style="display: none">
			 <!-- change line below to <p class="admin-hide"> if you only want admins to see this button  -->
			<p class="admin-hide"><button id="load_all_results"><span class="narrow">{{ __('Get') }}</span><span class="wide">{{ __('All') }} {{ __('Results') }}</span></button> </p>
			        <div id="id=results_display" class="results_display">
			           <p>Press {{__('All')}} {{__('Results')}} button</p>
			        </div>
                        </div>
			</div>
                        </div>
                        </div>



</main>
{% endblock %}
