{% extends "layout.html" %} {% block title %}Settings{% endblock %} {% block head %}
<script type="text/javascript" src="./static/Blob.js"></script>
<script type="text/javascript" src="./static/FileSaver.min.js"></script>

<script type="text/javascript" charset="utf-8">
	var logsl = new LogSlider({maxpos: 12, minval: 0.0001, maxval: 1});
	var volume_logsl = new LogSlider({maxpos: 100, minval: 0.01, maxval: 1});

	$(document).ready(function () {
		socket.emit('load_data', {'load_types': [
			'all_languages',
			'language',
			'node_data',
			'frequency_data',
			'heat_data',
			'class_data',
			'pilot_data',
			'race_format',
			'node_tuning',
			'enter_and_exit_at_levels',
			'min_lap',
			'team_racing_mode',
		]});

		socket.on('all_languages', function (msg) {
			rotorhazard.language_strings = msg.languages;
		});

		socket.on('language', function (msg) {
			$('#set_language').empty();
			$('#set_language').append('<option value="">English</option>')
			for (i = 0; i < msg.languages.length; i++) {
				$('#set_language').append('<option value="' + msg.languages[i].id +'">' + msg.languages[i].name + '</option>')
			}

			$('#set_voice_string_language').empty();
			$('#set_voice_string_language').append('<option value="match-timer">' + __('(Match Timer Language)') + '</option>')
			$('#set_voice_string_language').append('<option value="">English</option>')
			for (i = 0; i < msg.languages.length; i++) {
				$('#set_voice_string_language').append('<option value="' + msg.languages[i].id +'">' + msg.languages[i].name + '</option>')
			}
			$('#set_voice_string_language').val(rotorhazard.voice_string_language);

			if (msg.language) {
				rotorhazard.interface_language = msg.language;
				$('#set_language').val(msg.language);
			} else {
				$('#set_language').selectedIndex = 0;
			}
		});

		var heartbeatCounter = 0;

		// set admin flag
		rotorhazard.admin = true;
		rotorhazard.saveData();
		$('nav li').removeClass('admin-hide');

		// populate voice controls
		$('#voice_callsign').prop( "checked", rotorhazard.voice_callsign);
		$('#voice_lap_count').prop( "checked", rotorhazard.voice_lap_count);
		$('#voice_team_lap_count').prop( "checked", rotorhazard.voice_team_lap_count);
		$('#voice_lap_time').prop( "checked", rotorhazard.voice_lap_time);
		$('#voice_race_timer').prop( "checked", rotorhazard.voice_race_timer);
		$('#voice_race_winner').prop( "checked", rotorhazard.voice_race_winner);
		$().articulate('volume', rotorhazard.voice_volume);
		$('#set_voice_volume').val(volume_logsl.position(rotorhazard.voice_volume));
		$('#voice_volume_value').html($('#set_voice_volume').val());
		$().articulate('rate', rotorhazard.voice_rate);
		$('#voice_rate_value').html(rotorhazard.voice_rate.toFixed(2));
		$('#set_voice_rate').val(rotorhazard.voice_rate);
		$().articulate('pitch', rotorhazard.voice_pitch);
		$('#voice_pitch_value').html(rotorhazard.voice_pitch.toFixed(2));
		$('#set_voice_pitch').val(rotorhazard.voice_pitch);
		$('#set_tone_volume').val(volume_logsl.position(rotorhazard.tone_volume));
		$('#tone_volume_value').html($('#set_tone_volume').val());
		$('#beep_crossing_entered').prop("checked", rotorhazard.beep_crossing_entered);
		$('#beep_crossing_exited').prop("checked", rotorhazard.beep_crossing_exited);
		$('#beep_manual_lap_button').prop("checked", rotorhazard.beep_manual_lap_button);
		$('#beep_on_first_pass_button').prop("checked", rotorhazard.beep_on_first_pass_button);
		$('#set_indicator_volume').val(volume_logsl.position(rotorhazard.indicator_beep_volume));
		$('#indicator_volume_value').html($('#set_indicator_volume').val());

		// populate frequency selects
		$('.frequency_table').each(function(){
			$(this).html(freq.buildSelect());
		});

		// set up node local store
		for (i = 0; i < {{ num_nodes }}; i++) {
			rotorhazard.nodes[i] = new nodeModel();
			// start RSSI graphing
			rotorhazard.nodes[i].canvas = document.getElementById('rssi-graph-' + i);
			rotorhazard.nodes[i].setup(rotorhazard.nodes[i].canvas);
		}

		socket.on('heartbeat', function (msg) {
			if (++heartbeatCounter >= 2) {   //do these updates less often than speak-queue checks
				heartbeatCounter = 0;
				for (i = 0; i < msg.current_rssi.length; i++) {
					var rssiValue = msg.current_rssi[i];

					if (rotorhazard.nodes[i].frequency == 0) {
						rssiValue = 0;
					}

					$('.current_rssi_' + i).html(rssiValue);

					if (msg.crossing_flag[i]) {
						$('.crossing_flag_' + i).addClass('is-crossing').html(__('Crossing'));
					}
					else {
						$('.crossing_flag_' + i).removeClass('is-crossing').html(__('Clear'));
					}

					rotorhazard.nodes[i].graph.options.maxValue = Math.max(
						rssiValue,
						rotorhazard.nodes[i].node_peak_rssi + 1,
						rotorhazard.nodes[i].enter_at_level + 10,
					);

					rotorhazard.nodes[i].graph.options.minValue = Math.max(0, Math.min(
						rssiValue,
						rotorhazard.nodes[i].node_nadir_rssi - 1,
						rotorhazard.nodes[i].exit_at_level - 10,
					));

					if (rotorhazard.nodes[i].graphing) {
						rotorhazard.nodes[i].series.append(new Date().getTime(), rssiValue);
					} else {
						if (rssiValue) {
							rotorhazard.nodes[i].graphing = true;
							rotorhazard.nodes[i].graph.options.maxValue = rssiValue + 100;
							rotorhazard.nodes[i].graph.options.minValue = Math.max(0, rssiValue - 10);
							rotorhazard.nodes[i].series.append(new Date().getTime(), rssiValue);
						}
					}
				}
			}
		});

		/* Send Message */
		$('button#send_message').click(function (event) {
			var data = {
				message: $('#message_body').val(),
				interrupt: $('#message_interrupt').prop('checked')
			};
			socket.emit('broadcast_message', data);

			$('#message_body').val('');
			$('#message_interrupt').prop('checked', false);
			return false;
		});

		/* Profiles */
		socket.on('node_tuning', function (msg) {
			$('#set_profile').empty();
			for (i = 0; i < msg.profile_ids.length; i++) {
				$('#set_profile').append('<option value="' + msg.profile_ids[i] +'">' + msg.profile_names[i] + '</option>')
			}
			$('#set_profile').val(msg.current_profile);
			var pos = logsl.position(msg.filter_ratio / 10000);
			$('#set_filter_ratio').val(12 - pos);
			$('#filter_value').html((msg.filter_ratio / 10000).toFixed(4));
			$('#set_filter_ratio').val( );
			$('#set_profile_name').val( msg.profile_name);
			$('#set_profile_description').val( msg.profile_description);
		});

		$('#set_profile').change(function (event) {
			var data = {
				profile: parseInt($(this).val())
			};
			socket.emit('set_profile', data);
		});

		$('button#add_profile').click(function (event) {
			socket.emit('add_profile');
			return false;
		});

		$('button#delete_profile').click(function (event) {
			socket.emit('delete_profile');
			return false;
		});

		$('#set_profile_name').change(function (event) {
			var data = {
				profile_name: $(this).val()
			};
			socket.emit('set_profile_name', data);
		})

		$('#set_profile_description').change(function (event) {
			var data = {
				profile_description: $(this).val()
			};
			socket.emit('set_profile_description', data);
		})

		/* Frequency Setup */
		socket.on('frequency_data', function (msg) {
			for (i = 0; i < msg.frequency.length; i++) {
				$('#s_channel_' + i).val(msg.frequency[i]);
				rotorhazard.nodes[i].frequency = msg.frequency[i];
				freq.updateSelects();
				freq.updateBlocks();
			}
		});

		function show_imd_rating(val) {
			$('#imd_rating_label').html(__('Frequency set IMD rating (100=best)') +
                  ': ' + val + ' &nbsp; <a href="/imdtabler">View with IMDTabler</a>');
		};

		function show_imd_rating_dashes() {
			if ($.trim($('#imd_rating_label').html()) != '') {
				show_imd_rating('---');
			}
		};

		socket.on('imdtabler_rating', function (msg) {
			if (msg.imd_rating) {
				show_imd_rating(msg.imd_rating);
			}
			else {
				$('#imd_rating_label').empty();
			}
		});

		$('button.set_frequency_preset').click(function (event) {
			show_imd_rating_dashes();
			var data = {
				preset: $(this).data('preset')
			};
			socket.emit('set_frequency_preset', data);
		});

		/* Nodes */
		socket.on('node_data', function (msg) {
			for (i = 0; i < msg.node_peak_rssi.length; i++) {
				$('.node_peak_rssi_' + i).html(msg.node_peak_rssi[i]);
				$('.node_nadir_rssi_' + i).html(msg.node_nadir_rssi[i]);
				$('.pass_peak_rssi_' + i).html(msg.pass_peak_rssi[i]);
				$('.pass_nadir_rssi_' + i).html(msg.pass_nadir_rssi[i]);
				$('.debug_pass_count_' + i).html(msg.debug_pass_count[i]);

				rotorhazard.nodes[i].node_peak_rssi = msg.node_peak_rssi[i];
				rotorhazard.nodes[i].node_nadir_rssi = msg.node_nadir_rssi[i];
				rotorhazard.nodes[i].pass_peak_rssi = msg.pass_peak_rssi[i];
				rotorhazard.nodes[i].pass_nadir_rssi = msg.pass_nadir_rssi[i];

				$('#node_notice_' + i).html(rotorhazard.nodes[i].checkValues());
				rotorhazard.nodes[i].updateThresholds();
			}
		});

		$('.frequency_table').change(function (event) {
			if ($(this).val() != "n/a") {
				var node = $(this).data('node');
				var frequency = parseInt($(this).val());
				$('#s_channel_' + node).val(frequency).trigger('change');
			}
		});

		socket.on('enter_and_exit_at_levels', function (msg) {
			for (i = 0; i < msg.enter_at_levels.length; i++) {
				$('#set_enter_at_level_' + i).val(msg.enter_at_levels[i]);
				rotorhazard.nodes[i].enter_at_level = msg.enter_at_levels[i];
				$('#set_exit_at_level_' + i).val(msg.exit_at_levels[i]);
				rotorhazard.nodes[i].exit_at_level = msg.exit_at_levels[i];

				$('#node_notice_' + i).html(rotorhazard.nodes[i].checkValues());
				rotorhazard.nodes[i].updateThresholds();
			}
		});

		socket.on('node_enter_at_level', function (msg) {
			$('#set_enter_at_level_' + msg.node_index).val(msg.level);
			rotorhazard.nodes[msg.node_index].enter_at_level = msg.level;

			$('#node_notice_' + i).html(rotorhazard.nodes[i].checkValues());
			rotorhazard.nodes[msg.node_index].updateThresholds();
		});

		socket.on('node_exit_at_level', function (msg) {
			$('#set_exit_at_level_' + msg.node_index).val(msg.level);
			rotorhazard.nodes[msg.node_index].exit_at_level = msg.level;

			$('#node_notice_' + i).html(rotorhazard.nodes[i].checkValues());
			rotorhazard.nodes[msg.node_index].updateThresholds();
		});

		$('button.pause_graph').click(function (event) {
			var node = rotorhazard.nodes[parseInt($(this).data('node'))]
			if (node.graphPaused) {
				node.graph.options.scaleSmoothing = 0.125;
				node.graph.removeTimeSeries(node.pauseSeries)
				node.graph.addTimeSeries(node.series, {lineWidth:1.7,
					strokeStyle:'hsl(214, 53%, 60%)',
					fillStyle:'hsla(214, 53%, 60%, 0.4)'
				});
				node.graph.start();
			} else {
				node.graph.stop();
				node.graphPausedTime = new Date().getTime();
				node.pauseSeries = node.series;
				node.graph.options.scaleSmoothing = 1;
				node.graph.removeTimeSeries(node.series)
				node.graph.addTimeSeries(node.pauseSeries, {lineWidth:1.7,
					strokeStyle:'hsl(214, 53%, 60%)',
					fillStyle:'hsla(214, 53%, 60%, 0.4)'
				});
				node.graph.render(node.canvas, node.graphPausedTime);
			}
			node.graphPaused = !node.graphPaused;
		});

		$('button.catch-pass').click(function (event) {
			var data = {
				node: parseInt($(this).data('node')),
				method: $(this).data('method'),
			};
			socket.emit('recover_pass', data);
			return false;
		});

		$('.set_frequency').change(function (event) {
			show_imd_rating_dashes();
			var data = {
				node: parseInt($(this).data('node')),
				frequency: parseInt($(this).val()),
			};
			socket.emit('set_frequency', data);

			var freqExists = $('#f_table_' + $(this).data('node') + ' option[value=' + $(this).val() + ']').length;
			if (freqExists) {
				$('#f_table_' + $(this).data('node')).val($(this).val());
			} else {
				$('#f_table_' + $(this).data('node')).val('n/a');
			}
		});

		$('.set_enter_at_level').change(function (event) {
			var data = {
				node: parseInt($(this).data('node')),
				enter_at_level: parseInt($(this).val()),
			};
			if (!Number.isNaN(data.enter_at_level)) {
				socket.emit('set_enter_at_level', data);
				rotorhazard.nodes[data.node].enter_at_level = data.enter_at_level;
				rotorhazard.nodes[data.node].updateThresholds();
			}
		});

		$('.set_exit_at_level').change(function (event) {
			var data = {
				node: parseInt($(this).data('node')),
				exit_at_level: parseInt($(this).val()),
			};
			if (!Number.isNaN(data.exit_at_level)) {
				socket.emit('set_exit_at_level', data);
				rotorhazard.nodes[data.node].exit_at_level = data.exit_at_level;
				rotorhazard.nodes[data.node].updateThresholds();
			}
		});

		$('button.cap_enter_at_btn').click(function (event) {
			var data = {
				node_index: parseInt($(this).data('node_index')),
			};
			$('#set_enter_at_level_' + data.node_index).val('');
			socket.emit('cap_enter_at_btn', data);
			return false;
		});

		$('button.cap_exit_at_btn').click(function (event) {
			var data = {
				node_index: parseInt($(this).data('node_index')),
			};
			$('#set_exit_at_level_' + data.node_index).val('');
			socket.emit('cap_exit_at_btn', data);
			return false;
		});


		$('#set_filter_ratio').on('input', function (event) {
			var val = logsl.value(12 - $(this).val());
			$('#filter_value').html(val.toFixed(4));
		});

		$('#set_filter_ratio').change(function (event) {
			var val = logsl.value(12 - $(this).val());
			val = (val * 10000).toFixed(0);
			var data = {
				filter_ratio: parseInt(val),
			}
			socket.emit('set_filter_ratio', data);
		});

		/* Heats */
		socket.on('heat_data', function (msg) {
			$(".heats").empty();
			for (var i in msg.heats) {
				var heats = msg.heats[i];
				var el = $('<li>');
				el.append('<h3>Heat ' + heats.heat_id + '</h3>');
				var input = $('<input type="text" id="heat-note-' + heats.heat_id + '" class="set_heat_note" data-heat="' + heats.heat_id + '" placeholder="' + __('Name') + ' (' + __('Heat') + ' ' + heats.heat_id + ')" maxlength="80">');
				input.val(heats.note);
				el.append(input);
				var nodelist = $('<ol>');

				// nodes
				for (j in heats.pilots) {
					var heatpilot = heats.pilots[j];
					var slot = $('<li>');
					slot.append('<div class="channel-block" data-node="' + j + '"><span class="ch"></span> <span class="fr"></span></div>');
					var pilot = $('<div class="pilot-name">');
					// pilot selectors
					var selectbox = $('<select class="set_pilot_position" id="heat_' + heats.heat_id + '_node_' + j + '" data-heat="' + heats.heat_id + '" data-node="' + j + '" >')
					selectbox.append('<option value="0">None</option>')
						for (var k in msg.pilot_data.pilot_id) {
							selectbox.append('<option value="' + msg.pilot_data.pilot_id[k] + '">' + msg.pilot_data.callsign[k] + ' (' + msg.pilot_data.name[k] + ')</option>')
						}
					selectbox.val(heatpilot);
					selectbox.prop('disabled', heats.locked);
					pilot.append(selectbox);
					slot.append(pilot);
					nodelist.append(slot);
				}
				el.append(nodelist);

				// update class selector
				if (msg.classes.length) {
					var selectbox = $('<select class="set_heat_class" id="class_heat_' + heats.heat_id + '_node_' + j + '" data-heat="' + heats.heat_id + '" data-node="' + j + '">')
						selectbox.append('<option value="0">Unclassified</option>')
						for (var k in msg.classes) {
							selectbox.append('<option value="' + msg.classes[k].id + '">' + msg.classes[k].name + '</option>')
						}
					if (heats.class_id > 0) {
						selectbox.val(heats.class_id);
					} else {
						selectbox.val(0);
					}
					selectbox.prop('disabled', heats.locked);
					el.append(selectbox);
				}

				el.appendTo($('.heats'));
			}
			freq.updateBlocks();
		});

		$(document).on("change", '.set_heat_note', function (event) {
			var data = {
				heat: parseInt($(this).data('heat')),
				note: $(this).val(),
			};
			socket.emit('set_heat_note', data);
		});

		$(document).on("change", '.set_pilot_position', function (event) {
			var data = {
				heat: parseInt($(this).data('heat')),
				node: parseInt($(this).data('node')),
				pilot: parseInt($(this).val())
			};
			socket.emit('set_pilot_position', data);
		});

		$(document).on("change", '.set_heat_class', function (event) {
			var data = {
				heat: parseInt($(this).data('heat')),
				class: $(this).val(),
			};
			socket.emit('set_heat_class', data);
		});

		$('button#add_heat').click(function (event) {
			socket.emit('add_heat');
			return false;
		});

		socket.on('class_data', function (msg) {
			$(".race_classes").empty();

			if (msg.classes.length) {
				$('.race_classes').append('<p class="form-note">' + __('Selections cannot be modified for classes with saved races. (Clear races to release.)') + '</p>');

				var classlist = $('<ol>');
				for (var i in msg.classes) {
					var race_class = msg.classes[i];
					var el = $('<li>');
					el.append('<h3>' + __('Class') + ' ' + race_class.id + '</h3>');
					var input = $('<input type="text" id="race_class_name-' + race_class.id + '" class="set_race_class_name" data-class_id="' + race_class.id + '" placeholder="' + __('Name') + ' (' + __('Class') + ' ' + race_class.id + ')" maxlength="80">');
					input.val(race_class.name);
					el.append(input);

					var input = $('<textarea id="race_class_description-' + race_class.id + '" class="set_race_class_description" data-class_id="' + race_class.id + '" placeholder="' + __('Class Description') + '" maxlength="256">');
					input.val(race_class.description);
					el.append(input);

					var selectbox = $('<select class="set_race_class_format" id="class_format_' + race_class.id + '" data-class_id="' + race_class.id + '">')
					selectbox.append('<option value="0">' + __('-None-') + '</option>')
					for (var j in msg.formats) {
						selectbox.append('<option value="' + msg.formats[j].id +'">' + msg.formats[j].name + '</option>')
					}
					selectbox.val(race_class.format);
					selectbox.prop('disabled', race_class.locked);
					el.append(selectbox);

					el.appendTo(classlist);
				}
				classlist.appendTo($('.race_classes'));
			} else {
				$('.race_classes').append('<p class="form-note">' + __('No classes are defined; this will be a single-class event.') + '</p>');
			}
		});

		$(document).on("change", '.set_race_class_name', function (event) {
			var data = {
				class_id: parseInt($(this).data('class_id')),
				class_name: $(this).val(),
			};
			socket.emit('set_race_class_name', data);
		});

		$(document).on("change", '.set_race_class_format', function (event) {
			var data = {
				class_id: parseInt($(this).data('class_id')),
				class_format: $(this).val(),
			};
			socket.emit('set_race_class_format', data);
		});

		$(document).on("change", '.set_race_class_description', function (event) {
			var data = {
				class_id: parseInt($(this).data('class_id')),
				class_description: $(this).val(),
			};
			socket.emit('set_race_class_description', data);
		});

		$('button#add_race_class').click(function (event) {
			socket.emit('add_race_class');
			return false;
		});

		/* Pilots */
		socket.on('pilot_data', function (msg) {
			$(".pilots").empty();
			for (var i in msg.pilot_id) {
				if (msg.pilot_id[i] != 0) {
					var el = $('<li data-id="' + msg.pilot_id[i] + '">');
					el.append('<label for="name_' + msg.pilot_id[i] + '" class="screen-reader-text">' + __('Name') + '</label>');
					el.append('<input type="text" class="set_pilot_name" id="name_' + msg.pilot_id[i] + '" data-pilot_id="' + msg.pilot_id[i] + '" value="' + msg.name[i] + '" placeholder="' + __('Name') +'">');
					el.append('<label for="callsign_' + msg.pilot_id[i] + '" class="screen-reader-text">' + __('Callsign') + '</label>');
					el.append('<input type="text" class="set_pilot_callsign" id="callsign_' + msg.pilot_id[i] + '" data-pilot_id="' + msg.pilot_id[i] + '" value="' + msg.callsign[i] + '" placeholder="' + __('Callsign') +'">');
					el.append('<label for="phonetic_' + msg.pilot_id[i] + '" class="screen-reader-text">' + __('Phonetic') +'</label>');
					var phonetic = $('<div class="phonetic">');
					phonetic.append('<input type="text" class="set_pilot_phonetic" id="phonetic_' + msg.pilot_id[i] + '" data-pilot_id="' + msg.pilot_id[i] + '" value="' + msg.phonetic[i] + '" placeholder="' + __('Phonetic') + '">');
					phonetic.append('<button class="speak_pilot" data-pilot_id="' + msg.pilot_id[i] + '">&#9658;&#65038; <span class="screen-reader-text">' + __('Play') + '</span></button>');
					el.append(phonetic);
					el.append('<div class="pilot-team"><label for="set_pilot_team_' + msg.pilot_id[i] + '">' + __('Team') + '</label><select class="set_pilot_team" id="set_pilot_team_' + msg.pilot_id[i] + '" data-pilot_id="' + msg.pilot_id[i] + '">' + msg.team_options[i] + '</select></div>');

					el.appendTo($('.pilots'));
				}
			}

			$('.set_pilot_position').each(function(){
				$(this).empty();
				var pilots = []
				for (i = 0; i < msg.callsign.length; i++) {
					pilots.push({
						id: msg.pilot_id[i],
						name: msg.name[i],
						callsign: msg.callsign[i]
					})
				}

				pilots.sort(function(a, b){
					if (a.name < b.name)
						return -1;
					if (a.name > b.name)
						return 1;
					return 0;
				});

				for (var i in pilots) {
					$(this).append('<option value="'+ pilots[i].id + '">' + pilots[i].callsign + ' (' + pilots[i].name + ')</option>');
				}
			});
		});

		$(document).on("focus", '.set_pilot_name', function(){
			$(this).select();
		});

		$(document).on("change", '.set_pilot_name', function (event) {
			var data = {
				pilot_id: parseInt($(this).data('pilot_id')),
				name: $(this).val()
			};
			socket.emit('set_pilot_name', data);
		})

		$(document).on("focus", '.set_pilot_callsign', function(){
			$(this).select();
		});

		$(document).on("change", '.set_pilot_callsign', function (event) {
			var data = {
				pilot_id: parseInt($(this).data('pilot_id')),
				callsign: $(this).val()
			};
			socket.emit('set_pilot_callsign', data);
		})

		$(document).on("change", '.set_pilot_team', function (event) {
			var data = {
				pilot_id: parseInt($(this).data('pilot_id')),
				team_name: $(this).val()
			};
			socket.emit('set_pilot_team', data);
		})

		$(document).on("focus", '.set_pilot_phonetic', function(){
			$(this).select();
		});

		$(document).on("change", '.set_pilot_phonetic', function (event) {
			var data = {
				pilot_id: parseInt($(this).data('pilot_id')),
				phonetic: $(this).val()
			};
			socket.emit('set_pilot_phonetic', data);
		})

		$(document).on("click", 'button.speak_pilot', function (event) {
			var el = $(this).closest('li');
			var callsign = el.find('.set_pilot_callsign').val()
			var phonetic = el.find('.set_pilot_phonetic').val()

			var ttstext = callsign;
			if (phonetic)
				ttstext = phonetic;

			speak('<div class="speech">' + ttstext + '</div>');
			return false;
		});

		$('button#add_pilot').click(function (event) {
			socket.emit('add_pilot');
			return false;
		});

		/* Voice */
		$('#beep_on_first_pass_button').prop('disabled', rotorhazard.beep_crossing_exited);

		$(document).on('change', '#set_voice_language', function (event) {
			rotorhazard.voice_language = $(this).val();
			rotorhazard.saveData();
		});

		// construct language selection
		$('#voice_select').after('<select id="set_voice_language">');
		var voices = $().articulate('getVoices');

		for (var i in voices) {
			$('#set_voice_language').append('<option>'+ voices[i].name + '</option>');
		}
		$('#set_voice_language').val(rotorhazard.voice_language);

		$('#set_voice_string_language').change(function (event) {
			rotorhazard.voice_string_language = $(this).val();
			rotorhazard.saveData();
		});

		$('#voice_callsign').change(function (event) {
			rotorhazard.voice_callsign = $(this).prop('checked');
			rotorhazard.saveData();
		});

		$('#voice_lap_count').change(function (event) {
			rotorhazard.voice_lap_count = $(this).prop('checked');
			rotorhazard.saveData();
		});

		$('#voice_team_lap_count').change(function (event) {
			rotorhazard.voice_team_lap_count = $(this).prop('checked');
			rotorhazard.saveData();
		});

		$('#voice_lap_time').change(function (event) {
			rotorhazard.voice_lap_time = $(this).prop('checked');
			rotorhazard.saveData();
		});

		$('#voice_race_timer').change(function (event) {
			rotorhazard.voice_race_timer = $(this).prop('checked');
			rotorhazard.saveData();
		});

		$('#voice_race_winner').change(function (event) {
			rotorhazard.voice_race_winner = $(this).prop('checked');
			rotorhazard.saveData();
		});

		$('#set_voice_volume').on('input', function (event) {
			var val = volume_logsl.value($(this).val());
			$().articulate('volume', val);
			$('#voice_volume_value').html($(this).val());
		});

		$('#set_voice_volume').change(function (event) {
			var val = volume_logsl.value($(this).val());
			rotorhazard.voice_volume = val;
			rotorhazard.saveData();
		});

		$('#set_voice_rate').on('input', function (event) {
			val = parseFloat($(this).val())
			$().articulate('rate', val);
			$('#voice_rate_value').html(val.toFixed(2));
		});

		$('#set_voice_rate').on('change', function (event) {
			rotorhazard.voice_rate = parseFloat($(this).val());
			rotorhazard.saveData();
		});

		$('#set_voice_pitch').on('input', function (event) {
			val = parseFloat($(this).val())
			$().articulate('pitch', val);
			$('#voice_pitch_value').html(val.toFixed(2));
		});

		$('#set_voice_pitch').on('change', function (event) {
			rotorhazard.voice_pitch = parseFloat($(this).val());
			rotorhazard.saveData();
		});

		$('#set_tone_volume').on('input', function (event) {
			var val = volume_logsl.value($(this).val());
			rotorhazard.tone_volume = val;
			$('#tone_volume_value').html($(this).val());
		});

		$('#set_tone_volume').change(function (event) {
			var val = volume_logsl.value($(this).val());
			rotorhazard.tone_volume = val;
			rotorhazard.saveData();
		});

		$('#beep_crossing_entered').change(function (event) {
			rotorhazard.beep_crossing_entered = $(this).prop('checked');
			rotorhazard.saveData();
		});

		$('#beep_crossing_exited').change(function (event) {
			rotorhazard.beep_crossing_exited = $(this).prop('checked');
			$('#beep_on_first_pass_button').prop('disabled', rotorhazard.beep_crossing_exited);
			rotorhazard.saveData();
		});

		$('#beep_manual_lap_button').change(function (event) {
			rotorhazard.beep_manual_lap_button = $(this).prop('checked');
			rotorhazard.saveData();
		});

		$('#beep_on_first_pass_button').change(function (event) {
			rotorhazard.beep_on_first_pass_button = $(this).prop('checked');
			rotorhazard.saveData();
		});

		$('#set_indicator_volume').on('input', function (event) {
			var val = volume_logsl.value($(this).val());
			rotorhazard.indicator_beep_volume = val;
			$('#indicator_volume_value').html($(this).val());
		});

		$('#set_indicator_volume').change(function (event) {
			var val = volume_logsl.value($(this).val());
			rotorhazard.indicator_beep_volume = val;
			rotorhazard.saveData();
		});

		$('#play_voice_test').click(function (event) {
			speak('<div class="speech">' + $('#voice_test_text').val() + '</div>');
			return false;
		});

		$("#voice_test_text").keyup(function(event) {
		    if (event.keyCode === 13) {  // make 'Enter' key on input field trigger button
		        $("#play_voice_test").click();
		    }
		});

		/* Race Format */
		socket.on('min_lap', function (msg) {
			$('#set_min_lap').val(msg.min_lap);
			$('#set_min_lap_behavior').val(msg.min_lap_behavior);
			rotorhazard.min_lap = msg.min_lap;
		});

		$('#set_min_lap').change(function (event) {
			var min_lap_val = parseInt($(this).val());
			rotorhazard.min_lap = min_lap_val;
			var data = {
				min_lap: min_lap_val
			};
			socket.emit('set_min_lap', data);
		})

		$('#set_min_lap_behavior').change(function (event) {
			var data = {
				min_lap_behavior: parseInt($(this).val())
			};
			socket.emit('set_min_lap_behavior', data);
		})

		$('#set_team_racing_mode').change(function (event) {
			var data = {
				team_racing_mode: parseInt($(this).val())  // 0=disabled, 1=enabled
			};
			socket.emit('set_team_racing_mode', data);
		})

		socket.on('race_format', function (msg) {
			$('#set_race_format').empty();
			for (i = 0; i < msg.format_ids.length; i++) {
				$('#set_race_format').append('<option value="' + msg.format_ids[i] +'">' + msg.format_names[i] + '</option>')
			}
			$('#set_race_format').val(msg.current_format);
			$('#set_format_name').val(msg.format_name);
			$('#set_race_mode').val(msg.race_mode);
			$('#set_race_mode').prop('disabled', msg.locked);
			$('#set_fix_race_time').val(msg.race_time_sec);
			$('#set_fix_race_time').prop('disabled', msg.locked);
			$('#set_hide_stage_timer').val(msg.hide_stage_timer);
			$('#set_hide_stage_timer').prop('disabled', msg.locked);
			$('#set_start_delay_min').val(msg.start_delay_min);
			$('#set_start_delay_min').prop('disabled', msg.locked);
			$('#set_start_delay_max').val(msg.start_delay_max);
			$('#set_start_delay_max').prop('disabled', msg.locked);
			$('#set_number_laps_win').val(msg.number_laps_win);
			$('#set_number_laps_win').prop('disabled', msg.locked);
			$('#set_win_condition').val(msg.win_condition);
			$('#set_win_condition').prop('disabled', msg.locked);
			$('#set_team_racing_mode').val(msg.team_racing_mode);
			$('#set_team_racing_mode').prop('disabled', msg.locked);
		});

		$('#set_race_format').change(function (event) {
			var data = {
				race_format: $(this).val()
			};
			socket.emit('set_race_format', data);
		});

		$('button#add_race_format').click(function (event) {
			socket.emit('add_race_format');
			return false;
		});

		$('button#delete_race_format').click(function (event) {
			socket.emit('delete_race_format');
			return false;
		});

		$('#set_format_name').change(function (event) {
			var data = {
				format_name: $(this).val()
			};
			socket.emit('set_race_format_name', data);
		})

		$('#set_race_mode').change(function (event) {
			var data = {
				race_mode: parseInt($(this).val())
			};
			socket.emit('set_race_mode', data);
		})

		$('#set_fix_race_time').change(function (event) {
			var data = {
				race_time: parseInt($(this).val())
			};
			socket.emit('set_fix_race_time', data);
		})

		$('#set_hide_stage_timer').change(function (event) {
			var data = {
				hide_stage_timer: parseInt($(this).val())
			};
			socket.emit('set_hide_stage_timer', data);
		})

		$('#set_start_delay_min').change(function (event) {
			var data = {
				start_delay_min: parseInt($(this).val())
			};
			socket.emit('set_start_delay_min', data);
		})

		$('#set_start_delay_max').change(function (event) {
			var data = {
				start_delay_max: parseInt($(this).val())
			};
			socket.emit('set_start_delay_max', data);
		})

		$('#set_number_laps_win').change(function (event) {
			var data = {
				number_laps_win: parseInt($(this).val())
			};
			socket.emit('set_number_laps_win', data);
		})

		$('#set_win_condition').change(function (event) {
			var data = {
				win_condition: parseInt($(this).val())
			};
			socket.emit('set_win_condition', data);
		})

		$('button#backup_database').click(function (event) {
			socket.emit('backup_database');
			return false;
		});

		socket.on('database_bkp_done', function (msg) {
			msgArray = atob(msg.file_data);  // decode Base64 string
			// convert decoded data to byte array
			var byteNumbers = new Array(msgArray.length);
			for (var i = 0; i < msgArray.length; i++) {
			    byteNumbers[i] = msgArray.charCodeAt(i);
			}
			var byteArray = new Uint8Array(byteNumbers);
			// construct blob from byte array and initiate browser save-as
			saveAs(new Blob([byteArray], {type: "application/octet-stream"}), msg.file_name);
		});

		/* Database Reset */
		socket.on('reset_confirm', function () {
			standard_message_queue.push(__('Data Cleared'));
			if (standard_message_queue.length == 1) {
				get_standard_message()
			}
		});

		$('button#reset_database').click(function (event) {
			var data = {
				reset_type: $('#reset_type').val()
			};
			socket.emit('reset_database', data);
			return false;
		});

		/* System */
		$('button#shutdown_pi').click(function (event) {
			socket.emit('shutdown_pi');
			return false;
		});

		socket.on('set_option', function (msg) {
			$('.set_option[data-option="' + msg.label +'"]').val(msg.value);
		});

		$('.set-option').change(function (event) {
			var data = {
				option: $(this).data('option'),
				value: $(this).val()
			};
			socket.emit('set_option', data);
			return false;
		});

		$('#set_language').change(function (event) {
			var data = {
				language: $(this).val()
			};
			socket.emit('set_language', data);
			location.reload(true);
		});

		socket.on('node_crossing_change', function (msg) {
			if (msg.crossing_flag) {
				if (rotorhazard.beep_crossing_entered)
					play_beep(25, node_tone[msg.node_index], rotorhazard.indicator_beep_volume, 'square');
			}
			else {
				if (rotorhazard.beep_crossing_exited) {
					play_beep(35, node_tone[msg.node_index], rotorhazard.indicator_beep_volume, 'sawtooth', 0.02);
					setTimeout(function(tone){
						play_beep(35, node_tone[tone], rotorhazard.indicator_beep_volume, 'sawtooth', );
					}, 70, msg.node_index);
				}
			}
		});

		function calcContrasts(option_index) {
			var hue = $('html').css('--hue_' + option_index);
			var sat = $('html').css('--sat_' + option_index);
			var lum_low = $('html').css('--lum_' + option_index + '_low');
			var lum_high = $('html').css('--lum_' + option_index + '_high');

			var hex_low = hslToHex(hue, sat, lum_low);
			var contrast_low = contrastColor(hex_low);
			$('html').css('--contrast_' + option_index + '_low', contrast_low);

			var hex_high = hslToHex(hue, sat, lum_high);
			var contrast_high = contrastColor(hex_high);
			$('html').css('--contrast_' + option_index + '_high', contrast_high);
		}

		$.cssNumber.hue_0 = true;
		$.cssNumber.hue_1 = true;
		$.cssNumber.sat_0 = true;
		$.cssNumber.sat_1 = true;

		$('.hue-control').on('input', function (event) {
			var option = $(this).data('option');
			var value = $(this).val();
			$('html').css('--' + option, value);
			var option_index = option.split('_')[1];
			calcContrasts(option_index);
		});

		$('.sat-control').on('input', function (event) {
			var option = $(this).data('option');
			var value = $(this).val();
			$('html').css('--' + option, value + '%');
			var option_index = option.split('_')[1];
			calcContrasts(option_index);
		});

		/* LED Controls */
		$('button.LED-color').click(function (event) {
				var colors = convertColor($(this).data('rgb'));
				var data = {
					red: colors.r,
					green: colors.g,
					blue: colors.b,
				};
				socket.emit('LED_solid', data);
				return false;
		});

		$('button.LED-chase').click(function (event) {
				var colors = convertColor($(this).data('rgb'));
				var data = {
					red: colors.r,
					green: colors.g,
					blue: colors.b,
				};
				socket.emit('LED_chase', data);
				return false;
		});

		$('button#LED_RB').click(function (event) {
			socket.emit('LED_RB');
			return false;
		});

		$('button#LED_RBCYCLE').click(function (event) {
			socket.emit('LED_RBCYCLE');
			return false;
		});

		$('button#LED_RBCHASE').click(function (event) {
			socket.emit('LED_RBCHASE');
			return false;
		});
	});

	function speak(obj) {
		$(obj).articulate('setVoice','name', rotorhazard.voice_language).articulate('speak');
	};
</script>
{% endblock %} {% block content %}
<main class="page-settings">

{% if ConfigFile == -1 %}
	<div class="config-bad">
		<p><strong>{{ __('The config.json file is invalid. Falling back to default configuration.') | safe }}</strong></p>
		<p>{{ __('To ensure your config.json file is valid JSON format, consider using a validator such as <a href="https://jsonlint.com/">JSONLint</a>.') | safe }}</p>
	</div>
{% elif ConfigFile == 0 %}
	<div class="config-none">
		<p><strong>{{ __('No configuration file was loaded. Falling back to default configuration.') | safe }}</strong></p>
		<p>{{ __('Copy <em>server/config-dist.json</em> to <em>server/config.json</em> and then update settings for your server port number, admin username/password, and LED configuration.') | safe }}</p>
	</div>
{% endif %}

<!--Client Messaging-->
<div class="panel collapsing">
	<div class="panel-header">
		<h2>{{ __('Send Message') }}</h2>
	</div>
	<div class="panel-content">
		<p><label for="message_body" class="screen-reader-text">{{ __('Message Body') }}</label>
		<input type="text" id="message_body" maxlength="256" placeholder="Message">{{ getOption('eventDescription') }}</textarea></p>
		<p><label><input type="checkbox" id="message_interrupt"> {{ __('Pop-up Alert') }}</label></p>
		<p><button id="send_message">{{ __('Send Message') }}</button></p>
	</div>
</div>

<!--Environment-->
<div class="panel collapsing">
	<div class="panel-header">
		<h2>{{ __('Profiles') }}</h2>
	</div>
	<div class="panel-content">
		<p class="form-note">{{ __('Stores frequency settings and sensor tuning values.') }}</p>

		<div class="control-set">
			<label for="set_profile">{{ __('Profile') }}:</label>
			<select id="set_profile">
				<option>{{ __('Loading...') }}</option>
			</select>
			<button id="add_profile">+ {{ __('Add Profile') }}</button>
			<button class="btn-danger" id="delete_profile">&#215; {{ __('Remove') }}</button>
		</div>

		<ol class="form">
			<li>
				<div class="label-block">
					<label for="set_profile_name">{{ __('Name') }}</label>
				</div>
				<input type="text" id="set_profile_name">
			</li>
			<li>
				<div class="label-block">
					<label for="set_profile_description">{{ __('Description') }}</label>
				</div>
				<textarea id="set_profile_description"></textarea>
			</li>
		</ol>
	</div>
</div>

<!--Frequency Setup-->
<div class="panel collapsing">
	<div class="panel-header">
		<h2>{{ __('Frequency Setup') }}</h2>
	</div>
	<div class="panel-content">
		<!--Apply preset-->
		<div class="control-set">
			{{ __('Preset') }}:
			<button class="set_frequency_preset" data-preset="All-N1">{{ __('Apply Node 1') }}</button>
			<button class="set_frequency_preset" data-preset="RB-4">{{ __('R1367') }}</button>
			<button class="set_frequency_preset" data-preset="IMD5C">{{ __('IMD5C') }}</button>
			<button class="set_frequency_preset" data-preset="IMD6C">{{ __('IMD6C') }}</button>
			<button class="set_frequency_preset" data-preset="RB-8">{{ __('Raceband 8') }}</button>
		</div>

		<div class="node-list">
			{% for node in range(num_nodes) %}
				<div class="node" data-node="{{ node }}">
					<h3><label for="set_freq_node_{{ node }}">{{ __('Node') }} {{ node + 1 }}</label></h3>
					<select class="frequency_table" id="f_table_{{ node }}" data-node="{{ node }}"></select>
					<label for="s_channel_{{ node }}" class="screen-reader-text">Frequency</label>
					<input type="number" id="s_channel_{{ node }}" class="set_frequency" data-node="{{ node }}" min="5000" max="6001">
				</div>
			{% endfor %}
		</div>
		<div class="control-set" id="imd_rating_label"></div>
	</div>
</div>

<!--Sensor Tuning-->
<div class="panel collapsing">
	<div class="panel-header">
		<h2>{{ __('Sensor Tuning') }}</h2>
	</div>
	<div class="panel-content">
		<ul class="graph-key">
			<li><span style="background-color: hsl(214, 53%, 60%)"></span> {{ __('RSSI') }}</li>
			<li><span style="background-color: hsl(8.2, 86.5%, 53.7%)"></span> {{ __('EnterAt') }}</li>
			<li><span style="background-color: hsl(25, 85%, 55%)"></span> {{ __('ExitAt') }}</li>
		</ul>
		<div class="node-list">
			{% for node in range(num_nodes) %}
			<div class="node" data-node="{{ node }}">
				<h3>{{ __('Node') }} {{ node + 1 }}</h3>
				<div class="channel-block" data-node="{{ node }}"><span class="ch"></span> <span class="fr"></span></div>
				<div class="rssi-graph">
					<button class="pause_graph" data-node="{{ node }}">&#x23ef;&#xFE0E;<span class="screen-reader-text"> {{ __('Pause/Resume Graph') }}</span></button>
					<canvas id="rssi-graph-{{ node }}">
				</div>
				<div class="crossing crossing_flag_{{ node }}">{{ __('Clear') }}</div>
				<div class="node-controls">
					<div class="enter-exit-control">
						<label for="set_enter_at_level_{{ node }}">{{ __('EnterAt') }}</label>
						<input type="number" id="set_enter_at_level_{{ node }}" class="set_enter_at_level" data-node="{{ node }}" min="0" max="999">
						<button class="cap_enter_at_btn" data-node_index="{{ node }}">{{ __('Capture') }}</button>
					</div>

					<div class="enter-exit-control">
						<label for="set_exit_at_level_{{ node }}">{{ __('ExitAt') }}</label>
						<input type="number" id="set_exit_at_level_{{ node }}" class="set_exit_at_level" data-node="{{ node }}" min="0" max="999">
						<button class="cap_exit_at_btn" data-node_index="{{ node }}">{{ __('Capture') }}</button>
					</div>

					<div class="catch-passes">
						<button class="catch-pass" data-node="{{ node }}" data-method="max">{{ __('Catch Missed Lap') }}</button>
						<button class="catch-pass" data-node="{{ node }}" data-method="min">{{ __('Force End Crossing') }}</button>
					</div>
				</div>
				<div id="node_notice_{{ node }}"></div>
				<table>
					<tr class="datarow">
						<td>{{ __('RSSI') }}</td>
						<td>
							<span class="current_rssi_{{ node }}"></span>
						</td>
					</tr>
					<tr class="datarow">
						<td>{{ __('NodePeak') }}</td>
						<td>
							<span class="node_peak_rssi_{{ node }}"></span>
						</td>
					</tr>
					<tr class="datarow">
						<td>{{ __('NodeNadir') }}</td>
						<td>
							<span class="node_nadir_rssi_{{ node }}"></span>
						</td>
					</tr>
					<tr class="datarow">
						<td>{{ __('PassPeak') }}</td>
						<td>
							<span class="pass_peak_rssi_{{ node }}"></span>
						</td>
					</tr>
					<tr class="datarow">
						<td>{{ __('PassNadir') }}</td>
						<td>
							<span class="pass_nadir_rssi_{{ node }}"></span>
						</td>
					</tr>
					<tr class="datarow">
						<td>{{ __('PassCount') }}</td>
						<td>
							<span class="debug_pass_count_{{ node }}"></span>
						</td>
					</tr>
				</table>
			</div>
			{% endfor %}
		</div>

		<!--Edit system tuning values-->
		<ol class="form">
			<li>
				<div class="label-block">
					<label for="set_filter_ratio">{{ __('RSSI Smoothing') }}</label>
					<p class="desc">{{ __('Filter Ratio') }}: <span id="filter_value"></span></p>
				</div>
				<input type="range" id="set_filter_ratio" min="0" max="12" step="1">
			</li>
			<li>
				<div class="label-block">
					<label for="set_recovery_max_offset">{{ __('Missed Lap Offset') }}</label>
					<p class="desc">{{ __('Adjusts EnterAt value after "Catch Missed Lap"') }}</p>
				</div>
				<input type="text" id="set_recovery_max_offset" class="set-option" data-option="HistoryMaxOffset" value="{{ getOption('HistoryMaxOffset') }}">
			</li>
			<li>
				<div class="label-block">
					<label for="set_recovery_min_offset">{{ __('End Crossing Offset') }}</label>
					<p class="desc">{{ __('Adjusts ExitAt value after "Force End Crossing"') }}</p>
				</div>
				<input type="text" id="set_recovery_min_offset" class="set-option" data-option="HistoryMinOffset" value="{{ getOption('HistoryMinOffset') }}">
			</li>
		</ol>

		<div class="calibration-guide">
			<h3>{{ __('Calibration') }}</h3>
			<ol>
				<li>{{ __('Power on a VTx at the same frequency as the node') }}</li>
				<li>{{ __('Pass VTx very near the timer to establish peak RSSI for node') }}</li>
				<li>{{ __('Place VTx 5-10 feet away and press "Capture" for EnterAt') }}</li>
				<li>{{ __('Place VTx 20-30 feet away and press "Capture" for ExitAt') }}</li>
				<li>{{ __('Review "Crossing" points and adjust until accurately responding') }}</li>
				<li>{{ __('The EnterAt value should always be higher than the ExitAt value') }}</li>
			</ol>
			<h3>{{ __('Troubleshooting') }}</h3>
			<ul>
				<li>{{ __('If gate crossings are being missed then lower EnterAt') }}</li>
				<li>{{ __("If gate crossing are triggered when they shouldn't be then increase EnterAt") }}</li>
				<li>{{ __('If a pass by the timer is resulting in multiple crossings, lower ExitAt') }}</li>
				<li>{{ __('If the "Crossing" indicator is stuck on then increase ExitAt') }}</li>
				<li>{{ __('If crossings are still erratic, increase RSSI Smoothing to reduce noise') }}</li>
                <li>{{ __('If missing high-speed passes, try decreasing RSSI Smoothing') }}</li>
			</ul>
		</div>
	</div>
</div>

<!--Event and Class info-->
<div class="panel collapsing">
	<div class="panel-header">
		<h2>{{ __('Event and Classes') }}</h2>
	</div>
	<div class="panel-content">
		<ol class="form">
			<li>
				<div class="label-block">
					<label for="set_event_name">{{ __('Event Name') }}</label>
				</div>
				<input type="text" id="set_event_name" class="set-option" data-option="eventName" value="{{ getOption('eventName') }}">
			</li>
			<li>
				<div class="label-block">
					<label for="set_event_description">{{ __('Event Description') }}</label>
				</div>
				<textarea id="set_event_description" class="set-option" data-option="eventDescription" maxlength="256">{{ getOption('eventDescription') }}</textarea>
			</li>
		</ol>

		<div id="race_classes" class="race_classes">
			<p class="form-note">{{ __('Loading...') }}</p>
		</div>
		<div class="control-set">
			<button id="add_race_class">+ {{ __('Add Class') }}</button>
		</div>
	</div>
</div>

<!--Heats list for editing-->
<div class="panel collapsing">
	<div class="panel-header">
		<h2>{{ __('Heats') }}</h2>
	</div>
	<div class="panel-content">
		<p class="form-note">{{ __('Selections cannot be modified for heats with saved races. (Clear races to release.)') }}</p>

		<ol id="heats" class="heats">
			<li>{{ __('Loading...') }}</li>
		</ol>
		<div class="control-set">
			<button id="add_heat">+ {{ __('Add Heat') }}</button>
		</div>
	</div>
</div>

<!--Pilots list for editing-->
<div class="panel collapsing">
	<div class="panel-header">
		<h2>{{ __('Pilots') }}</h2>
	</div>
	<div class="panel-content">
		<ul class="pilots">
			<li>{{ __('Loading...') }}</li>
		</ul>

		<div class="control-set">
			<button id="add_pilot">+ {{ __('Add Pilot') }}</button>
		</div>
	</div>
</div>

<!--Voice Settings-->
<div class="panel collapsing">
	<div class="panel-header">
		<h2>{{ __('Audio Control') }}</h2>
	</div>
	<div class="panel-content">
		<p class="form-note">{{ __('Voice settings apply to this device only.') }}</p>
		<ol class="form">
			<li>
				<div class="label-block">
					<label for="set_voice_language">{{ __('Voice Select') }}</label>
				</div>
				<div id="voice_select"></div>
			</li>
			<li>
				<div class="label-block">
					<label for="set_voice_string_language">{{ __('Voice Language') }}</label>
				</div>
				<select id="set_voice_string_language">
					<option>{{ __('Loading...') }}</option>
				</select>
			</li>
			<li>
				<div class="label-block">
					{{ __('Voice Test') }} &nbsp; &nbsp;
				</div>
				<input type="text" id="voice_test_text" value="{{ getOption('timerName') }}">
				<button class="button" id="play_voice_test">&#9658;&#65038; <span class="screen-reader-text">{{ __('Play') }}</span></button>
			</li>
			<li>
				<div class="label-block">
					{{ __('Announcements') }}
				</div>
				<ul>
					<li><label><input type="checkbox" id="voice_callsign"> {{ __('Callsign') }}</label></li>
					<li><label><input type="checkbox" id="voice_lap_count"> {{ __('Lap Number') }}</label></li>
					<li><label><input type="checkbox" id="voice_lap_time"> {{ __('Lap Time') }}</label></li>
					<li><label><input type="checkbox" id="voice_race_timer"> {{ __('Race Timer') }}</label></li>
					<li><label><input type="checkbox" id="voice_team_lap_count"> {{ __('Team Lap Total') }}</label></li>
					<li><label><input type="checkbox" id="voice_race_winner"> {{ __('Race Winner') }}</label></li>
				</ul>
			</li>
			<li>
				<div class="label-block">
					<label for="set_voice_volume">{{ __('Voice Volume') }}</label>
					<p class="desc">{{ __('Volume') }}: <span id="voice_volume_value"></span></p>
				</div>
				<input type="range" id="set_voice_volume" min="1" max="100">
			</li>
			<li>
				<div class="label-block">
					<label for="set_voice_rate">{{ __('Voice Rate') }}</label>
					<p class="desc">{{ __('Rate') }}: <span id="voice_rate_value"></span></p>
				</div>
				<input type="range" id="set_voice_rate" min="0" max="2.0" step="0.01">
			</li>
			<li>
				<div class="label-block">
					<label for="set_voice_pitch">{{ __('Voice Pitch') }}</label>
					<p class="desc">{{ __('Pitch') }}: <span id="voice_pitch_value"></span></p>
				</div>
				<input type="range" id="set_voice_pitch" min="0" max="2.0" step="0.01">
			</li>
			<li>
				<div class="label-block">
					<label for="set_tone_volume">{{ __('Tone Volume') }}</label>
					<p class="desc">{{ __('Volume') }}: <span id="tone_volume_value"></span></p>
				</div>
				<input type="range" id="set_tone_volume" min="1" max="100">
			</li>
			<li>
				<div class="label-block">
					{{ __('Indicator Beeps') }}
				</div>
				<ul>
					<li><label><input type="checkbox" id="beep_on_first_pass_button"> {{ __('On First Pass') }}</label></li>
					<li><label><input type="checkbox" id="beep_crossing_entered"> {{ __('Crossing Entered') }}</label></li>
					<li><label><input type="checkbox" id="beep_crossing_exited"> {{ __('Crossing Exited') }}</label></li>
					<li><label><input type="checkbox" id="beep_manual_lap_button"> {{ __('Manual Lap Button') }}</label></li>
				</ul>
			</li>
			<li>
				<div class="label-block">
					<label for="set_indicator_volume">{{ __('Indicator Beeps Volume') }}</label>
					<p class="desc">{{ __('Volume') }}: <span id="indicator_volume_value"></span></p>
				</div>
				<input type="range" id="set_indicator_volume" min="1" max="100">
			</li>
		</ol>
	</div>
</div>

<!--Race Format-->
<div class="panel collapsing">
	<div class="panel-header">
		<h2>{{ __('Race Format') }}</h2>
	</div>
	<div class="panel-content">
		<p class="form-note">{{ __('Formats used with saved races cannot be modified. (Clear races to release.)') }}</p>

		<div class="control-set">
			<label for="set_race_format">{{ __('Format:') }}</label>
			<select id="set_race_format">
				<option>{{ __('Loading...') }}</option>
			</select>
			<button id="add_race_format">+ {{ __('Duplicate Format') }}</button>
			<button class="btn-danger" id="delete_race_format">&#215; {{ __('Remove') }}</button>
		</div>

		<ol class="form">
			<li>
				<div class="label-block">
					<label for="set_format_name">{{ __('Name') }}</label>
				</div>
				<input type="text" id="set_format_name">
			</li>
			<li>
				<div class="label-block">
					<label for="set_race_mode">{{ __('Race Timer Mode') }}</label>
				</div>
				<select id="set_race_mode">
					<option value="0">{{ __('Count Down') }}</option>
					<option value="1">{{ __('Count Up') }}</option>
				</select>
			</li>
			<li>
				<div class="label-block">
					<label for="set_fix_race_time">{{ __('Timer Duration (seconds)') }}</label>
					<p class="desc">{{ __('Used for Count Down timed races') }}</p>
				</div>
				<input type="number" id="set_fix_race_time" min="0" max="99999">
			</li>
			<li>
				<div class="label-block">
					<label for="set_start_delay_min">{{ __('Minimum Start Delay') }}</label>
					<p class="desc">{{ __('Minimum time before race begins') }}</p>
				</div>
				<input type="number" id="set_start_delay_min" min="0" max="999">
			</li>
			<li>
				<div class="label-block">
					<label for="set_start_delay_max">{{ __('Maximum Start Delay') }}</label>
					<p class="desc">{{ __('Maximum time before race begins') }}<br />
						{{ __('Staging timer is hidden unless value matches Minimum Start Delay') }}</p>
				</div>
				<input type="number" id="set_start_delay_max" min="0" max="999">
			</li>
			<li>
				<div class="label-block">
					<label for="set_number_laps_win">{{ __('Number of Laps to Win') }}</label>
					<p class="desc">{{ __('Used with First to X Laps races') }}</p>
				</div>
				<input type="number" id="set_number_laps_win" min="0" max="999">
			</li>
			<li>
				<div class="label-block">
					<label for="set_win_condition">{{ __('Win Condition') }}</label>
				</div>
				<select id="set_win_condition">
					<option value="0">{{ __('None') }}</option>
					<option value="1">{{ __('Most Laps') }}</option>
					<option value="2">{{ __('First to X Laps') }}</option>
					<!-- Yet to be implemented in server.py
					<option value="3">{{ __('Fastest Lap') }}</option>
					<option value="4">{{ __('Fastest 3 Consecutive Laps') }}</option>
					-->
				</select>
			</li>
			<li>
				<div class="label-block">
					<label for="set_team_racing_mode">{{ __('Team Racing Mode') }}</label>
				</div>
				<select id="set_team_racing_mode">
					<option value="0">{{ __('Team Racing Disabled') }}</option>
					<option value="1">{{ __('Team Racing Enabled') }}</option>
				</select>
			</li>
		</ol>

		<hr />

		<ol class="form">
			<li>
				<div class="label-block">
					<label for="set_min_lap">{{ __('Minimum Lap Time') }}</label>
					<p class="desc">{{ __('In seconds') }}</p>
				</div>
				<input type="number" id="set_min_lap" min="0" max="999" value="{{ getOption('MinLapSec') }}">
			</li>
			<li>
				<div class="label-block">
					<label for="set_min_lap_behavior">{{ __('Minimum Lap Behavior') }}</label>
				</div>
				<select id="set_min_lap_behavior">
					<option value="0">{{ __('Highlight Short Laps') }}</option>
					<option value="1">{{ __('Discard New Short Laps') }}</option>
				</select>
			</li>

		</ol>
	</div>
</div>

<!--LED controls-->
<div class="panel collapsing">
	<div class="panel-header">
		<h2>{{ __('LED Control') }}</h2>
	</div>
	<div class="panel-content">
		<div class="control-set">
			<button class="LED-color" data-rgb="#000000"><img src="../static/image/LED-off.png"></button>
			<button id="LED_RBCYCLE"><img src="../static/image/LED-rainbow.png"></button>
			<br />
			<button class="LED-color" data-rgb="#0000ff"><img src="../static/image/LED-blue.png"></button>
			<button class="LED-color" data-rgb="#ff3200"><img src="../static/image/LED-orange.png"></button>
			<button class="LED-color" data-rgb="#ff003C"><img src="../static/image/LED-pink.png"></button>
			<button class="LED-color" data-rgb="#9600ff"><img src="../static/image/LED-purple.png"></button>
			<button class="LED-color" data-rgb="#ffD200"><img src="../static/image/LED-yellow.png"></button>
			<button class="LED-color" data-rgb="#00ffff"><img src="../static/image/LED-cyan.png"></button>
			<button class="LED-color" data-rgb="#00ff00"><img src="../static/image/LED-green.png"></button>
			<button class="LED-color" data-rgb="#ff0000"><img src="../static/image/LED-red.png"></button>
			<br />
			<button class="LED-chase" data-rgb="#0000ff"><img src="../static/image/LED-chase-blue.png"></button>
			<button class="LED-chase" data-rgb="#ff3200"><img src="../static/image/LED-chase-orange.png"></button>
			<button class="LED-chase" data-rgb="#ff003C"><img src="../static/image/LED-chase-pink.png"></button>
			<button class="LED-chase" data-rgb="#9600ff"><img src="../static/image/LED-chase-purple.png"></button>
			<button class="LED-chase" data-rgb="#ffD200"><img src="../static/image/LED-chase-yellow.png"></button>
			<button class="LED-chase" data-rgb="#00ffff"><img src="../static/image/LED-chase-cyan.png"></button>
			<button class="LED-chase" data-rgb="#00ff00"><img src="../static/image/LED-chase-green.png"></button>
			<button class="LED-chase" data-rgb="#ff0000"><img src="../static/image/LED-chase-red.png"></button>
		</div>
	</div>
</div>

<!--Reset database-->
<div class="panel collapsing">
	<div class="panel-header">
		<h2>{{ __('Database') }}</h2>
	</div>
	<div class="panel-content">
		<div class="control-set">
			<button id="backup_database">{{ __('Backup Database') }}</button>
			{% if Debug %}<a href="/database" class="debug button-like">{{ __('View Database') }}</a>{% endif %}
		</div>
		<div class="control-set">
			<select id="reset_type">
				<option value="races">{{ __('Races') }}</option>
				<option value="heats">{{ __('Races and Heats') }}</option>
				<option value="classes">{{ __('Races, Heats, and Classes') }}</option>
				<option value="pilots">{{ __('Races, Heats, and Pilots') }}</option>
				<option value="all">{{ __('Races, Heats, Classes, and Pilots') }}</option>
			</select>
			<button class="btn-danger" id="reset_database">{{ __('Clear Data') }}</button>
		</div>
	</div>
</div>

<!-- System -->
<div class="panel collapsing">
	<div class="panel-header">
		<h2>{{ __('System') }}</h2>
	</div>
	<div class="panel-content">
		<div class="control-set">
			<a href="#shutdown_confirm" class="btn-danger button-like open-mfp-popup">{{ __('Shut Down') }}</a>
			{% if Debug %}<a href="/hardwarelog" class="debug button-like">{{ __('Log') }}</a>{% endif %}
		</div>

		<div id="shutdown_confirm" class="priority-message-interrupt mfp-hide popup">
			<h2>Alert</h2>
			<div class="popup-content">
				<p>{{ __('Shut down server?') }}</p>
				<p><button class="btn-danger" id="shutdown_pi">{{ __('Shut Down') }}</button>
				<button class="cancel">{{ __('Cancel') }}</button></p>
			</div>
		</div>

		<ol class="form">
			<li>
				<div class="label-block">
					<label for="set_language">{{ __('Language') }}</label>
				</div>
				<select id="set_language">
					<option>{{ __('Loading...') }}</option>
				</select>
			</li>

			<li>
				<div class="label-block">
					<label for="set_timer_name">{{ __('Timer Name') }}</label>
				</div>
				<input type="text" id="set_timer_name" class="set-option" data-option="timerName" value="{{ getOption('timerName') }}">
			</li>
			<li>
				<div class="label-block">
					<label for="set_timer_logo">{{ __('Timer Logo') }}</label>
					<p class="desc">{{ __('File path relative to RotorHazard/server/static') }}</p>
				</div>
				<input type="text" id="set_timer_logo" class="set-option" data-option="timerLogo" value="{{ getOption('timerLogo') }}" placeholder="image/group-logo.png">
			</li>
			<li>
				<div class="label-block">
					<label for="set_hue_primary">{{ __('Primary Hue') }}</label>
				</div>
				<input type="range" id="set_hue_primary" class="set-option hue-control" data-option="hue_0" value="{{ getOption('hue_0') }}" min="0" max="359">
			</li>
			<li>
				<div class="label-block">
					<label for="set_sat_primary">{{ __('Primary Saturation') }}</label>
				</div>
				<input type="range" id="set_sat_primary" class="set-option sat-control" data-option="sat_0" value="{{ getOption('sat_0') }}" min="0" max="100">
			</li>
			<li>
				<div class="label-block">
					<label for="set_hue_secondary">{{ __('Secondary Hue') }}</label>
				</div>
				<input type="range" id="set_hue_secondary" class="set-option hue-control" data-option="hue_1" value="{{ getOption('hue_1') }}" min="0" max="359">
			</li>
			<li>
				<div class="label-block">
					<label for="set_sat_secondary">{{ __('Secondary Saturation') }}</label>
				</div>
				<input type="range" id="set_sat_secondary" class="set-option sat-control" data-option="sat_1" value="{{ getOption('sat_1') }}" min="0" max="100">
			</li>
		</ol>

		<div class="control-set">
			<div class="swatch primary-color">{{ __('Primary Color') }}</div>
			<div class="swatch secondary-color">{{ __('Secondary Color') }}</div>
		</div>
	</div>
</div>

</main>
{% endblock %}
