{% extends "layout-basic.html" %} {% block title %}{{ __('Stream') }}: {{ __('Heat') }}{% endblock %}{% block head %}
<link rel="stylesheet" href="/static/stream.css?{{ serverInfo['release_version'] | urlencode }}"></link>

<script type="text/javascript" charset="utf-8">
	var data_dependencies = [
		'all_languages',
		'language',
		'frequency_data',
		'heat_data',
	];

	rotorhazard.show_messages = false;
	var heat_data;
	var streamheat = {{ heat_id }}

	$(document).ready(function () {
		// set up node local store
		for (i = 0; i < {{ num_nodes }}; i++) {
			rotorhazard.nodes[i] = new nodeModel();
		}

		if (!{{ heat_id }}) {
			socket.emit('load_data', {'load_types': [
				'current_heat',
			]});
		}

		socket.on('language', function (msg) {
			if (msg.language) {
				rotorhazard.interface_language = msg.language;
			}
		});

		socket.on('frequency_data', function (msg) {
			if (msg.fdata.length) {
				for (var i in msg.fdata) {
					var fObj = freq.getFObjbyFData(msg.fdata[i]);
					rotorhazard.nodes[i].fObj = fObj;
					$('#s_channel_' + i).val(fObj.frequency);
					$('#f_table_' + i).val(fObj.fString);
					freq.updateBlock(fObj, i);
				}
			}
		});

		function display_nothing() {
			$('#header h1').html(__('No Data'))
			$('#leaderboard').html('<p>' + __('There is no saved race data available to view.') + '</p>');
		}

		function display_heat_data(msg) {
			for (var i in msg.heats) {
				var heat = msg.heats[i];
				if (i == streamheat) {
					if (heat.note) {
						var heatname = heat.note;
					} else {
						var heatname = __('Heat') + ' ' + heat.heat_id;
					}

					$('#header h1').html(heatname)

					$('#leaderboard').empty();

					var table = $('<table class="leaderboard">');
					var thead = $('<thead>');
					var head_row = $('<tr>');
					head_row.append('<th class="channel"><span class="screen-reader-text">' + __('Frequency') + '</span></th>');
					head_row.append('<th class="pilot">' + __('Callsign') + '</th>');
					head_row.append('<th class="pilot">' + __('Name') + '</th>');
					thead.append(head_row);
					table.append(thead);

					var tbody = $('<tbody>');
					var callsign;
					for (j in heat.pilots) {
						var heatpilot = heat.pilots[j];
						var slot = $('<tr>');
						slot.append('<td class="channel"><div class="channel-block" data-node="' + j + '"><span class="ch"></span> <span class="fr"></span></div></td>');

						callsign = '-';
						name = '-';
						for (var k in msg.pilot_data) {
							if (msg.pilot_data[k].pilot_id == heatpilot) {
								callsign = msg.pilot_data[k].callsign;
								name = msg.pilot_data[k].name;
								break;
							}
						}

						slot.append('<td class="pilot">' + callsign + '</td>');
						slot.append('<td class="pilot">' + name + '</td>');
						tbody.append(slot);
					}

					// class indicator
					if (msg.classes.length) {
						if (heat.class_id) {
							for (var i in msg.classes) {
								if (msg.classes[i].id == heat.class_id) {
									tbody.append('<tr><td></td><td colspan="2" class="race_class">' + __('Class') + ': ' + msg.classes[i].name + '</td><tr>')
									break;
								}
							}
						} else {
							tbody.append('<tr><td></td><td colspan="2" class="race_class">' + __('Unclassified') + '</td><tr>');
						}
					}

					table.append(tbody);
					$('#leaderboard').append(table);
				}
			}
			freq.updateBlocks();
		}

		socket.on('heat_data', function (msg) {
			heat_data = msg;
			display_heat_data(heat_data);
		});

		socket.on('current_heat', function (msg) {
			if (!{{ heat_id }}) {
				streamheat = msg.current_heat;
				display_heat_data(heat_data);
			}
		});
	});

</script>
{% endblock %} {% block content %}
<main class="page-streamheat">
	<div id="header">
		<h1>{{ __('Loading...') }}</h1>
	</div>

	<!--Display the race leaderboard-->
	<div id="leaderboard"></div>
</main>
{% endblock %}
