{% extends "layout-basic.html" %} {% block title %}Race{% endblock %}{% block head %}
<link rel="stylesheet" href="/static/streamclass.css?{{ serverInfo['release_version'] | urlencode }}"></link>

<script type="text/javascript" charset="utf-8">
	streamclass = {{ class_id }}

	$(document).ready(function () {
		socket.emit('load_data', {'load_types': [
			'all_languages',
			'language',
			'round_data',
		]});

		socket.on('all_languages', function (msg) {
			rotorhazard.language_strings = msg.languages;
		});

		socket.on('language', function (msg) {
			if (msg.language) {
				rotorhazard.interface_language = msg.language;
			}
		});

		socket.on('round_data_notify', function () {
			socket.emit('load_data', {'load_types': [
				'round_data',
			]});
		});

		socket.on('round_data', function (msg) {
			var page = $('.page-streamclass')
			page.empty();

			if (!$.isEmptyObject(msg.heats)) {
				for (var class_id in msg.heats_by_class) {
					if (class_id == streamclass) {
						var race_class = class_id;
						var valid_heats = false;
						if (msg.heats_by_class[race_class].length) {
							for (var class_heat in msg.heats_by_class[race_class]) {
								if (msg.heats[msg.heats_by_class[race_class][class_heat]]) {
									valid_heats = true;
									break;
								}
							}
						}

						if (valid_heats) {
							var class_panel = $('<div id="class_' + class_id + '" class="panel collapsing">');
							var class_panel_header = $('<div class="panel-header">');
							var class_panel_content = $('<div class="panel-content">');

							var current_class = msg.classes[race_class];
							if (current_class) {
								if (current_class.name) {
									class_panel_header.append('<h2>' + current_class.name + '</h2>');
								} else {
									class_panel_header.append('<h2>' + __('Class') + ' ' + current_class.id + '</h2>');
								}

								var class_leaderboard = $('<div id="class_' + class_id + '_leaderboard" class="panel collapsing class-leaderboard">');

								var class_leaderboard_header = $('<div class="panel-header">');
								class_leaderboard_header.append('<h3>' + __('Class Summary') + '</h3>');
								class_leaderboard.append(class_leaderboard_header);

								var class_leaderboard_content = $('<div class="panel-content">');

								class_leaderboard_content.append(build_leaderboard(current_class.leaderboard[current_class.leaderboard.meta.primary_leaderboard], current_class.leaderboard.meta.primary_leaderboard, msg.meta));

								class_leaderboard.append(class_leaderboard_content);
								class_panel_content.append(class_leaderboard);
							} else {
								if ($.isEmptyObject(msg.classes)) {
									class_panel_header.append('<h2>' + __('Heats') + '</h2>')
								} else {
									class_panel_header.append('<h2>' + __('Unclassified') + '</h2>')
								}
							}

							class_panel.append(class_panel_header);
							class_panel.append(class_panel_content);
							page.append(class_panel);
						}
					}
				}

			} else {
				page.append('<p>' + __('There is no saved race data available to view.') + '</p>');
			}
		});

		$(document).on('click', '.leaderboard tr', function(){
			el = $(this);
			source = el.data('source');
			if (source) {
				pilot = el.children('.pilot').html()
				standard_message_queue.push(__('Source for') + " " + pilot + ": " + source);
				if (standard_message_queue.length == 1) {
					get_standard_message()
				}
			}
		})
	});

</script>
{% endblock %} {% block content %}
<main class="page-streamclass">
</main>
{% endblock %}
