{% extends "layout.html" %} {% block title %}{{ __('Streams') }}{% endblock %}{% block head %}

<script type="text/javascript" charset="utf-8">
	var data_dependencies = [
		'all_languages',
		'language',
		{
			'type': 'ui',
			'value': 'streams'
		},
		'heat_data',
		'class_data',
	];

	$(document).ready(function () {
		socket.on('language', function (msg) {
			if (msg.language) {
				rotorhazard.interface_language = msg.language;
			}
		});

		socket.on('ui', function (msg) {
			if (msg.page == 'streams') {
				$('#custom-ui').empty();

				for (var i in msg.panels) {
					var panel = msg.panels[i];

					var panel_el = $('<div class="panel collapsing active">');
					panel_el.attr('id', 'ui-custom-' + panel.panel.name);
					var panel_header_el = $('<div class="panel-header">');
					panel_header_el.append('<h2><button class="no-style">' + panel.panel.label + '</button></h2>');
					var panel_content_el = $('<div class="panel-content">');
					panel_content_el.hide();

					var form_el = $('<ol class="form">');

					for (var f_idx in panel.settings) {
						var settings = { ...panel.settings[f_idx] };

						settings.wrapperEl = 'li';
						settings.fieldClass = 'set_ui_option';
						settings.id = 'genericOption_' + settings.name;
						settings.data = {
							field: settings.name,
						}

						var field = rhui.buildField(settings);

						form_el.append(field);
					}
					panel_content_el.append(form_el);
					panel_content_el.append(rhui.buildQuickbuttons(panel.quickbuttons));

					panel_el.append(panel_header_el);
					panel_el.append(panel_content_el);

					$('#custom-ui').append(panel_el);
				}

				// load panel state
				for (var panel in rotorhazard.panelstates) {
					var panel_obj = $('#' + panel);
					var panelstate = rotorhazard.panelstates[panel];

					if (panelstate) {
						panel_obj.addClass('open');
						panel_obj.children('.panel-content').stop().slideDown();
					} else {
						panel_obj.removeClass('open');
						panel_obj.children('.panel-content').stop().slideUp();
					}
				}
			}
		});

		socket.on('pilot_data', function (msg) {
			rotorhazard.event.pilots = msg.pilots;
			rotorhazard.options.pilotSort = msg.pilotSort;
			display_heats();
		});

		socket.on('heat_data', function (msg) {
			rotorhazard.event.heats = msg.heats;
			display_heats();
		});

		socket.on('class_data', function (msg) {
			rotorhazard.event.classes = msg.classes;
			display_classes()
		});

		function display_heats() {
			if (rotorhazard.event.heats) {
				$('.heat_list').empty();
				$('.heat_list').append('<li><a href="/stream/heat/0">' + __("Current Heat") + '</a></li>');

				for (var i in rotorhazard.event.heats) {
					var heat = rotorhazard.event.heats[i];

					$('.heat_list').append('<li><a href="/stream/heat/' + heat.id + '">' + heat.displayname + '</a></li>');
				}
			}
		}

		function display_classes() {
			if (rotorhazard.event.classes) {
				$('.race_class_list').empty();
				$('.race_class_list').append('<li><a href="/stream/class/0">' + __("Current Class") + '</a></li>');

				for (var i in rotorhazard.event.classes) {
					var race_class = rotorhazard.event.classes[i];

					$('.race_class_list').append('<li><a href="/stream/class/' + race_class.id + '">' + race_class.displayname + '</a></li>');
				}
			}
		}
	});

</script>
{% endblock %} {% block content %}
<main class="page-streamlist">
	<div class="panel">
		<div class="panel-header">
			<h1>{{ __("Streams") }}</h1>
		</div>
		<div class="panel-content">
			<h2>{{ __("Current Race Results") }}</h2>
			<ul><li><a href="/stream/results">{{ __("Current Race Results") }}</a></li></ul>

			<h2>{{ __("Node Overlays") }}</h2>
			<ul>
				{% for node in range(num_nodes) %}
					<li><a href="/stream/node/{{node + 1}}">{{ __("Node overlay") }} {{node + 1}}</a></li>
				{% endfor %}
			</ul>

			<h2>{{ __("Heat Displays") }}</h2>
			<ul class="heat_list">
				<li>Loading...</li>
			</ul>

			<h2>{{ __("Class Displays") }}</h2>
			<ul class="race_class_list">
				<li>Loading...</li>
			</ul>
		</div>
	</div>

	<!-- Custom UI -->
	<div id="custom-ui"></div>
</main>
{% endblock %}
