{% extends "layout.html" %} {% block title %}{{ __('Firmware Update') }}{% endblock %} {% block head %}

<script type="text/javascript" charset="utf-8">
	var upd_msgs_text = "";

	$(document).ready(function () {

		socket.on('upd_set_info_text', function (msg) {
			$('#info_text').html(msg);
		});

		socket.on('upd_enable_update_button', function () {
			$('button#do_update').prop('disabled', false);
		});

		socket.on('upd_messages_init', function (msg) {
			upd_msgs_text = msg + "\n";
			$('#upd_messages').html($('<div/>').text(upd_msgs_text).html());
		});

		socket.on('upd_messages_append', function (msg) {
			upd_msgs_text = upd_msgs_text + msg + "\n";
			$('#upd_messages').text(upd_msgs_text);
		});

		socket.on('upd_messages_finish', function () {
			$('#close_button_div').html("<a href=\"/settings\" class=\"debug button-like\">{{ __('Close') }}</a>");
		});

		$('button#do_update').click(function (event) {
			$('button#do_update').prop('disabled', true);
			var data = {
				src_file_str: $('#src_file_str').val()
			};
			socket.emit('do_bpillfw_update', data);
			return false;
		});

		$('#src_file_str').on("focusin", function(event) {
			$('button#do_update').prop('disabled', true);
			$('#info_text').html("<br><br><br><br>");
		});

		$('#src_file_str').on("focusout", function(event) {
			$('button#do_update').prop('disabled', true);
			$('#info_text').html("Checking firmware file...<br><br><br><br>");
			var data = {
				src_file_str: $('#src_file_str').val()
			};
			socket.emit('check_bpillfw_file', data);
		});

		$("#src_file_str").keyup(function(event) {
			if (event.keyCode === 13) {  // make 'Enter' key on input field trigger file check
				$("#src_file_str").blur();
			}
		});

		$('button#do_update').prop('disabled', true);
		socket.emit('check_bpillfw_file', { src_file_str: $('#src_file_str').val() });

	});
</script>
{% endblock %} {% block content %}

<main class="page-updatenodes">
<h2>{{ __('Update Node Firmware') }}</h2>
<div id="top_text">
	{{ __('The processor on the RotorHazard S32_BPill board will be flash-updated using the firmware file below') }}:
</div>
<br />
<input type="text" id="src_file_str" value="{{ fw_src_str }}" />
<br />
<br />
<div id="info_text">
	{{ __('Checking firmware file') }}...<br><br><br><br>
</div>
<br />
<a href="/settings" class="debug button-like">{{ __('Cancel') }}</a>&nbsp;
<button id="do_update" class="btn-warning" disabled>{{ __('Update') }}</button>
<br />
<br />
<pre>
<div id="upd_messages"></div>
</pre>
<div id="close_button_div"></div>

</main>
{% endblock %}