{% extends "layout.html" %} {% block title %}VRx Status{% endblock %} {% block head %}
<script type="text/javascript" charset="utf-8">
	$(document).ready(function () {
		socket.emit('load_data', {'load_types': [
			'all_languages',
			'language',
			'vrx_list',
		]});

		socket.on('all_languages', function (msg) {
			rotorhazard.language_strings = msg.languages;
		});

		socket.on('language', function (msg) {
			if (msg.language) {
				rotorhazard.interface_language = msg.language;
			}
		});

		socket.on('vrx_list', function (msg) {
			$('#vrx-table').empty;
			var table = $('<table>');

			var thead = $('<thead>');
			var header_row = $('<tr>');
			var tbody = $('<tbody>');

			var first_obj = true;
			for (var i in msg.vrx) {
				var body_row = $('<tr>');

				if (first_obj) {
					header_row.append('<th>id</th>');
				}
				body_row.append('<td>' + i + '</td>');

				$.each(msg.vrx[i], function(key, val){
					if (first_obj) {
						header_row.append('<th>' + key + '</th>');
					}
					body_row.append('<td>' + val + '</td>');
				})

				tbody.append(body_row);
			}

			thead.append(header_row);
			table.append(thead);
			table.append(tbody);
			$('#vrx-table').append(table);
		});
	});
</script>
<style>
table {
	font-size: 0.75rem;
}
</style>
{% endblock %} {% block content %}
<main class="page-database">
<h1>{{ __('VRx Status') }}</h1>
<div id="vrx-table"></div>

</main>
{% endblock %}